<h1 mat-dialog-title>Cambiar Estado</h1>
<div mat-dialog-content>

  <h6>{{data.lote.manzana}} {{data.lote.nombre}}</h6>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

    <div class="form-group">
      <select class="form-control" formControlName="id_estado_lote"  id="id_estado_lote" name="id_estado_lote">
       <!--  <option value="">Seleccionar</option> -->
        <option [value]="estado.id_estado_lote" *ngFor="let estado of data.estados">{{estado.descripcion}}</option>
      </select>
    </div>

  </form>


</div>
<div mat-dialog-actions>
  <button type="button" mat-button [mat-dialog-close]="false">CERRAR</button>
  <button type="submit" mat-button form="id_form" color="primary">GUARDAR</button>
</div>