.mat-icon-card {
    font-size: 70px;//90px; 
    position:absolute; 
    right:0; 
    bottom:0;
    color:rgba(0, 0, 0, 0.15);
}

.fa-icon-card {
    font-size: 60px;//80px; 
    position:absolute; 
    right:0;     
    bottom: 0;
    color:rgba(0, 0, 0, 0.15);
    padding-bottom: 0.5rem;
    padding-right: 0.6rem;
}

.fa-icon-card-link {
    font-size: 30px; 
    position:absolute; 
    right:0;     
    top: 0;
    //color:rgba(0, 0, 0, 0.15);
    padding-top: 0.5rem;
    padding-right: 0.6rem;
}