.mat-icon-card {
    font-size: 90px; 
    position:absolute; 
    right:0; 
    top:0;
    color:rgba(0, 0, 0, 0.15);
}

.fa-icon-card {
    font-size: 80px; 
    position:absolute; 
    right:0; 
    top:0;
    color:rgba(0, 0, 0, 0.15);
    padding-top: 0.5rem;
    padding-right: 0.6rem;
}