<div class="container mt-2 mb-5">
  <div>
    <mat-form-field class="w-100">
      <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
        <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_ventas|| 0) |currency }}</h3>
        <p>VENTAS TOTAL</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.pagado_ventas|| 0) |currency }}</h3>
        <p>VENTAS PAGADO</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_ventas - estadisticas?.pagado_ventas || 0) |currency }}</h3>
        <p>VENTAS PENDIENTE</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_manzanas|| 0) | number }}</h3>
        <p>MANZANAS</p>
        <i class="material-icons fa fa-apple mt-2 mr-2" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_lotes?.Total || 0 ) | number }}</h3>
        <p>LOTES</p>
        <i class="material-icons fa fa-home" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_prototipos|| 0) |number }}</h3>
        <p>PROTOTIPOS</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">donut_large</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_obra|| 0) |currency }}</h3>
        <p>OBRA</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_inventario|| 0) |currency }}</h3>
        <p>INVENTARIO</p>
        <i class="material-icons fa fa-sort-amount-desc mt-2 mr-2" style="font-size: 75px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_obra - (estadisticas.total_avances_ma*1 + estadisticas.total_avances_mo*1)|| 0) |currency}}</h3>
        <p>PENDIENTE OBRA</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_gastos || 0) |currency }}</h3>
        <p>GASTOS OBRA</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(((estadisticas?.total_avances_ma*1 + estadisticas?.total_avances_mo*1)/estadisticas?.total_obra)|| 0) | percent:'1.2-2'}}
        </h3>
        <p>AVANCE OBRA</p>
        <i class="material-icons fa fa-percent mt-2 mr-2" style="font-size: 75px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_avances_ma|| 0) |currency }}</h3>
        <p>AVANCE MA</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_avances_mo|| 0) |currency }}</h3>
        <p>AVANCE MO</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{ (estadisticas?.total_avances_mo*1 + estadisticas?.total_avances_ma*1) || 0 |currency }}</h3>
        <p>AVANCE MO + MA</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_salidas|| 0) |number }}</h3>
        <p>SALIDAS</p>
        <i class="material-icons fa fa-arrow-circle-o-up mt-2 mr-2" style="font-size: 80px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_alertas|| 0) |number }}</h3>
        <p>SALIDAS ALERTA</p>
        <i class="material-icons fa fa-bell-o mt-2 mr-2" style="font-size: 75px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.count_entradas|| 0) |number }}</h3>
        <p>ENTRADAS</p>
        <i class="material-icons fa fa-arrow-circle-o-down mt-2 mr-2" style="font-size: 80px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)"></i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3 *ngIf="estadisticas.ultimo_avance">{{estadisticas.ultimo_avance | date:'mediumDate':'':'es'}}</h3>
        <h3 *ngIf="!estadisticas.ultimo_avance">-</h3>
        <p>ÚLTIMO AVANCE</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">today</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3 *ngIf="estadisticas.ultimo_pago">{{estadisticas.ultimo_pago | date:'mediumDate':'':'es'}}</h3>
        <h3 *ngIf="!estadisticas.ultimo_pago">-</h3>
        <p>ÚLTIMO PAGO</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">today</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
      <mat-card class="">
        <h3>{{(estadisticas?.total_pagos|| 0) |currency }}</h3>
        <p>PAGADO MO</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;color:rgba(0, 0, 0, 0.15)">attach_money</i>
      </mat-card>
    </div>
  </div>
</div>