<div class="container">

  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>

  <div class="row">
    <div class="col-12">
      

      <!-- seleccionar obra -->

      <div class=" my-1 mb-2">        
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
                      <option value="">Seleccionar...</option>
                      <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>                                     
                  </select>
      </div>

      <div class="card my-1">
        <div class="card-header">
          Lista de clientes
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>RFC</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.id_cliente}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.rfc}}</td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                        <md-icon>more_vert</md-icon>
                      </button>
                    <md-menu #menu="mdMenu">
                      <button md-menu-item (click)="editarCliente(cliente)">
                          <md-icon>create</md-icon>
                          <span>Editar</span>
                        </button>
                      <button md-menu-item (click)="delCliente(cliente)">
                          <md-icon>delete</md-icon>
                          <span>Eliminar</span>
                        </button>
                    </md-menu>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>