<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/mapas-ventas', obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Mapas Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">map</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/clientes',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">contacts</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/desarrollos',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Desarrollos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">assignment_turned_in</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/alerta-clientes']">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Alerta Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">notifications</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/clientes-sin-lote">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Clientes Sin Lote</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">person_outline</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a routerLink="/nuevo-cliente" class="no-decoration">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Nuevo Cliente</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">person_add</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/estadisticas-ventas',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Estadísticas Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">assessment</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/ventas-pagos',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Ventas Pagos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">attach_money</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/instituciones-credito">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Instituciones Crédito</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">account_balance</i>
        </mat-card>
      </a>
    </div>

  </div>
</div>