<div class="container mt-2 mb-5">

  <div>
    <mat-form-field class="w-100">
      <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
        <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" (click)="reporteVentas()" class="pointer">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Reporte Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-file-pdf-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" (click)="reportePagos()" class="pointer">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Reporte Pagos</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-file-pdf-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

  </div>
</div>