<h5>{{data.lote.manzana}} {{data.lote.nombre}}</h5>
<div class="list-group text-center mt-3">
  <button type="button" tabindex="-1" class="list-group-item list-group-item-action pointer" (click)=cerrar(1)>Ver Clientes</button>
  <!-- <button type="button" tabindex="-1" class="list-group-item list-group-item-action pointer" (click)=cerrar(2)>Agregar Cliente</button> -->
  <button type="button" tabindex="-1" class="list-group-item list-group-item-action pointer" (click)=cerrar(3)>Cambiar Estado</button>
</div>
<div class="list-group text-center mt-3">
  <button type="button" tabindex="-1" class="list-group-item list-group-item-action pointer" (click)=cerrar(0)>Cancelar</button>
</div>