<h1 mat-dialog-title>Pedido</h1>

<div mat-dialog-content>

  <div>
    <mat-tab-group>
      <mat-tab label="Datos">
        <div class="container">
          <form [formGroup]="form" class="mt-2">
            <!--    <p>
            <b>Fecha: </b>{{data.fecha | date:'mediumDate':'':'es'}}</p>
          <p>
            <b>Obra: </b>{{data.obra}}</p>
          <p>
            <b>Usuario: </b>{{data.usuario}}</p>
          <p>
            <b>Descripción: </b>{{data.descripcion}}</p> -->
            <div class="form-group row">
              <label for="fecha" class="col-sm-3 col-form-label">Fecha</label>
              <div class="col-sm-9">
                <input readonly class="form-control" type="text" id="fecha" name="fecha" formControlName="fecha">
              </div>
            </div>
            <div class="form-group row">
              <label for="obra" class="col-sm-3 col-form-label">Obra</label>
              <div class="col-sm-9">
                <input readonly class="form-control" type="text" id="obra" name="obra" formControlName="obra">
              </div>
            </div>
            <div class="form-group row">
              <label for="usuario" class="col-sm-3 col-form-label">Usuario</label>
              <div class="col-sm-9">
                <input readonly class="form-control" type="text" id="usuario" name="usuario" formControlName="usuario">
              </div>
            </div>
            <div class="form-group row">
              <label for="descripcion" class="col-sm-3 col-form-label">Descripción</label>
              <div class="col-sm-9">
                <textarea readonly class="form-control" type="text" id="descripcion" name="descripcion" formControlName="descripcion"></textarea>
              </div>
            </div>
          </form>
        </div>

      </mat-tab>
      <mat-tab label="Desglose">
        <div class="demo-tab-content">
          <div class="table-responsive pt-3">
            <table id="tablaInsumos" class="table table-striped">
              <thead>
                <tr>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Partida</th>
                  <th>Subpartida</th>
                  <th>Insumo</th>
                  <th>Unidad</th>
                  <th>Solicitado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let insumo of data.pedido.insumos">
                  <td class="ws-nowrap">{{insumo.manzana}}</td>
                  <td class="ws-nowrap">{{insumo.lote}}</td>
                  <td>{{insumo.partida}}</td>
                  <td>{{insumo.subpartida}}</td>
                  <td>{{insumo.insumo}}</td>
                  <td>{{insumo.unidad}}</td>
                  <td>{{insumo.cantidad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Acumulado">
        <div class="demo-tab-content">
          <div class="demo-tab-content">
            <div class="table-responsive pt-3">
              <table id="tablaInsumosAcumulados" class="table table-striped">
                <thead>
                  <tr>
                    <th>Insumo</th>
                    <th>Unidad</th>
                    <th>Solicitado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let insumo of data.pedido.insumos_acumulados">
                    <td>{{insumo.insumo}}</td>
                    <td>{{insumo.unidad}}</td>
                    <td>{{insumo.cantidad}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
<div mat-dialog-actions>
  <button class="btn-block" mat-button [mat-dialog-close]="false">CERRAR</button>
</div>