<h1 mat-dialog-title>Editar Pago</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

    <div class="form-group row">
      <label for="destinatario" class="col-sm-3 col-form-label">Destinatario</label>
      <div class="col-sm-9">
        <!--    <select class="form-control" id="destinatario" name="destinatario" formControlName="destinatario" [ngClass]="{'is-invalid': form.get('destinatario').invalid  && (form.get('destinatario').dirty || form.get('destinatario').touched) }" disabled>
          <option value="">Seleccionar...</option>
          <option [value]="item.destinatario" *ngFor="let item of data.destinatarios">{{item.destinatario}}</option>
        </select> -->
        <input class="form-control" formControlName="destinatario" readonly>
        <div class="invalid-feedback">Seleccione un destinatario</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="porcentaje" class="col-sm-3 col-form-label">Porcentaje</label>
      <div class="input-group col-sm-9">
        <input type="text" class="form-control" name="porcentaje" id="porcentaje" formControlName="porcentaje" [ngClass]="{'is-invalid': form.get('porcentaje').invalid  && (form.get('porcentaje').dirty || form.get('porcentaje').touched) }">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
        <div class="invalid-feedback">Proporcione un porcentaje</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="monto" class="col-sm-3 col-form-label">Monto</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="monto" id="monto" [value]="calcMonto() | currency" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label for="fecha" class="col-sm-3 col-form-label">Fecha</label>
      <div class="input-group col-sm-9">
        <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha" placement="bottom-left" [matDatepicker]="dpFechaProgramada"
          formControlName="fecha" [ngClass]="{'is-invalid':form.get('fecha').invalid && (form.get('fecha').dirty || form.get('fecha').touched) }">
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="dpFechaProgramada.open()">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
        <div *ngIf="form.get('fecha').invalid && (form.get('fecha').dirty || form.get('fecha').touched)" class="visible invalid-feedback">
          Seleccione una fecha
        </div>
      </div>
      <mat-datepicker touchUi="true" #dpFechaProgramada></mat-datepicker>
    </div>

    <div class="form-group row">
      <label for="nota" class="col-sm-3 col-form-label">Nota</label>
      <div class="col-sm-9">
        <textarea col="3" class="form-control" type="text" name="nota" id="nota" formControlName="nota"></textarea>
      </div>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CERRAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>

  <!-- <button type="button" mat-button (click)="debug()">debug</button> -->
</div>