<h1 mat-dialog-title>Editar Pago</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

    <div class="form-group row">
      <label for="monto" class="col-sm-3 col-form-label">Monto</label>
      <div class="col-sm-9">
        <input [textMask]="{mask: numberMask}" class="form-control" type="text" name="monto" id="monto" formControlName="monto"
          [ngClass]="{'is-invalid': form.get('monto').invalid  && (form.get('monto').dirty || form.get('monto').touched )}">
        <div class="invalid-feedback">Proporcione un monto</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="fecha" class="col-sm-3 col-form-label">Fecha</label>
      <div class="input-group col-sm-9">
        <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha" placement="bottom-left" [matDatepicker]="dpFecha"
          formControlName="fecha" [ngClass]="{'is-invalid':form.get('fecha').invalid && (form.get('fecha').dirty || form.get('fecha').touched) }">
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="dpFecha.open()">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
        <div *ngIf="form.get('fecha').invalid && (form.get('fecha').dirty || form.get('fecha').touched)" class="visible invalid-feedback">
          Seleccione una fecha
        </div>
        <mat-datepicker touchUi="true" #dpFecha></mat-datepicker>
      </div>
    </div>

    <div class="form-group row">
      <label for="destinatario" class="col-sm-3 col-form-label">Destinatario</label>
      <div class="col-sm-9">
        <select class="form-control" id="destinatario" name="destinatario" formControlName="destinatario" [ngClass]="{'is-invalid': form.get('destinatario').invalid  && (form.get('destinatario').dirty || form.get('destinatario').touched) }">
          <option value="">Seleccionar...</option>
          <option [value]="">...</option>
        </select>
        <div class="invalid-feedback">Seleccione un destinatario</div>
      </div>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CERRAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>