<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">
      <!-- 
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div> -->

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          Lotes
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Precio</th>
                  <th>Estado</th>
                  <th>F. Estado</th>
                  <th>Alarma</th>
                  <th>Acciones</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lote of obra.lotes">
                  <td>{{lote.nombre_manzana}}</td>
                  <td>{{lote.nombre}}</td>
                  <td>{{lote.valor_base|currency}}</td>
                  <td>{{lote.estado_venta}}</td>
                  <td>{{lote.fecha_cambio_estado}}</td>
                  <td>
                    <span *ngIf="(lote.id_cliente && lote.id_estado_venta === '1')" matTooltip="El lote tiene cliente pero está en estado libre"
                      class="fa fa-exclamation-triangle text-danger"></span>
                    <span *ngIf="(!lote.id_cliente && lote.id_estado_venta !== '1')" matTooltip="El lote no tiene cliente asociado" class="fa fa-exclamation-triangle text-warning"></span>
                  </td>
                  <td>
                    <button mat-icon-button (click)="ventasLote(lote)">
                      <mat-icon>zoom_in</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>