<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>

<mat-drawer-container class="drawer-container">
  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:250px">

    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
    </mat-card>

    <div class="mb-3">

      <mat-accordion>

        <mat-expansion-panel class="manzanas" *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">

          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getLote(lote)">({{lote.prototipos.length || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>

      </mat-accordion>

    </div>

  </mat-drawer>

  <mat-drawer-content>

    <div class="drawer-content">

      <mat-tab-group>
        <mat-tab label="Lotes">
          <div class="container py-3">

            <!-- partidas -->
            <mat-accordion [displayMode]="'default'">

              <mat-expansion-panel [hideToggle]="true" *ngFor="let partida of partidas" #par>
                <mat-expansion-panel-header class="align-items-center" [ngClass]="{'bg-primary text-white':par.expanded}">
                  <span class="font-weight-bold align-self-center mr-1 d-none d-md-inline-block">{{partida.codigo}}</span>
                  <span class="align-self-center">{{partida.nombre}}</span>
                  <div class="spacer"></div>
                </mat-expansion-panel-header>


                <!-- subpartidas -->
                <mat-accordion [displayMode]="'default'" *ngIf="partida.subpartidas.length>0">

                  <mat-expansion-panel [hideToggle]="true" *ngFor="let subpartida of partida.subpartidas" #sub>

                    <mat-expansion-panel-header [ngClass]="{'bg-secondary text-white':sub.expanded}">
                      <span class="font-weight-bold align-self-center mr-1 d-none d-md-inline-block">{{subpartida.codigo}}</span>
                      <span class="align-self-center">{{subpartida.nombre}}</span>
                      <div class="spacer"></div>
                    </mat-expansion-panel-header>

                    <!-- insumos -->
                    <div class="table-responsive">
                      <!-- *ngIf="partida.insumos.length" -->
                      <table class="table table-striped table-align-middle">
                        <thead>
                          <tr>
                            <th class="d-none d-md-table-cell">Código</th>
                            <th>Insumo</th>
                            <th>Unidad</th>
                            <th class="text-right">Programado</th>
                            <th class="text-right">Pedido</th>
                            <th>Requerido</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let insumo of subpartida.insumos">

                            <td class="d-none d-md-table-cell">{{insumo.codigo}}</td>
                            <td>{{insumo.insumo}}</td>
                            <td>{{insumo.unidad}}</td>
                            <td class="text-right">{{insumo.cantidad}}</td>
                            <td class="text-right">{{insumo.pedido}}</td>
                            <td>
                              <input type="number" class="form-control">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-expansion-panel>

                </mat-accordion>

                <!-- insumos -->
                <div class="table-responsive" *ngIf="partida.insumos.length>0">


                  <table class="table table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th class="hidden-xs">Código</th>
                        <th>Insumo</th>
                        <th>Unidad</th>
                        <th class="text-right">Programado</th>
                        <th class="text-right">Pedido</th>
                        <th>Requerido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let insumo of partida.insumos">
                        <td class="hidden-xs">{{insumo.codigo}}</td>
                        <td>{{insumo.insumo}}</td>
                        <td>{{insumo.unidad}}</td>
                        <td class="text-right">{{insumo.cantidad}}</td>
                        <td class="text-right">{{insumo.pedido}}</td>
                        <td>
                          <input type="text" class="form-control">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


              </mat-expansion-panel>

            </mat-accordion>


            <!-- acordeon -->
            <!-- <div class="box-group" id="accordionPedido">

               Partida 
              <div class="panel panel-primary" ng-repeat="partida in ctrl.lotePedido_selected.partidas">
                <div class="panel-heading" style="display: flex;">
                  <a data-toggle="collapse" href="" data-parent="#accordionPedido" data-target="#pedido_{{partida.id_partida}}" aria-expanded="false"
                    class="collapsed panel-title" style="flex-grow: 1;">
                    <span class="hidden-xs">{{partida.nombre_prototipo + " - "|uppercase}}</span> {{partida.nombre|uppercase}}
                  </a>
                  <div>                  
                    <span class="badge bg-black hidden-xs" ng-show="partida.subpartidas.length">{{ctrl.countInsumosPedidoPartida(partida)}}</span>
                    <span class="badge bg-black hidden-xs" ng-show="partida.insumos.length">{{ctrl.countInsumosPedido(partida.insumos)}}</span>
                  </div>
                </div>
                <div id="pedido_{{partida.id_partida}}" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body p-sm">
                     insumos
                    <div class="table-responsive" ng-show="partida.insumos.length">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="hidden-xs">Código</th>
                            <th>Insumo</th>
                            <th>Unidad</th>
                            <th class="text-right">Programado</th>
                            <th>Pedido</th>
                            <th>Requerido</th>                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="insumo in partida.insumos">
                            <td class="hidden-xs">{{insumo.codigo|uppercase}}</td>
                            <td>{{insumo.insumo|uppercase}}</td>
                            <td>{{insumo.unidad|uppercase}}</td>
                            <td class="text-right">{{insumo.cantidad}}</td>
                            <td class="text-right">{{insumo.pedido}}</td>
                            <td>
                              <input type="text" style="width: 120px" class="form-control" ng-model="insumo.requerido">
                            </td>                   
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    subpartidas 
                    <div class="panel panel-default mb-sm" ng-repeat="subpartida in partida.subpartidas">
                      <div class="panel-heading" style="display: flex;">

                        <a data-toggle="collapse" href="" data-parent="#pedido_{{partida.id_partida}}" data-target="#pedido_{{subpartida.id_partida}}"
                          aria-expanded="false" class="collapsed panel-title" style="flex-grow: 1;">
                          <strong>{{subpartida.codigo|uppercase}}</strong> {{subpartida.nombre|uppercase}}
                        </a>
                        <div>                        
                          <span class="badge bg-gray-light hidden-xs">{{ctrl.countInsumosPedido(subpartida.insumos)}}</span>
                        </div>
                      </div>
                      <div id="pedido_{{subpartida.id_partida}}" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body p-sm">
                          <div class="table-responsive" ng-show="subpartida.insumos.length">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="hidden-xs">Código</th>
                                  <th>Insumo</th>
                                  <th>Unidad</th>
                                  <th class="text-right">Programado</th>
                                  <th>Pedido</th>
                                  <th>Requerido</th>                                 
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="insumo in subpartida.insumos">
                                  <td class="hidden-xs">{{insumo.codigo|uppercase}}</td>
                                  <td>{{insumo.insumo|uppercase}}</td>
                                  <td>{{insumo.unidad|uppercase}}</td>
                                  <td class="text-right">{{insumo.cantidad}}</td>
                                  <td class="text-right">{{insumo.pedido}}</td>
                                  <td>
                                    <input type="text" style="width: 120px" class="form-control" ng-model="insumo.requerido">
                                  </td>                       
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

            <!-- Insumos Extra -->
            <!--   <div class="panel panel-primary" ng-if="ctrl.lotePedido_selected.id_lote">
                <div class="panel-heading" style="display: flex;">
                  <a data-toggle="collapse" href="" data-parent="#accordionPedido" data-target="#extra_{{ctrl.lotePedido_selected.id_lote}}"
                    aria-expanded="false" class="collapsed panel-title" style="flex-grow: 1;">
                    INSUMOS EXTRA
                  </a>
                  <div>   
                    <span class="badge bg-black hidden-xs">{{ctrl.countInsumosPedido(ctrl.lotePedido_selected.insumos_extra)}}</span>
                  </div>
                </div>
                <div id="extra_{{ctrl.lotePedido_selected.id_lote}}" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body p-sm">
                   
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="hidden-xs">Código</th>
                            <th>Insumo</th>
                            <th>Unidad</th>
                            <th>Pedido</th>
                            <th>Requerido</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="insumo in ctrl.lotePedido_selected.insumos_extra">
                            <td class="hidden-xs">{{insumo.codigo|uppercase}}</td>
                            <td>{{insumo.insumo|uppercase}}</td>
                            <td>{{insumo.unidad|uppercase}}</td>
                            <td class="text-right">{{insumo.pedido}}</td>
                            <td>
                              <input type="text" style="width: 120px" class="form-control" ng-model="insumo.requerido">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->

            <!-- </div> -->



          </div>
        </mat-tab>
        <mat-tab label="Pedido">
          <div class="container py-3"></div>
        </mat-tab>

      </mat-tab-group>

    </div>
  </mat-drawer-content>



</mat-drawer-container>