
.drawer-container{
    height: 100%;
}

.avances .list-group-item {
    padding-left: 5px !important;
    padding-right: 0 !important;
}


navbar {

    background: #BDBDBD;

}

.manzanas {
    background-color: #2c3b41;
    color:#8aa4af;
}

.estructura {
    background-color: #222d32;
}

.manzanas .list-group-item{
    background-color: #2c3b41;
    color:#8aa4af;
    cursor: pointer;

    &:hover {
        color:white;
    }
}

/*********funciona cuando  pantalla > 600px **********/
//height: 100%;
//position: relative;
/**************************************************/
.content {
    //3rem del pb-5, .5rem del pt-2
    min-height: calc(100vh - 64px);
}

/********** aplicar cuando pantalla < 600 px *****/
//height toolbar = pantalla < 600px? 56px: 64px
//height: calc(100vh - 64px);
/***************************/
@media only screen and (max-width: 600px) {
    .content{
        //3rem del pb-5, .5rem del pt-2
        min-height: calc(100vh - 56px);
    }
}