<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>



<mat-drawer-container class="drawer-container">

  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:300px">
    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
      <!--    <div class="d-flex">
                  <span><i class="fa fa-share"></i></span>
                  <span>{{obra?.obra?.nombre || ""}}</span>
                  <div class="spacer"></div>
                  <span class="badge badge-pill badge-warning align-self-center mr-2">{{obra?.manzanas?.length || "0"}}</span>
              </div> -->
    </mat-card>
    <div class="mb-3">
      <mat-accordion>
        <mat-expansion-panel class="manzanas" *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">
          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <!--  <li class="list-group-item">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</li> -->
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getAvancesLote(lote)">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <div class="container mt-3 mb-5">

      <div class="row">
        <div class="col-12">

          <ol class="breadcrumb colorBread">
            <li class="breadcrumb-item text-primary">

            </li>
            <li class="breadcrumb-item text-primary">

            </li>
            <li class="breadcrumb-item text-primary"></li>
          </ol>


          <div class="card">
            <div class="card-header">
              Asignar Trabajador
            </div>

            <form class="form-inline mt-2">
              <div class="input-group mx-2">
                <select class="custom-select" id="inputGroupSelect04">
                  <option selected>Seleccionar Trabajador</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Asignar</button>
                </div>
              </div>
              <div class="input-group mx-2">
                <select class="custom-select" id="inputGroupSelect04">
                  <option selected>Seleccionar Lote</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Copiar</button>
                </div>
              </div>
            </form>


            <div>
              <div class="table-responsive mt-2">
                <table matSort (matSortChange)="ordenarDatos($event)" class="table table-hover table-striped table-align-middle">
                  <thead>
                    <tr>
                      <th></th>
                      <th mat-sort-header="familia">Familia</th>
                      <th mat-sort-header="especialidad">Especialidad</th>
                      <th mat-sort-header="trabajador">Trabajador</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <button mat-button class=" no-min" (click)="delTrabajador()">
                          <i class="fa fa-ban "></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </mat-drawer-content>


</mat-drawer-container>