<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>



<mat-drawer-container class="drawer-container">

  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:250px">
    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)" tabindex="-1">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
    </mat-card>
    <div class="mb-3">
      <mat-accordion>
        <mat-expansion-panel class="manzanas" *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">
          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getEspecialidadesLote(lote)">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <div class="container-fluid content pt-2 pb-5">

      <div class="row">
        <div class="col-12">

          <ol class="breadcrumb colorBread">
            <li class="breadcrumb-item text-primary">{{lote.obra}}</li>
            <li class="breadcrumb-item text-primary">{{lote.manzana}}</li>
            <li class="breadcrumb-item text-primary">{{lote.nombre}}</li>
          </ol>


          <div class="card">
            <div class="card-header">
              Asignar Trabajadores
            </div>

            <div class="form-inline">
              <div class="input-group mt-2 ml-2 mx-2">
                <select class="custom-select" [(ngModel)]="trabajador_selected">
                  <option value="">Seleccionar Trabajador</option>
                  <option *ngFor="let t of trabajadores" [value]="t.id_trabajador">{{t.nombre}} ({{t.especialidad}})</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="asignarTrabajador()" [disabled]="trabajador_selected=='' || !lote.id_lote || selection.isEmpty()">Asignar</button>
                </div>
              </div>
              <div class="input-group mt-2 mx-2">
                <select class="custom-select" [(ngModel)]="lote_origen">
                  <option value="">Seleccionar Lote</option>
                  <option *ngFor="let l of lotes_iguales" [value]="l.id_lote">{{l.manzana}} {{l.nombre}}</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="copiarEspecialidades()" [disabled]="lote_origen==''">Copiar</button>
                </div>
              </div>
            </div>


            <div>
              <div class="table-responsive mt-2">
                <table class="table table-hover table-striped table-align-middle">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Familia</th>
                      <th>Especialidad</th>
                      <th>Trabajador</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let e of especialidades" class="pointer" (click)="seleccionarEspecialidad(e)" [ngClass]="{'table-primary':selection.isSelected(e)}">
                      <td>
                        <mat-checkbox class="pl-2" (click)="$event.stopPropagation()" (change)="$event ? seleccionarEspecialidad(e) : null" [checked]="selection.isSelected(e)"></mat-checkbox>
                      </td>
                      <td>{{e.familia}}</td>
                      <td>{{e.especialidad}}</td>
                      <td>
                        <strong>{{e.trabajador}}</strong>
                        <small>{{e.especialidad_trabajador}}</small>
                      </td>
                      <td>
                        <button mat-button class=" no-min" matTooltip="Eliminar" [disabled]="!e.id_trabajador" (click)="$event.stopPropagation();delEspecialidadLote(e)">
                          <i class="fa fa-ban"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </mat-drawer-content>


</mat-drawer-container>