<h1 mat-dialog-title>Agregar Vendedor</h1>
<div mat-dialog-content>
  <form>
    <div class="form-group">
      <label for="inputState">Vendedor</label>
      <select id="inputState" class="form-control">
        <option>Seleccionar</option>
        <option value="1">Vendedor 1</option>
        <option value="2">Vendedor 2</option>
        <option value="3">Vendedor 3</option>
      </select>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button type="submit" mat-button color="primary">AGREGAR</button>
</div>