<h1 mat-dialog-title>Manzana 1/
  <strong>Lote 1</strong>
</h1>
<div mat-dialog-content>



  <!-- clientes -->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-align-middle">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Activación</th>
          <th>Cancelación</th>
          <th>
            <button mat-icon-button tabindex="-1">
              <mat-icon>add</mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" (click)="selectCliente(cliente)" [ngClass]="{'table-primary':selectionCliente.isSelected(cliente)}" *ngFor="let cliente of data.clientes">

          <td>
            <mat-checkbox class="pl-2" (click)="$event.stopPropagation()" (change)="$event ? selectCliente(cliente) : null" [checked]="selectionCliente.isSelected(cliente)"></mat-checkbox>
          </td>

          <td class="ws-nowrap">{{cliente.nombre}}</td>
          <td>{{cliente.activo}}</td>
          <td class="ws-nowrap">{{cliente.fecha_activacion}}</td>
          <td class="ws-nowrap">{{cliente.fecha_cancelacion}}</td>
          <td class="text-right">
            <button mat-icon-button>
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-tab-group>

    <!-- Datos Generales -->
    <mat-tab label="Cliente">
      <div class="container py-3">
        <form [formGroup]="formGenerales" (ngSubmit)="guardarGenerales()" *ngIf="cliente_selected">

          <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
              <mat-checkbox>Comisión</mat-checkbox>
              <!-- <small class="d-block text-muted">Indica si la venta se incorpora al módulo de Comisiones</small> -->
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
              <mat-checkbox>Con Factoraje</mat-checkbox>
              <!-- <small class="d-block text-muted">Indica si la venta se incorpora al módulo de Comisiones</small> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="id_tipo_credito" class="col-form-label col-sm-4">Tipo Crédito</label>
            <div class="col-sm-8">
              <select id="id_tipo_credito" name="id_tipo_credito" formControlName="id_tipo_credito" [(ngModel)]="id_tipo_credito" class="form-control"
                [ngClass]="{'is-invalid':formGenerales.get('id_tipo_credito').invalid && (formGenerales.get('id_tipo_credito').dirty || formGenerales.get('id_tipo_credito').touched )}">
                <option [value]="">Seleccione crédito</option>
                <option [value]="tipo.id_tipo_credito" *ngFor="let tipo of data.tipos_creditos">{{tipo.credito}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_tipo_credito').invalid && (formGenerales.get('id_tipo_credito').dirty || formGenerales.get('id_tipo_credito').touched )"
                class="visible invalid-feedback">
                Indique el crédito
              </div>
            </div>
          </div>

          <div class="form-group row mt-3" *ngIf="id_tipo_credito == '1'">
            <label for="id_estado_infonavit" class="col-form-label col-sm-4">Estado Infonavit</label>
            <div class="col-sm-8">
              <select class="form-control" id="id_estado_infonavit" name="id_estado_infonavit" formControlName="id_estado_infonavit" [ngClass]="{'is-invalid':formGenerales.get('id_estado_infonavit').invalid && (formGenerales.get('id_estado_infonavit').dirty || formGenerales.get('id_estado_infonavit').touched )}">
                <option [value]="">Seleccione</option>
                <option [value]="estado.id_estado_infonavit" *ngFor="let estado of data.estados_infonavit">{{estado.nombre}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado_infonavit').invalid && (formGenerales.get('id_estado_infonavit').dirty || formGenerales.get('id_estado_infonavit').touched )"
                class="visible invalid-feedback">
                Seleccione un estado
              </div>
            </div>
          </div>

          <div class="form-group row mt-3" *ngIf="id_tipo_credito == '2'">
            <label for="id_estado_fovissste" class="col-form-label col-sm-4">Estado Fovissste</label>
            <div class="col-sm-8">
              <select class="form-control" id="id_estado_fovissste" name="id_estado_fovissste" formControlName="id_estado_fovissste" [ngClass]="{'is-invalid':formGenerales.get('id_estado_fovissste').invalid && (formGenerales.get('id_estado_fovissste').dirty || formGenerales.get('id_estado_fovissste').touched )}">
                <option [value]="">Seleccione</option>
                <option [value]="estado.id_estado_fovissste" *ngFor="let estado of data.estados_fovissste">{{estado.nombre}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado_fovissste').invalid && (formGenerales.get('id_estado_fovissste').dirty || formGenerales.get('id_estado_fovissste').touched )"
                class="visible invalid-feedback">
                Seleccione un estado
              </div>
            </div>
          </div>

          <div class="form-group row mt-3" *ngIf="id_tipo_credito == '3'">
            <label for="id_estado_contado" class="col-form-label col-sm-4">Estado Contado</label>
            <div class="col-sm-8">
              <select class="form-control" id="id_estado_contado" name="id_estado_contado" formControlName="id_estado_contado" [ngClass]="{'is-invalid':formGenerales.get('id_estado_contado').invalid && (formGenerales.get('id_estado_contado').dirty || formGenerales.get('id_estado_contado').touched )}">
                <option [value]="">Seleccione</option>
                <option [value]="estado.id_estado_contado" *ngFor="let estado of data.estados_contado">{{estado.nombre}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado_contado').invalid && (formGenerales.get('id_estado_contado').dirty || formGenerales.get('id_estado_contado').touched )"
                class="visible invalid-feedback">
                Seleccione un estado
              </div>
            </div>
          </div>

          <div class="form-group row mt-3" *ngIf="id_tipo_credito == '4'">
            <label for="id_estado_banco" class="col-form-label col-sm-4">Estado Banco</label>
            <div class="col-sm-8">
              <select class="form-control" id="id_estado_banco" name="id_estado_banco" formControlName="id_estado_banco" [ngClass]="{'is-invalid':formGenerales.get('id_estado_banco').invalid && (formGenerales.get('id_estado_banco').dirty || formGenerales.get('id_estado_banco').touched )}">
                <option [value]="">Seleccione</option>
                <option [value]="estado.id_estado_banco" *ngFor="let estado of data.estados_bancos">{{estado.nombre}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado_banco').invalid && (formGenerales.get('id_estado_banco').dirty || formGenerales.get('id_estado_banco').touched )"
                class="visible invalid-feedback">
                Seleccione un estado
              </div>
            </div>
          </div>

          <div class="form-group row mt-3" *ngIf="id_tipo_credito == '5'">
            <label for="id_estado_confinanciamiento" class="col-form-label col-sm-4">Estado Cofinanciamiento</label>
            <div class="col-sm-8">
              <select class="form-control" id="id_estado_confinanciamiento" name="id_estado_confinanciamiento" formControlName="id_estado_confinanciamiento"
                [ngClass]="{'is-invalid':formGenerales.get('id_estado_confinanciamiento').invalid && (formGenerales.get('id_estado_confinanciamiento').dirty || formGenerales.get('id_estado_confinanciamiento').touched )}">
                <option [value]="">Seleccione</option>
                <option [value]="estado.id_estado_confinanciamiento" *ngFor="let estado of data.estados_cofinanciamiento">{{estado.nombre}}</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado_confinanciamiento').invalid && (formGenerales.get('id_estado_confinanciamiento').dirty || formGenerales.get('id_estado_confinanciamiento').touched )"
                class="visible invalid-feedback">
                Seleccione un estado
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="id_tipo_credito == '1'">
            <label for="fecha_apartado" class="col-form-label col-sm-4">Fecha Infonavit</label>
            <div class="input-group col-sm-8">
              <input id="fecha_apartado" name="fecha_apartado" formControlName="fecha_apartado" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaApartado" [ngClass]="{'is-invalid':formGenerales.get('fecha_apartado').invalid && (formGenerales.get('fecha_apartado').dirty || formGenerales.get('fecha_apartado').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaApartado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_apartado').invalid && (formGenerales.get('fecha_apartado').dirty || formGenerales.get('fecha_apartado').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaApartado></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="id_tipo_credito == '2'">
            <label for="fecha_checklist" class="col-form-label col-sm-4">Fecha Fovissste</label>
            <div class="input-group col-sm-8">
              <input id="fecha_checklist" name="fecha_checklist" formControlName="fecha_checklist" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaDocumentos" [ngClass]="{'is-invalid':formGenerales.get('fecha_checklist').invalid && (formGenerales.get('fecha_checklist').dirty || formGenerales.get('fecha_checklist').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaDocumentos.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_checklist').invalid && (formGenerales.get('fecha_checklist').dirty || formGenerales.get('fecha_checklist').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaDocumentos></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="id_tipo_credito == '3'">
            <label for="fecha_infonavit" class="col-form-label col-sm-4">Fecha Contado</label>
            <div class="input-group col-sm-8">
              <input id="fecha_infonavit" name="fecha_infonavit" formControlName="fecha_infonavit" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_infonavit').invalid && (formGenerales.get('fecha_infonavit').dirty || formGenerales.get('fecha_infonavit').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_infonavit').invalid && (formGenerales.get('fecha_infonavit').dirty || formGenerales.get('fecha_infonavit').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="id_tipo_credito == '4'">
            <label for="fecha_firma" class="col-form-label col-sm-4">Fecha Banco</label>
            <div class="input-group col-sm-8">
              <input id="fecha_firma" name="fecha_firma" formControlName="fecha_firma" class="form-control" placeholder="yyyy-mm-dd" type="text"
                placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_firma').invalid && (formGenerales.get('fecha_firma').dirty || formGenerales.get('fecha_firma').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_firma').invalid && (formGenerales.get('fecha_firma').dirty || formGenerales.get('fecha_firma').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>
          
          <div class="form-group row" *ngIf="id_tipo_credito == '5'">
            <label for="fecha_entregado" class="col-form-label col-sm-4">Fecha Cofinanciamiento</label>
            <div class="input-group col-sm-8">
              <input id="fecha_entregado" name="fecha_entregado" formControlName="fecha_entregado" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_entregado').invalid && (formGenerales.get('fecha_entregado').dirty || formGenerales.get('fecha_entregado').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_entregado').invalid && (formGenerales.get('fecha_entregado').dirty || formGenerales.get('fecha_entregado').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" [ngClass]="{'is-invalid':formGenerales.get('nombre').invalid && (formGenerales.get('nombre').dirty || formGenerales.get('nombre').touched )}">
              <div *ngIf="formGenerales.get('nombre').invalid && (formGenerales.get('nombre').dirty || formGenerales.get('nombre').touched )"
                class="visible invalid-feedback">
                Indique un nombre
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="fecha_nacimiento" class="col-form-label col-sm-4">Fecha de nacimiento</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input id="fecha_nacimiento" name="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control" placeholder="yyyy-mm-dd"
                  type="text" name="fecha_nacimiento" [matDatepicker]="dpFechaNacimiento" [ngClass]="{'is-invalid':formGenerales.get('fecha_nacimiento').invalid && (formGenerales.get('fecha_nacimiento').dirty || formGenerales.get('fecha_nacimiento').touched )}">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="dpFechaNacimiento.open()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
              <div *ngIf="formGenerales.get('fecha_nacimiento').invalid && (formGenerales.get('fecha_nacimiento').dirty || formGenerales.get('fecha_nacimiento').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaNacimiento></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="curp" class="col-form-label col-sm-4">CURP</label>
            <div class="col-sm-8">
              <input name="curp" id="curp" formControlName="curp" [textMask]="{mask: maskCURP}" type="text" class="form-control" [ngClass]="{'is-invalid':formGenerales.get('curp').invalid && (formGenerales.get('curp').dirty || formGenerales.get('curp').touched )}">
              <div *ngIf="formGenerales.get('curp').invalid && (formGenerales.get('curp').dirty || formGenerales.get('curp').touched )"
                class="visible invalid-feedback">
                Indique la curp del cliente
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="seguro_social" class="col-form-label col-sm-4">Seguro Social</label>
            <div class="col-sm-8">
              <input [textMask]="{mask: maskCURP}" type="text" class="form-control" id="seguro_social" name="seguro_social" formControlName="seguro_social"
                [ngClass]="{'is-invalid': formGenerales.get('seguro_social').invalid  && (formGenerales.get('seguro_social').dirty || formGenerales.get('seguro_social').touched )}">
              <div class="invalid-feedback">Proporcione número de seguro social</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="telefono" class="col-form-label col-sm-4">Teléfono</label>
            <div class="col-sm-8">
              <input name="telefono" id="telefono" formControlName="telefono" [textMask]="{mask: maskPhone}" type="text" class="form-control"
                [ngClass]="{'is-invalid':formGenerales.get('telefono').invalid && (formGenerales.get('telefono').dirty || formGenerales.get('telefono').touched )}">
              <div *ngIf="formGenerales.get('telefono').invalid && (formGenerales.get('telefono').dirty || formGenerales.get('telefono').touched )"
                class="visible invalid-feedback">
                Indique el teléfono del cliente
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="dtu" class="col-form-label col-sm-4">DTU</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input id="dtu" name="dtu" formControlName="dtu" class="form-control" placeholder="yyyy-mm-dd" type="text" [matDatepicker]="dpFechaDtu"
                  [ngClass]="{'is-invalid':formGenerales.get('dtu').invalid && (formGenerales.get('dtu').dirty || formGenerales.get('dtu').touched )}">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="dpFechaDtu.open()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
              <div *ngIf="formGenerales.get('dtu').invalid && (formGenerales.get('dtu').dirty || formGenerales.get('dtu').touched )" class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaDtu></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="precio_venta" class="col-form-label col-sm-4">Precio Venta</label>
            <div class="col-sm-8">
              <input [textMask]="{mask: numbermask}" id="precio_venta" name="precio_venta" formControlName="precio_venta" type="text" class="form-control"
                [ngClass]="{'is-invalid':formGenerales.get('precio_venta').invalid && (formGenerales.get('precio_venta').dirty || formGenerales.get('precio_venta').touched )}">
              <div *ngIf="formGenerales.get('precio_venta').invalid && (formGenerales.get('precio_venta').dirty || formGenerales.get('precio_venta').touched )"
                class="visible invalid-feedback">
                Indique precio venta
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="precio_escrituracion" class="col-form-label col-sm-4">Precio Escrituración</label>
            <div class="col-sm-8">
              <input [textMask]="{mask: numbermask}" type="text" class="form-control" name="precio_escrituracion" formControlName="precio_escrituracion"
                [ngClass]="{'is-invalid':formGenerales.get('precio_escrituracion').invalid && (formGenerales.get('precio_escrituracion').dirty || formGenerales.get('precio_escrituracion').touched )}">
              <div *ngIf="formGenerales.get('precio_escrituracion').invalid && (formGenerales.get('precio_escrituracion').dirty || formGenerales.get('precio_escrituracion').touched )"
                class="visible invalid-feedback">
                Indique un precio
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="monto_credito" class="col-form-label col-sm-4">Monto Crédito</label>
            <div class="col-sm-8">
              <input [textMask]="{mask: numbermask}" type="text" class="form-control" name="monto_credito" formControlName="monto_credito"
                [ngClass]="{'is-invalid':formGenerales.get('monto_credito').invalid && (formGenerales.get('monto_credito').dirty || formGenerales.get('monto_credito').touched )}">
              <div *ngIf="formGenerales.get('monto_credito').invalid && (formGenerales.get('monto_credito').dirty || formGenerales.get('monto_credito').touched )"
                class="visible invalid-feedback">
                Indique un precio
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_vendedor" class="col-form-label col-sm-4">Vendedor</label>
            <div class="col-sm-8">
              <select in="id_vendedor" name="id_vendedor" formControlName="id_vendedor" class="form-control" [ngClass]="{'is-invalid':formGenerales.get('id_vendedor').invalid && (formGenerales.get('id_vendedor').dirty || formGenerales.get('id_vendedor').touched )}">
                <option [value]="1">Vendedor 1</option>
                <option [value]="2">Vendedor 2</option>
              </select>
              <div *ngIf="formGenerales.get('id_vendedor').invalid && (formGenerales.get('id_vendedor').dirty || formGenerales.get('id_vendedor').touched )"
                class="visible invalid-feedback">
                Indique vendedor
              </div>
            </div>
          </div>

        </form>
      </div>

    </mat-tab>



    <!-- <Documentos> -->
    <mat-tab label="Documentos">
      <div class="container py-3">
        <form [formGroup]="formDocumentos" (ngSubmit)="guardarDocumentos()" *ngIf="cliente_selected">
          <mat-selection-list>
            <mat-list-option>IFE</mat-list-option>
            <mat-list-option>CURP</mat-list-option>
            <mat-list-option>ACTA DE NACIMIENTO</mat-list-option>
            <mat-list-option>COMPROBANTE DE DOMICILIO</mat-list-option>
          </mat-selection-list>
        </form>
      </div>
    </mat-tab>

    <!-- <Esquema Pagos> -->
    <mat-tab label="Pagos">
      <div class="container py-3" *ngIf="cliente_selected">

        <!-- totales -->
        <div class="row">

          <div class="col-12 col-sm-4 py-3">
            <div class="text-center">
              <h4 class="text-primary">
                {{cliente_selected.valor_operacion |currency }}
              </h4>
              <span>VALOR OPERACIÓN</span>
            </div>
          </div>

          <div class="col-12 col-sm-4 py-3">
            <div class="text-center">
              <h4 class="text-success">
                {{sumaPagos()|currency}}
              </h4>
              <span>-PAGOS REALIZADOS</span>
            </div>
          </div>

          <div class="col-12 col-sm-4 py-3">
            <div class="text-center">
              <h4 class="text-danger">
                {{saldoPendiente()| currency}}
              </h4>
              <span>=SALDO PENDIENTE</span>
            </div>
          </div>
        </div>

        <!-- pagos -->
        <div class="table-responsive">
          <table id="tablePagos" class="table table-striped table-hover table-align-middle mt-4">
            <thead>
              <tr>
                <th>Programación</th>
                <th>Pago</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Forma</th>
                <th>Nota</th>
                <th>Validado</th>
                <th>
                  <i class="fa fa-file-o"></i>
                </th>
                <th class="text-right" style="width:66px">
                  <button mat-icon-button (click)="nuevoPago()" matTooltip="Nuevo Pago">
                    <mat-icon>add</mat-icon>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pago of cliente_selected.pagos">
                <td class="ws-nowrap">{{pago.fecha_programacion}}</td>
                <td class="ws-nowrap">{{pago.fecha_pago}}</td>
                <td>{{pago.monto}}</td>
                <td>{{pago.id_tipo_pago}}</td>
                <td>{{pago.id_forma_pago}}</td>
                <td>{{pago.nota}}</td>
                <td>
                  <span class="badge badge-primary">{{pago.valido}}</span>
                </td>
                <td>
                  <a target="_blank">
                    <i class="fa fa-file-o"></i>
                  </a>
                </td>
                <td class="text-right">
                  <button mat-icon-button [matMenuTriggerFor]="menu4">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu4="matMenu">
                    <button mat-menu-item (click)="cargarFicha()">
                      <mat-icon>attachment</mat-icon>
                      <span>Comprobante</span>
                    </button>
                    <button mat-menu-item (click)="editarPago()">
                      <mat-icon>create</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="delPago()">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>




      </div>
    </mat-tab>



  </mat-tab-group>



</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button type="submit" mat-button color="primary">GUARDAR</button>
</div>