<div class="container">

  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>

  <div class="row">
    <div class="col-12">


      <!-- seleccionar obra -->

      <div class=" my-1 mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>                                     
        </select>
      </div>

      <div class="card my-1">
        <div class="card-header">
          <div class="d-flex padding-header">
            <div class="align-self-center">Prototipos</div>
            <div class="spacer"></div>
            <div>
              <button md-icon-button (click)="agregarPrototipo()">
                  <md-icon>add</md-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Fecha de Inicio</th>

                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Prototipo 1</td>
                  <td>Fecha 1</td>
                  <td class="text-right">
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                          </button>
                    <md-menu #menu="mdMenu">
                      <button md-menu-item (click)="editarPrototipo(cliente)">
                              <md-icon>create</md-icon>
                              <span>Editar Prototipo</span>
                            </button>
                      <button md-menu-item>
                                  <md-icon>file_download</md-icon>
                                  <span>Descargar archivo</span>
                                </button>
                      <button md-menu-item (click)="cambiarNombre()">
                                    <md-icon>create</md-icon>
                                    <span>Cambiar Nombre</span>
                                  </button>
                      <button md-menu-item>
                              <md-icon>delete</md-icon>
                              <span>Eliminar</span>
                            </button>
                    </md-menu>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>