<h1 mat-dialog-title>Agregar Prototipo</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">
    <div class="form-group">
      <label for="nombre" class="control-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" formControlName="nombre" 
      [ngClass]="{'is-invalid': form.get('nombre').invalid  && (form.get('nombre').dirty || form.get('nombre').touched )}">
      <div class="invalid-feedback">El nombre no puede estar vacío</div>
    </div>
  </form>

</div>
<div mat-dialog-actions>
    <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
    <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">AGREGAR</button>
</div>