


<h1 mat-dialog-title>Agregar Lotes</h1>
<div mat-dialog-content>

  <h6>{{data.manzana.nombre}}</h6>

  <form [formGroup]="formLote" id="id_formLote" (ngSubmit)="createLotes()">


    <div class="form-group mt-3">
      <mat-radio-group name="tipo" formControlName="tipo">
        <mat-radio-button value="nombre">Por nombre</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="form-group">
      <label>Lote (nombre)</label>
      <input type="text" placeholder="ej. Lote 1" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': formLote.get('nombre').invalid && formLote.get('nombre').touched }">
      <div class="invalid-feedback" *ngIf="formLote.get('nombre').invalid">
        Escriba un nombre con máximo 30 caracteres
      </div>
    </div>


    <div class="form-group">
      <mat-radio-group name="tipo" formControlName="tipo">
        <mat-radio-button value="numero">Por número</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="form-row">
      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label">Prefijo</label>
        <input type="text" class="form-control" formControlName="prefijo" [ngClass]="{'is-invalid': formLote.get('prefijo').invalid && formLote.get('prefijo').touched}">
      </div>

      <div class="form-group col-6 col-sm-3">
        <label class="col-form-label">Ini</label>
        <input type="number" class="form-control" formControlName="ini" [ngClass]="{'is-invalid': formLote.get('ini').invalid && formLote.get('ini').touched}">
      </div>

      <div class="form-group col-6 col-sm-3">
        <label class="col-form-label">Fin</label>
        <input type="number" class="form-control" formControlName="fin" [ngClass]="{'is-invalid': formLote.get('fin').invalid && formLote.get('fin').touched}">
      </div>
    </div>


    <div class="form-group">
      <div class="form-text text-danger" *ngIf="formLote.get('prefijo').errors && formLote.get('prefijo').invalid && formLote.get('prefijo').touched ">Escriba un prefijo con máximo 30 caracteres.</div>
      <div class="form-text text-danger" *ngIf="formLote.get('ini').errors && formLote.get('ini').invalid && formLote.get('ini').touched">El número inicial debe ser mayor o igual a 0.</div>
      <div class="form-text text-danger" *ngIf="formLote.get('fin').errors?.menorqueini && formLote.get('fin').invalid && formLote.get('fin').dirty">El número final debe ser mayor o igual al número inicial.</div>
      <div class="form-text text-danger" *ngIf="formLote.get('fin').errors?.masde30 && formLote.get('fin').invalid && formLote.get('fin').dirty">Sólo pueden agregar 30 lotes a la vez.</div>
    </div>


  </form>
  <!-- <pre>{{formLote.value|json}}</pre>
<pre>{{formLote.status|json}}</pre> -->


</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button type="submit" mat-button form="id_formLote" color="primary" [disabled]="formLote.invalid">AGREGAR</button>
</div>