<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="app-toolbar">

    <button mat-icon-button (click)="navLeft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>


    <!-- <span>Dinmob</span> -->
    <button mat-button (click)="gotoTablero()">CIVSA</button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="d-none d-sm-inline">{{username}}</span>
      <mat-icon>person</mat-icon>
    </button>

    <!--     <button mat-icon-button (click)="navRight.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button> -->

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil"> Perfil </button>
      <button mat-menu-item (click)="logout()"> Cerrar sesión </button>
    </mat-menu>


  </mat-toolbar>



  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #navLeft class="app-sidenav-start" mode="over" align="start" opened="false" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list class="mb-5" *ngIf="usuario.tipo_usuario=='Administrador'">

        <h3 class="sidenav-title">Administración</h3>


        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/obras']" routerLinkActive="active">Obras</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/prototipos', obra_default]" routerLinkActive="active">Prototipos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/tablero']" routerLinkActive="active">Tablero</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/estructura-obra', obra_default]" routerLinkActive="active">Estructura obra</a>

        <!-- <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/asignar-trabajadores']" routerLinkActive="active">Asignar Trabajadores</a> -->



      </mat-nav-list>

      <!--       <mat-nav-list class="mb-5" *ngIf="usuario.tipo_usuario=='Administrador'">

        <h3 class="sidenav-title">Almacén</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/salidas']" routerLinkActive="active">Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/entradas']" routerLinkActive="active">Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/inventario']" routerLinkActive="active">Inventario</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-salida']" routerLinkActive="active">Nueva Salida</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-entrada']" routerLinkActive="active">Nueva Entrada</a>

      </mat-nav-list> -->


      <mat-nav-list class="mb-5" *ngIf="usuario.tipo_usuario=='Administrador' || usuario.tipo_usuario=='Ventas' || usuario.tipo_usuario=='Asesor Ventas'">

        <h3 class="sidenav-title">Ventas</h3>


        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes', obra_default]" routerLinkActive="active">Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/desarrollos', obra_default]" routerLinkActive="active">Desarrollos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-cliente']" routerLinkActive="active">Nuevo cliente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-ventas', obra_default]" routerLinkActive="active">Mapas Ventas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/alerta-clientes']" routerLinkActive="active">Alerta Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes-sin-lote']" routerLinkActive="active">Clientes sin Lote</a>


      </mat-nav-list>

      <!--       <mat-nav-list class="mb-5" *ngIf="usuario.tipo_usuario=='Administrador' || usuario.tipo_usuario=='Almacén'">

        <h3 class="sidenav-title">Almacén</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/login']" routerLinkActive="active">Login</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/desarrollos']" routerLinkActive="active">Desarrollos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-cliente']" routerLinkActive="active">Nuevo cliente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/cliente']" routerLinkActive="active">Cliente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/obras']" routerLinkActive="active">Obras</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/tablero']" routerLinkActive="active">Tablero</a>


      </mat-nav-list> -->

      <!--       <mat-nav-list class="mb-5" *ngIf="usuario.tipo_usuario=='Administrador' || usuario.tipo_usuario=='Residente'">

        <h3 class="sidenav-title">Residente</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/avances',obra_default]" routerLinkActive="active">Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-avances']" routerLinkActive="active">Mapas avances</a>

      </mat-nav-list> -->


    </mat-sidenav>

    <!--     <mat-sidenav #navRight class="sidenav-end" mode="over" align="end" opened="false">
      <mat-tab-group>
        <mat-tab label="Tab 1">
          <h3>Encabezado</h3>
          <p>Aquí puedo poner la configuración, por ejemplo</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>thumb_down</mat-icon>Tab 2
          </ng-template>
          <h3>Encabezado</h3>
          <p>Contenido dos</p>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav> -->

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>


</div>