<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">



  <!-- fa-fw -->
  <div class="loading" appLoading>
    <i class="fa fa-spinner fa-spin fa-4x" style="position:fixed; top:calc(50% - 0.5em); left:calc(50% - 0.5em); color:#3f51b5;"></i>
  </div>



  <mat-toolbar color="primary" class="app-toolbar">

    <button mat-icon-button (click)="navLeft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>


    <!-- <span>Dinmob</span>MENÚ CIVSA-->
    <button mat-button (click)="gotoTablero()">MENÚ</button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="d-none d-sm-inline">{{username}}</span>
      <mat-icon>person</mat-icon>
    </button>

    <!--     <button mat-icon-button (click)="navRight.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button> -->

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil"> Perfil </button>
      <button mat-menu-item (click)="logout()"> Cerrar sesión </button>
    </mat-menu>


  </mat-toolbar>



  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #navLeft class="app-sidenav-start" mode="over" align="start" opened="false" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Administrador">

        <h3 class="sidenav-title">Administración</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/obras']" routerLinkActive="active">Obras</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/credito-puente',obra_default]" routerLinkActive="active">Crédito Puente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/estadisticas',obra_default]" routerLinkActive="active">Estadísticas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/prototipos',obra_default]" routerLinkActive="active">Prototipos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/estructura-obra',obra_default]" routerLinkActive="active">Estructura Obra</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/registro']" routerLinkActive="active">Registro</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/trabajadores',obra_default]" routerLinkActive="active">Trabajadores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/asignar-trabajadores',obra_default]" routerLinkActive="active">Asignar Trabajadores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/pagos-trabajadores',obra_default]" routerLinkActive="active">Pagos Trabajadores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/importar-prototipo']" routerLinkActive="active">Importar Prototipo</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/proveedores']" routerLinkActive="active">Proveedores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/gastos-obras',obra_default]" routerLinkActive="active">Gastos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/arranque',obra_default]" routerLinkActive="active">Arranque</a>

        <h3 class="sidenav-title">Ventas</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-ventas', obra_default]" routerLinkActive="active">Mapas Ventas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes',obra_default]" routerLinkActive="active">Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/desarrollos',obra_default]" routerLinkActive="active">Lotes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/alerta-clientes']" routerLinkActive="active">Alerta Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/prospectos']" routerLinkActive="active">Prospectos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-cliente']" routerLinkActive="active">Nuevo Cliente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/estadisticas-ventas',obra_default]" routerLinkActive="active">Estadísticas Ventas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/ventas-pagos',obra_default]" routerLinkActive="active">Ventas Pagos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/instituciones-credito']" routerLinkActive="active">Instituciones Crédito</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/vendedores',obra_default]" routerLinkActive="active">Vendedores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/reportes',obra_default]" routerLinkActive="active">Reportes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/historial-apartados',obra_default]" routerLinkActive="active">Historial Apartados</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/comisiones',obra_default]" routerLinkActive="active">Comisiones</a>


        <h3 class="sidenav-title">Avances</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-avances', obra_default]" routerLinkActive="active">Mapas Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/avances', obra_default]" routerLinkActive="active">Cargar Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/imagenes-lote', obra_default]" routerLinkActive="active">Registro Fotográfico</a>

        <h3 class="sidenav-title">Almacén</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/salidas', obra_default]" routerLinkActive="active">Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/entradas', obra_default]" routerLinkActive="active">Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/pedidos',obra_default]" routerLinkActive="active">Pedidos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/inventario',obra_default]" routerLinkActive="active">Inventario</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-salida', obra_default]" routerLinkActive="active">Nueva Salida</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/otras-salidas', obra_default]" routerLinkActive="active">Otras Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-entrada', obra_default]" routerLinkActive="active">Nueva Entrada</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-pedido',obra_default]" routerLinkActive="active">Nuevo Pedido</a>


        <!-- <a mat-list-item>Avances</a> -->
        <!-- (click)="gotoRoute($event)" [routerLink]="['/tablero-avances']" routerLinkActive="active" -->

        <!--  <a mat-list-item>Almacén</a> -->
        <!-- (click)="gotoRoute($event)" [routerLink]="['/tablero-almacen']" routerLinkActive="active"  -->

        <!-- <a mat-list-item>Estadísticas</a> -->
        <!-- (click)="gotoRoute($event)" [routerLink]="['/estadisticas', obra_default]" routerLinkActive="active" -->

        <!-- <a mat-list-item>Reportes</a> -->
        <!-- (click)="gotoRoute($event)" [routerLink]="['/reportes', obra_default]" routerLinkActive="active" -->

        <!-- <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/asignar-trabajadores']" routerLinkActive="active">Asignar Trabajadores</a> -->



      </mat-nav-list>

      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Ventas || usuario.id_tipo_usuario==Rol.AsesorVentas">

        <h3 class="sidenav-title">Ventas</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-venta', obra_default]" routerLinkActive="active">Mapas Ventas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes', obra_default]" routerLinkActive="active">Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/desarrollos', obra_default]" routerLinkActive="active">Lotes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/alerta-clientes']" routerLinkActive="active">Alerta Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/prospectos']" routerLinkActive="active">Prospectos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-cliente']" routerLinkActive="active">Nuevo cliente</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/estadisticas-ventas', obra_default]" routerLinkActive="active">Estadísticas Ventas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/ventas-pagos', obra_default]" routerLinkActive="active">Ventas Pagos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/instituciones-credito']" routerLinkActive="active">Instituciones Crédito</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/vendedores', obra_default]" routerLinkActive="active">Vendedores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/historial-apartados',obra_default]" routerLinkActive="active">Historial Apartados</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/comisiones',obra_default]" routerLinkActive="active">Comisiones</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/reportes',obra_default]" routerLinkActive="active">Reportes</a>

      </mat-nav-list>


      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Residente">

        <h3 class="sidenav-title">Residente</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/salidas', obra_default]" routerLinkActive="active">Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/entradas', obra_default]" routerLinkActive="active">Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-salida', obra_default]" routerLinkActive="active">Nueva Salida</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/otras-salidas', obra_default]" routerLinkActive="active">Otras Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-entrada', obra_default]" routerLinkActive="active">Nueva Entrada</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-avances', obra_default]" routerLinkActive="active">Mapas Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/avances', obra_default]" routerLinkActive="active">Cargar Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/imagenes-lote', obra_default]" routerLinkActive="active">Registro Fotográfico</a>





      </mat-nav-list>


      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Contabilidad">

        <h3 class="sidenav-title">Contabilidad</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/clientes', obra_default]" routerLinkActive="active">Clientes</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/ventas-pagos', obra_default]" routerLinkActive="active">Ventas Pagos</a>

      </mat-nav-list>


      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Almacenista">

        <h3 class="sidenav-title">Almacenista</h3>


        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/salidas', obra_default]" routerLinkActive="active">Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/entradas', obra_default]" routerLinkActive="active">Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-salida', obra_default]" routerLinkActive="active">Nueva Salida</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/otras-salidas', obra_default]" routerLinkActive="active">Otras Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-entrada', obra_default]" routerLinkActive="active">Nueva Entrada</a>

      </mat-nav-list>


      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.ControlAlmacen">

        <h3 class="sidenav-title">Control Almacén</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/mapas-avances', obra_default]" routerLinkActive="active">Mapas Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/avances', obra_default]" routerLinkActive="active">Cargar Avances</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/imagenes-lote', obra_default]" routerLinkActive="active">Registro Fotográfico</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/salidas', obra_default]" routerLinkActive="active">Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/entradas', obra_default]" routerLinkActive="active">Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-salida', obra_default]" routerLinkActive="active">Nueva Salida</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/otras-salidas', obra_default]" routerLinkActive="active">Otras Entradas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nueva-entrada', obra_default]" routerLinkActive="active">Nueva Entrada</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/proveedores']" routerLinkActive="active">Proveedores</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/prototipos', obra_default]" routerLinkActive="active">Prototipos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/importar-prototipo']" routerLinkActive="active">Importar Prototipo</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/arranque', obra_default]" routerLinkActive="active">Arranque</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/reporte-salida', obra_default]" routerLinkActive="active">Reporte Salidas</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/reporte-entradas', obra_default]" routerLinkActive="active">Reporte Entradas</a>




      </mat-nav-list>

      <mat-nav-list class="mb-5" *ngIf="usuario.id_tipo_usuario==Rol.Recepcion">

        <h3 class="sidenav-title">Pedidos</h3>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/pedidos', obra_default]" routerLinkActive="active">Pedidos</a>

        <a mat-list-item (click)="gotoRoute($event)" [routerLink]="['/nuevo-pedido',obra_default]" routerLinkActive="active">Nuevo Pedido</a>

      </mat-nav-list>





    </mat-sidenav>

    <!--     <mat-sidenav #navRight class="sidenav-end" mode="over" align="end" opened="false">
      <mat-tab-group>
        <mat-tab label="Tab 1">
          <h3>Encabezado</h3>
          <p>Aquí puedo poner la configuración, por ejemplo</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>thumb_down</mat-icon>Tab 2
          </ng-template>
          <h3>Encabezado</h3>
          <p>Contenido dos</p>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav> -->

    <mat-sidenav-content>
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>


</div>