<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-almacen">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Almacén</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero ">description</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-avances">
        <!-- text-muted -->
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Avances</mat-card-title>
          <span class="spacer"></span>
          <!-- text-muted -->
          <i class="material-icons icono-tablero ">show_chart</i>
        </mat-card>
      </a>
    </div>

  </div>
</div>