<h1 mat-dialog-title>Agregar Instituto</h1>
<div mat-dialog-content>


  <form #form="ngForm" (ngSubmit)="guardar()" id="id_form">

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="insti.nombre" required [ngClass]="{'is-invalid': nombre.invalid  && (nombre.dirty || nombre.touched )}">
        <div class="invalid-feedback">Proporcione el nombre del instituto</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="color" class="col-sm-2 col-form-label">Color</label>
      <div class="col-sm-10">
        <span [(colorPicker)]="insti.color" [style.background]="insti.color" [cpPosition]="'bottom'" [cpSaveClickOutside]="false"
          [cpDialogDisplay]="'inline'" [cpToggle]="true"></span>

      </div>
    </div>

  </form>


</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>