<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col-12">

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Salidas</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="nuevaSalida()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!--         <form class="form-inline mx-2 mb-2 mt-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="" value="option1">
            <label class="form-check-label" for="">Todas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="">Paquetes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="" value="option3">
            <label class="form-check-label" for="">Urbanización</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="" value="option4">
            <label class="form-check-label" for="">Otras obras</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="" value="option5">
            <label class="form-check-label" for="">Arranque</label>
          </div>
          <mat-radio-group [(ngModel)]="filtro_selected" name="filtros" (change)="filtro($event)">
            <mat-radio-button class="ml-2" value="T">Todas</mat-radio-button>
            <mat-radio-button class="ml-2" value="P">Paquetes</mat-radio-button>
            <mat-radio-button class="ml-2" value="U">Urbanización</mat-radio-button>
            <mat-radio-button class="ml-2" value="O">Otras obras</mat-radio-button>
            <mat-radio-button class="ml-2" value="A">Arranque</mat-radio-button>
          </mat-radio-group>
        </form> -->
        <div class="container-fluid mt-2">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="filtro_selected" name="filtros" (change)="filtro($event)">
              <option value="T">Todas</option>
              <option value="P">Paquetes</option>
              <option value="U">Urbanización</option>
              <option value="O">Otras obras</option>
              <option value="A">Arranque</option>
            </select>
          </div>
        </div>

        <div>
          <div class="table-responsive">
            <table class="table-align-middle table table-hover table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <!--  <th>Folio</th> -->
                  <th>Vale</th>
                  <th>Fecha</th>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Partida</th>
                  <th>Destino</th>
                  <th>Recibió</th>
                  <th>Alerta</th>
                  <th>Estado</th>
                  <th></th>

                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let salida of salidas_filtradas">
                  <td>{{salida.id_tipo_salida}}</td>
                  <!--   <td>{{salida.folio}}</td> -->
                  <td>{{salida.num_vale}}</td>
                  <td class="ws-nowrap">{{salida.fecha|dateToIso| date:'medium':'':'es'}}</td>
                  <td class="ws-nowrap">{{salida.manzana}}</td>
                  <td class="ws-nowrap">{{salida.nombre_lote}}</td>
                  <td>
                    <span *ngIf="salida.id_tipo_salida=='P'">
                      {{salida.nombre_partida_padre?salida.nombre_partida_padre + ' / ' + salida.nombre_partida: salida.nombre_partida }}
                    </span>
                    <span *ngIf="salida.id_tipo_salida=='U'">
                      {{salida.partida_urba}}
                    </span>
                  </td>
                  <td>{{salida.obra_destino}}</td>
                  <td>{{salida.nombre_trabajador}}</td>
                  <td>
                    <span *ngIf="salida.tiene_alerta=='1'">
                      <i class="fa fa-exclamation-circle text-danger"></i>
                    </span>
                  </td>
                  <td>
                    <span class="badge" [ngClass]="salida.aceptada=='1'?'badge-success':'badge-secondary'" *ngIf="salida.tiene_alerta=='1'">
                      {{salida.aceptada|numberToYesNo:'SAL'}}
                    </span>
                  </td>
                  <td class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="verSalida(salida)">
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Salida</span>
                      </button>
                      <button mat-menu-item (click)="setValidacion(salida)" *ngIf="salida.tiene_alerta=='1'">
                    <!--     <i class="fa" [ngClass]="{'fa-check':salida.aceptada=='0','fa-ban':salida.aceptada=='1'}"></i> -->
                        <mat-icon>{{salida.aceptada=="0"?'done':'block'}}</mat-icon>
                        <span *ngIf="salida.aceptada=='1'">Rechazar</span>
                        <span *ngIf="salida.aceptada=='0'">Autorizar</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>file_download</mat-icon>
                        <span>Reporte</span>
                      </button>
                      <button mat-menu-item (click)="delSalida(salida)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
          </mat-paginator>
        </div>
      </div>


    </div>
  </div>

</div>