<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

      <!-- perfil -->
      <div class="card">
        <div class="card-header">
          Perfil
        </div>
        <div class="card-body">
          <form id="formUpdateUsuario" (ngSubmit)="updateUsuario()" [formGroup]="formDatos">
            <div class="form-group row">
              <label for="nombre" class="col-lg-3 col-form-label">Nombre</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" id="nombre" name="nombre" formControlName="nombre" [ngClass]="{'is-invalid':formDatos.get('nombre').invalid && (formDatos.get('nombre').dirty || formDatos.get('nombre').touched) }">
                <div class="invalid-feedback">Escriba un nombre</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-lg-3 col-form-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" id="email" name="email" formControlName="email" [ngClass]="{'is-invalid':formDatos.get('email').invalid && (formDatos.get('email').dirty || formDatos.get('email').touched) }">
                <div class="invalid-feedback">Escriba un email</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="rol" class="col-lg-3 col-form-label">Obra default</label>
              <div class="col-lg-9">
                <select class="form-control" id="id_obra_default" name="id_obra_default" formControlName="id_obra_default">
                  <!-- <option value="">Seleccionar...</option> -->
                  <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" form="formUpdateUsuario" mat-button color="primary" class="btn-block" [disabled]="formDatos.invalid">Actualizar</button>
        </div>
      </div>

      <!-- cambiar password -->
      <div class="card mt-5">
        <div class="card-header">
          Cambiar password
        </div>
        <div class="card-body">
          <form id="formUpdatePassword" (ngSubmit)="updatePassword()" [formGroup]="formPassword">
            <div class="form-group row">
              <label for="password" class="col-lg-3 col-form-label">Nuevo Password</label>
              <div class="col-lg-9">
                <input class="form-control" type="password" id="password" name="password" formControlName="password" [ngClass]="{'is-invalid': formPassword.get('password').invalid  && (formPassword.get('password').dirty || formPassword.get('password').touched) }">
                <div class="invalid-feedback">Proporcione una contraseña</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="confirmar" class="col-lg-3 col-form-label">Confirmar</label>
              <div class="col-lg-9">
                <input class="form-control" type="password" id="confirmar" name="confirmar" formControlName="confirmar" [ngClass]="{'is-invalid': formPassword.get('confirmar').errors?.notEqual  && (formPassword.get('confirmar').dirty || formPassword.get('confirmar').touched) }">
                <div class="invalid-feedback">No coincide con la contraseña</div>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" form="formUpdatePassword" mat-button color="primary" class="btn-block" [disabled]="formPassword.invalid">Actualizar</button>
        </div>
      </div>

    </div>

  </div>