<h1 mat-dialog-title>Agregar Manzanas</h1>
<div mat-dialog-content>

  <h6>{{data.obra.nombre}}</h6>

  <form [formGroup]="formManzana" id="id_formManzana" (ngSubmit)="createManzanas()">


    <div class="form-group mt-3">
      <mat-radio-group name="tipo" formControlName="tipo">
        <mat-radio-button value="nombre">Por nombre</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="form-group">
      <label>Manzana (nombre)</label>
      <input type="text" placeholder="ej. Manzana 1" class="form-control" formControlName="nombre" 
      [ngClass]="{'is-invalid': formManzana.get('nombre').invalid && formManzana.get('nombre').touched }">
      <div class="invalid-feedback" *ngIf="formManzana.get('nombre').invalid">
        Escriba un nombre con máximo 30 caracteres
      </div>
    </div>


    <div class="form-group">
      <mat-radio-group name="tipo" formControlName="tipo">
        <mat-radio-button value="numero">Por número</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="form-row">
      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label">Prefijo</label>
        <input type="text" class="form-control" formControlName="prefijo" 
        [ngClass]="{'is-invalid': formManzana.get('prefijo').invalid && formManzana.get('prefijo').touched}">
      </div>

      <div class="form-group col-6 col-sm-3">
        <label class="col-form-label">Ini</label>
        <input type="number" class="form-control" formControlName="ini" 
        [ngClass]="{'is-invalid': formManzana.get('ini').invalid && formManzana.get('ini').touched}">
      </div>

      <div class="form-group col-6 col-sm-3">
        <label class="col-form-label">Fin</label>
        <input type="number" class="form-control" formControlName="fin" 
        [ngClass]="{'is-invalid': formManzana.get('fin').invalid && formManzana.get('fin').touched}">
      </div>
    </div>


    <div class="form-group">
      <div class="form-text text-danger" *ngIf="formManzana.get('prefijo').errors && formManzana.get('prefijo').invalid && formManzana.get('prefijo').touched ">Escriba un prefijo con máximo 30 caracteres.</div>
      <div class="form-text text-danger" *ngIf="formManzana.get('ini').errors && formManzana.get('ini').invalid && formManzana.get('ini').touched">El número inicial debe ser mayor o igual a 0.</div>
      <div class="form-text text-danger" *ngIf="formManzana.get('fin').errors?.menorqueini && formManzana.get('fin').invalid && formManzana.get('fin').dirty">El número final debe ser mayor o igual al número inicial.</div>
      <div class="form-text text-danger" *ngIf="formManzana.get('fin').errors?.masde20 && formManzana.get('fin').invalid && formManzana.get('fin').dirty">Sólo pueden agregar 20 manzanas a la vez.</div>
    </div>


  </form>
  <!-- <pre>{{formManzana.value|json}}</pre>
<pre>{{formManzana.status|json}}</pre> -->


</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button type="submit" mat-button form="id_formManzana" color="primary" [disabled]="formManzana.invalid">AGREGAR</button>
</div>