<h1 mat-dialog-title>Agregar Manzana</h1>
<div mat-dialog-content>


  <form>
    <div class="card-block">
      <div class="row">
        <div class="col-12 col-sm-12">
          <mat-radio-group name="tipo" [(ngModel)]="addManzanas.tipo">
            <mat-radio-button name="tipo" value="nombre">Por nombre</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="form-group" [ngClass]="{'has-danger': ( nombre_manzana.invalid && (nombre_manzana.dirty || nombre_manzana.touched ))}">
            <label class="col-form-label">Manzana (nombre)</label>
            <input #nombre_manzana="ngModel" type="text" placeholder="ej. Manzana 1" class="form-control" name="nombre" [(ngModel)]="addManzanas.nombre"
              maxlength="30" [disabled]="addManzanas.tipo != 'nombre'" [required]="addManzanas.tipo === 'nombre'">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <mat-radio-group name="tipo" [(ngModel)]="addManzanas.tipo">
            <mat-radio-button name="tipo" value="numero">Por número</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <fieldset [disabled]="addManzanas.tipo == 'nombre'">
        <div class="form-row">

          <div class="form-group col-12 col-sm-6" [ngClass]="{'has-danger':(manzana_prefijo.invalid && (manzana_prefijo.dirty || manzana_prefijo.touched ))}">
            <label class="col-form-label">Prefijo</label>
            <input #manzana_prefijo="ngModel" type="text" class="form-control" name="manzana_prefijo" [(ngModel)]="addManzanas.prefijo"
              required>
          </div>
          <div class="form-group col-6 col-sm-3" [ngClass]="{'has-danger':( manzana_ini.invalid && (manzana_ini.dirty || manzana_ini.touched ))}">
            <label class="col-form-label">Ini</label>
            <input [textMask]="{mask: maskDosDigitos, guide:guide}" guide="false" #manzana_ini="ngModel" type="text" class="form-control"
              name="manzana_ini" [(ngModel)]="addManzanas.ini" min="0" [required]="addManzanas.tipo === 'numero'">
          </div>
          <div class="form-group col-6 col-sm-3" [ngClass]="{'has-danger':(manzana_fin.invalid && (manzana_fin.dirty || manzana_fin.touched ))}">
            <label class="col-form-label">Fin</label>
            <input [textMask]="{mask: maskDosDigitos, guide: guide}" type="text" #manzana_fin="ngModel" class="form-control" name="manzana_fin"
              [(ngModel)]="addManzanas.fin" min="addManzanas.ini" max="addManzanas.ini+20" [required]="addManzanas.tipo === 'numero'">
          </div>

        </div>
      </fieldset>
    </div>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button [mat-dialog-close]="true" color="warn">ACEPTAR</button>
</div>