<div *ngIf="loading">
  <mat-spinner class="loading"></mat-spinner>
</div>


<h1 mat-dialog-title>Actualizar Nombre</h1>
<div mat-dialog-content>


  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" formControlName="nombre" [ngClass]="{'is-invalid': form.get('nombre').invalid  && (form.get('nombre').dirty || form.get('nombre').touched )}">
      <div class="invalid-feedback">Proporcione un nombre</div>
    </div>
  </form>



</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CERRAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>