<div class="container mt-2 mb-5">

  <div *ngIf="loading">
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div class="row">
    <div class="col-12">


      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="card">
        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Alertas</div>
            <div class="spacer"></div>
          </div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Desarrollo</th>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Entrega</th>
                  <th>Mensaje</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.desarrollo}}</td>
                  <td>{{cliente.manzana}}</td>
                  <td>{{cliente.lote}}</td>
                  <td>{{cliente.entrega}}</td>
                  <td>{{cliente.mensaje}}</td>
                  <td class="text-right">
                    <button mat-button class="no-min" (click)="editarAlerta(cliente)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button mat-button class="no-min" (click)="delCliente()">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>