<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">


      <!--       <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (selectionChange)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->


      <div class="card">
        <div class="card-header">
          <div class="">Alertas</div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Obra</th>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Mensaje</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.nombre}}</td>
                  <td class="ws-nowrap">{{cliente.obra}}</td>
                  <td class="ws-nowrap">{{cliente.manzana}}</td>
                  <td class="ws-nowrap">{{cliente.lote}}</td>

                  <td>{{cliente.mensaje_alerta}}</td>
                  <td class="text-right">
                    <button mat-button class="no-min" (click)="editarAlerta(cliente)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button mat-button class="no-min" (click)="deshabilitarAlerta(cliente)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>