<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <div class="card">
        <div class="card-header">
          Historial Apartados
        </div>

        <div class="form-inline mb-2 mt-2">

          <div class="input-group mx-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Del</span>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" [matDatepicker]="dpFechaDel">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFechaDel.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
            <mat-datepicker touchUi="true" #dpFechaDel></mat-datepicker>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Al</span>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" [matDatepicker]="dpFechaAl">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFechaAl.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
            <mat-datepicker touchUi="true" #dpFechaAl></mat-datepicker>
          </div>

        </div>

        <div>
          <div class="table-responsive">
            <table class="table table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Fecha Pago</th>
                  <th>Asesor</th>
                  <th>Fecha</th>
                  <th>Valor Operación</th>
                  <th>Cliente</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>