<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>

<mat-drawer-container class="drawer-container">

  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:250px">
    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
      <!--    <div class="d-flex">
              <span><i class="fa fa-share"></i></span>
              <span>{{obra?.obra?.nombre || ""}}</span>
              <div class="spacer"></div>
              <span class="badge badge-pill badge-warning align-self-center mr-2">{{obra?.manzanas?.length || "0"}}</span>
          </div> -->
    </mat-card>
    <div class="mb-3">
      <mat-accordion>
        <mat-expansion-panel class="manzanas" *ngFor="let manzana of manzanas" [hideToggle]="false">
          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <!--  <li class="list-group-item">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</li> -->
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getPartidasLote(lote)">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <div class="container-fluid content pt-2 pb-5">
      <div class="row">
        <div class="col-12">

          <ol class="breadcrumb colorBread">
            <li class="breadcrumb-item text-primary">
              {{obra.nombre}}
            </li>
            <li class="breadcrumb-item text-primary">
              {{lote_selected.manzana}}
            </li>
            <li class="breadcrumb-item text-primary">
              {{lote_selected.nombre}}
            </li>
          </ol>

          <div class="card">
            <div class="card-body">

              <form [formGroup]="form">
                <div class="mb-2">
                  <select class="form-control" id="partidas" name="partidas" formControlName="partida" [(ngModel)]="partida_selected" (change)="getInsumosPartida(partida_selected)">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let partida of partidas" [value]="partida.id_partida">{{partida.nombre}}</option>
                  </select>
                </div>


                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <input type="text" class="form-control" #filtro (keyup)="aplicarFiltro($event.target.value)" placeholder="Buscar" [disabled]="filtroSalida.checked">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="borrarFiltro(filtro)" [disabled]="filtroSalida.checked">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-auto">
                    <mat-checkbox (change)="insumosConSalida($event, filtro)" #filtroSalida>Ver sólo materiales con salida</mat-checkbox>
                  </div>

                </div>
              </form>


              <div class="table-responsive">
                <table class="table table-hover table-striped table-align-middle">
                  <thead>
                    <tr>
                      <th>Material</th>
                      <th>Unidad</th>
                      <th>Programado</th>
                      <th>Consumido</th>
                      <th>Existencias</th>
                      <th>Salida</th>
                      <th>Excedente</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let insumo of insumos_filtrados">
                      <td>{{insumo.insumo}}</td>
                      <td>{{insumo.unidad}}</td>
                      <td>{{insumo.cantidad}}</td>
                      <td>{{insumo.consumido}}</td>
                      <td>{{insumo.existencias}}</td>
                      <td style="width: 150px">
                        <input type="number" class="form-control" [(ngModel)]="insumo.salida" min="0" [max]="insumo.existencias">
                        <small *ngIf="insumo.salida && insumo.salida <= 0" class="text-danger">menor que 0</small>
                        <small *ngIf="insumo.salida > insumo.existencias" class="text-danger">mayor que existencia</small>
                      </td>
                      <td class="text-danger">
                        <span *ngIf="(insumo.salida + insumo.consumido) - insumo.cantidad > 0.99">
                          <!-- <i class="fa fa-exclamation-circle"></i> --> {{((insumo.salida + insumo.consumido) - insumo.cantidad|number:'.2-4') }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header">Datos</div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

                <div class="form-group row">
                  <label for="partida" class="col-md-2  col-form-label">Partida</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" id="partida" name="partida" disabled [value]="nombre_partida">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="entrega" class="col-md-2 col-form-label">Entrega</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" id="entrega" name="entrega" disabled [value]="usuario.nombre">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="recibe" class="col-md-2 col-form-label">Recibe</label>
                  <div class="col-md-10">
                    <select class="form-control" id="recibe" name="recibe" [ngClass]="{'is-invalid': form.get('recibe').invalid  && (form.get('recibe').dirty || form.get('recibe').touched) }"
                      formControlName="recibe">
                      <option value="">Seleccionar...</option>
                      <option *ngFor="let trabajador of trabajadores" [value]="trabajador.id_trabajador">{{trabajador.nombre}} ({{trabajador.especialidad}})</option>
                    </select>
                    <div class="invalid-feedback">Seleccione un trabajador</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="autoriza" class="col-md-2 col-form-label">Autoriza</label>
                  <div class="col-md-10">
                    <select class="form-control" id="autoriza" name="autoriza" [ngClass]="{'is-invalid': form.get('autoriza').invalid  && (form.get('autoriza').dirty || form.get('autoriza').touched) }"
                      formControlName="autoriza">
                      <option value="">Seleccionar...</option>
                      <option *ngFor="let residente of residentes" [value]="residente.id_usuario">{{residente.nombre}}</option>
                    </select>
                    <div class="invalid-feedback">Seleccione un residente</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="num_vale" class="col-md-2 col-form-label">Núm. Vale</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" id="num_vale" name="num_vale" formControlName="num_vale">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="notas" class="col-md-2 col-form-label">Notas</label>
                  <div class="col-md-10">
                    <textarea class="form-control" type="text" id="notas" name="notas" row="3" formControlName="notas"></textarea>
                  </div>
                </div>


              </form>
              <!-- <div class="form-group">
                <div class="text-center">
                </div>
              </div> -->
            </div>
            <div class="card-footer text-center">
              <button mat-raised-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
              <button mat-raised-button type="button" color="primary" (click)="debug()">DEBUG</button>

            </div>
          </div>


        </div>
      </div>
    </div>

  </mat-drawer-content>

</mat-drawer-container>