<button mat-fab class="fab-t1" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>

<mat-drawer-container class="drawer-container">
  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:250px">

    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
    </mat-card>

    <div class="mb-3">

      <mat-accordion>

        <mat-expansion-panel class="manzanas" *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">

          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getImagenesLote(lote)">({{lote.num_fotos || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>

      </mat-accordion>

    </div>

  </mat-drawer>

  <mat-drawer-content>

    <div class="container-fluid pt-2 pb-5 drawer-content">

      <ol class="breadcrumb colorBread">
     <!--    <li class="breadcrumb-item text-primary">
          {{lote?.obra}}
        </li> -->
        <li class="breadcrumb-item text-primary">
          {{lote?.manzana}}
        </li>
        <li class="breadcrumb-item text-primary">{{lote?.nombre}}</li>
      </ol>

      <div class="card-columns">

        <div class="card" *ngFor="let foto of fotos">
          <a [href]="foto.url" target="_blank">
            <img class="card-img-top" [src]="foto.url" [alt]="foto.partida">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{foto.partida_padre}} {{foto.partida}}</h5>
            <p class="card-text">{{foto.fecha}}</p>
            <p class="card-text">{{foto.descripcion}}</p>
            <div>
              <button mat-button class="no-min" color="warn" (click)="delFoto(foto)">
                <mat-icon>delete</mat-icon>
              </button>

              <!--       <button mat-button class="no-min">
                <mat-icon>zoom_out_map</mat-icon>
              </button> -->

              <button mat-button class="no-min" (click)="girarFoto(foto, 90)">
                <mat-icon>replay</mat-icon>
              </button>

              <button mat-button class="no-min" (click)="girarFoto(foto, 270)">
                <mat-icon>refresh</mat-icon>
              </button>

            </div>
          </div>

        </div>

      </div>

    </div>
  </mat-drawer-content>



</mat-drawer-container>