<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
  <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>

<mat-drawer-container class="drawer-container">
  <mat-drawer class="estructura" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:300px">
    <mat-card class="estructura">
      <div class="mb-2">
        <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
        </select>
      </div>
      <!--    <div class="d-flex">
                  <span><i class="fa fa-share"></i></span>
                  <span>{{obra?.obra?.nombre || ""}}</span>
                  <div class="spacer"></div>
                  <span class="badge badge-pill badge-warning align-self-center mr-2">{{obra?.manzanas?.length || "0"}}</span>
              </div> -->
    </mat-card>
    <div class="mb-3">
      <mat-accordion>
        <mat-expansion-panel class="manzanas" *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">
          <mat-expansion-panel-header>
            <span>{{manzana.nombre}}</span>
            <div class="spacer"></div>
            <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

          </mat-expansion-panel-header>

          <ul class="list-group">
            <!--  <li class="list-group-item">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</li> -->
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let lote of manzana.lotes" (click)="getAvancesLote(lote)">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</button>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <div class="card-columns mx-5">
      <div class="card">
        <img class="card-img-top" src="https://www.promobeth.com/s/cc_images/cache_5401324.jpg?t=1517268903" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">PISOS Y RECUBRIMIENTOS - 2° NIVEL</h5>
          <p class="card-text">2018-01-16 13:11:24</p>
        </div>
        <div class="button-row mx-2 mb-2">
          <button mat-button color="warn">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <button mat-button>
            <i class="fa fa-arrows" aria-hidden="true"></i>
          </button>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>replay</mat-icon>
              <span>90° a la izquierda</span>
            </button>
            <button mat-menu-item>
              <mat-icon>refresh</mat-icon>
              <span>90° a la derecha</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://www.promobeth.com/s/cc_images/cache_5401324.jpg?t=1517268903" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">PISOS Y RECUBRIMIENTOS - 2° NIVEL</h5>
          <p class="card-text">2018-01-16 13:11:24</p>
        </div>
        <div class="button-row mx-2 mb-2">
          <button mat-button color="warn">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <button mat-button>
            <i class="fa fa-arrows" aria-hidden="true"></i>
          </button>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>replay</mat-icon>
              <span>90° a la izquierda</span>
            </button>
            <button mat-menu-item>
              <mat-icon>refresh</mat-icon>
              <span>90° a la derecha</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

  </mat-drawer-content>



</mat-drawer-container>