<h1 mat-dialog-title>Salida</h1>
<div mat-dialog-content>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Folio:</strong>84</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Vale:</strong>
      </div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Paquetes:</strong>PAQUETES</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Fecha:</strong>2017-09-27</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Obra:</strong>Tres Marias</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Lote:</strong>Manzana 1 - Lote 1</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Partida:</strong>CIMENTACION</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Autoriza:</strong>Residente1</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Entrega:</strong>Juan López</div>
    </div>
    <div class="mb-1">
      <div>
        <strong class="pr-1">Recibe:</strong>Trabajador Tres Marias</div>
    </div>
  </mat-expansion-panel>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-align-middle mt-4">
      <thead>
        <tr>
          <th>Insumo</th>
          <th>Unidad</th>
          <th>Salida</th>
          <th>Excedente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button type="button" class="btn btn-secondary btn-lg btn-block" [mat-dialog-close]="false">CERRAR</button>
</div>