<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">
      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          Materiales
        </div>

        <form class="mt-2 ml-2">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="input-group mb-2">
                <input (keyup)="aplicarFiltro($event.target.value)" #filtro type="text" class="form-control" placeholder="Buscar" [disabled]="filtroEntrada.checked">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="borrarFiltro(filtro)" [disabled]="filtroEntrada.checked">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <mat-checkbox (change)="insumosConEntrada($event, filtro)" #filtroEntrada>Ver sólo materiales con entrada</mat-checkbox>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <table class="table table-hover table-striped table-align-middle">
            <thead>
              <tr>
                <th>Código</th>
                <th>Insumo</th>
                <th>Unidad</th>
                <th>Existencias</th>
                <th>Entrada</th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let insumo of insumos_filtrados">
                <td>{{insumo.codigo}}</td>
                <td>{{insumo.insumo}}</td>
                <td>{{insumo.unidad}}</td>
                <td>
                  <div>

                    {{insumo.existencias}}
                  </div>
                </td>
                <td style="width: 150px">
                  <input type="number" [(ngModel)]="insumo.entrada" class="form-control">
                </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>

      <div class="card mt-3">
        <div class="card-header">Datos</div>
        <div class="card-body">
          <form #formEntrada="ngForm" id="id_form" (ngSubmit)="crearEntrada(formEntrada)">
            <div class="form-row">

              <div class="form-group col-md-8">
                <label class="form-label" for="id_proveedor">Proveedor</label>
                <select id="proveedor" class="form-control" name="id_proveedor" [(ngModel)]="id_proveedor" required #proveedor="ngModel"
                  [ngClass]="{'is-invalid': proveedor.invalid && (proveedor.dirty || proveedor.touched)}">
                  <option value="">Seleccionar...</option>
                  <option [value]="p.id_proveedor" *ngFor="let p of proveedores">{{p.nombre}}</option>
                </select>
                <div class="invalid-feedback">Seleccione un proveedor</div>
              </div>


              <div class="form-group col-md-4">
                <label class="form-label" for="folio">Folio</label>
                <input type="text" class="form-control" id="folio" name="folio" [(ngModel)]="folio" required #folioValidation="ngModel" [ngClass]="{'is-invalid': folioValidation.invalid && (folioValidation.dirty || folioValidation.touched)}">
                <div class="invalid-feedback">Proporcione un folio</div>
              </div>

            </div>

            <div class="form-group">
              <label for="nota" class="form-label">Nota</label>
              <textarea type="text" class="form-control" id="nota" name="nota" [(ngModel)]="nota" rows="3"></textarea>
            </div>

          </form>
        </div>
        <div class="card-footer text-center">
          <button mat-raised-button type="submit" form="id_form" color="primary" [disabled]="formEntrada.invalid" >Guardar</button>
        </div>
      </div>


    </div>
  </div>
</div>