<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">
      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          Materiales
        </div>

        <form class="mt-2 mx-3">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="input-group mb-2">
                <input (keyup)="aplicarFiltro($event.target.value)" #filtro type="text" class="form-control" placeholder="Buscar" [disabled]="filtroSalida.checked">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="borrarFiltro(filtro)" [disabled]="filtroSalida.checked">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>


            <div class="col-auto">
              <mat-checkbox (change)="insumosConSalida($event, filtro)" #filtroSalida>Ver sólo materiales con salida</mat-checkbox>
            </div>
          </div>

        </form>

        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Extra</th>
                <th>Código</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Existencias</th>
                <th>Salida</th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let insumo of insumos_filtrados">
                <td>
                  <i *ngIf="(insumo.extra === '1')" class="fa fa-check"></i>
                  <i *ngIf="(insumo.extra === '0')" class="fa fa-window-minimize"></i>
                </td>
                <td>{{insumo.codigo}}</td>
                <td>{{insumo.insumo}}</td>
                <td>{{insumo.unidad}}</td>
                <td>{{insumo.existencias}}</td>
                <td style="width: 150px">
                  <input type="number" [(ngModel)]="insumo.salida" #salida="ngModel" class="form-control" min="0" [max]="insumo.existencias">
                  <div class="text-danger" *ngIf="insumo.salida > insumo.existencias">Mayor que existencias</div>
                  <div class="text-danger" *ngIf="insumo.salida <= 0">Menor o igual que 0</div>
                </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>

      <div class="card mt-3">
        <div class="card-header">
          Datos
        </div>
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

            <div class="form-group row">
              <label class="col-sm-3 col-form-label pt-0">Destino</label>
              <div class="col-sm-9">
                <mat-radio-group class="d-inline-flex flex-column" formControlName="tipo">
                  <mat-radio-button value="O">Otras Obras</mat-radio-button>
                  <mat-radio-button value="U">Urbanización</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="form-group row mt-2" *ngIf=" form.get('tipo').value=='O'">
              <label for="obra" class="col-sm-3 col-form-label">Obra</label>
              <div class="col-sm-9">
                <select class="form-control" id="obra" name="obra" formControlName="obra" [ngClass]="{'is-invalid': form.get('obra').invalid  && (form.get('obra').dirty || form.get('obra').touched) }">
                  <option value="">Seleccionar...</option>
                  <option *ngFor="let obra of obras" [value]="obra.id_obra">{{obra.nombre}}</option>
                </select>
                <div class="invalid-feedback">Seleccione una obra</div>
              </div>
            </div>

            <div class="form-group row" *ngIf=" form.get('tipo').value=='O'">
              <label for="lote" class="col-sm-3 col-form-label">Lote</label>
              <div class="col-sm-9">
                <select class="form-control" id="lote" name="lote" formControlName="lote" [ngClass]="{'is-invalid': form.get('lote').invalid  && (form.get('lote').dirty || form.get('lote').touched) }">
                  <option value="">Seleccionar...</option>
                  <ng-container *ngFor="let manzana of manzanas">
                    <option [value]="lote.id_lote" *ngFor="let lote of manzana.lotes">{{manzana.nombre + " / " + lote.nombre}}</option>
                  </ng-container>
                </select>
                <div class="invalid-feedback">Seleccione un lote</div>
              </div>
            </div>

            <div class="form-group row" *ngIf=" form.get('tipo').value=='U'">
              <label for="partida" class="col-sm-3 col-form-label">Partida</label>
              <div class="col-sm-9">
                <select class="form-control" id="partida" name="partida" formControlName="partida" [ngClass]="{'is-invalid': form.get('partida').invalid  && (form.get('partida').dirty || form.get('partida').touched) }">
                  <option value="">Seleccionar...</option>
                  <option [value]="partida.salida_urbanizacion_partida" *ngFor="let partida of partidas_urbanizacion">{{partida.nombre}}</option>
                </select>
                <div class="invalid-feedback">Seleccione una partida</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="vale" class="col-sm-3 col-form-label">Núm. Vale</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="vale" name="vale" formControlName="vale">
              </div>
            </div>

            <div class="form-group row">
              <label for="entrega" class="col-sm-3 col-form-label">Entrega</label>
              <div class="col-sm-9">
                <input readonly class="form-control" type="text" id="entrega" name="entrega" [value]="usuario.nombre">
              </div>
            </div>

            <div class="form-group row">
              <label for="recibe" class="col-sm-3 col-form-label">Recibe</label>
              <div class="col-sm-9">
                <select class="form-control" id="recibe" name="recibe" formControlName="recibe" [ngClass]="{'is-invalid': form.get('recibe').invalid  && (form.get('recibe').dirty || form.get('recibe').touched) }">
                  <option value="">Seleccionar...</option>
                  <option [value]="trabajador.id_trabajador" *ngFor="let trabajador of trabajadores">{{trabajador.nombre}} ({{trabajador.especialidad}})</option>
                </select>
                <div class="invalid-feedback">Seleccione un trabajador</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="autoriza" class="col-sm-3 col-form-label">Autoriza</label>
              <div class="col-sm-9">
                <select class="form-control" id="autoriza" name="autoriza" formControlName="autoriza" [ngClass]="{'is-invalid': form.get('autoriza').invalid  && (form.get('autoriza').dirty || form.get('autoriza').touched) }">
                  <option value="">Seleccionar...</option>
                  <option [value]="usuario.id_usuario" *ngFor="let usuario of residentes">{{usuario.nombre}}</option>
                </select>
                <div class="invalid-feedback">Seleccione un residente</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="notas" class="col-sm-3 col-form-label">Notas</label>
              <div class="col-sm-9">
                <textarea class="form-control" type="text" id="notas" name="notas" formControlName="notas"></textarea>
              </div>
            </div>




          </form>

        </div>
        <div class="card-footer text-center">
          <button type="submit" mat-raised-button form="id_form" color="primary" [disabled]="form.invalid">Guardar</button>

        </div>

      </div>

    </div>
  </div>
</div>