<h1 mat-dialog-title>{{data.lote.manzana||''}} {{data.lote.nombre||''}}</h1>
<div mat-dialog-content class="no-padding">



  <!-- clientes -->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-align-middle">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Activación</th>
          <th>Cancelación</th>
          <th class="text-right" style="width:66px">
            <button mat-icon-button tabindex="-1">
              <mat-icon>add</mat-icon>
            </button>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of data.clientes" class="pointer" (click)="selectCliente(cliente)" [ngClass]="{'table-primary':selection.isSelected(cliente)}">

          <td>
            <mat-checkbox class="pl-2" (click)="$event.stopPropagation()" (change)="$event ? selectCliente(cliente) : null" [checked]="selection.isSelected(cliente)"></mat-checkbox>
          </td>

          <td class="ws-nowrap">{{cliente.nombre}}</td>
          <td>{{cliente.activo|numberToYesNo:'AC'}}</td>
          <td class="ws-nowrap">{{cliente.fecha_activo| date:'mediumDate':'':'es'}}</td>
          <td class="ws-nowrap">{{cliente.fecha_cancelacion| date:'mediumDate':'':'es'}}</td>
          <td class="text-right">
            <button mat-icon-button (click)="$event.stopPropagation();reporteCliente(cliente)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <!--  <mat-menu #menu3="matMenu">
              <button mat-menu-item (click)="reporteCliente(cliente)">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>Reporte</span>
              </button>
            </mat-menu> -->

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- totales -->
  <!--   <div class="container-fluid">
    <div class="form-row">

      <div class="col-12 col-sm-4 py-3">
        <div class="text-center">
          <h4 class="text-primary">
            {{(cliente_selected.valor_operacion|| 0) |unmaskNumber |currency }}
          </h4>
          <span>VALOR OPERACIÓN</span>
        </div>
      </div>

      <div class="col-12 col-sm-4 py-3">
        <div class="text-center">
          <h4 class="text-success">
            {{totalPagosRealizados() | currency}}
          </h4>
          <span>-PAGOS REALIZADOS</span>
        </div>
      </div>

      <div class="col-12 col-sm-4 py-3">
        <div class="text-center">
          <h4 class="text-danger">
            {{saldoPendiente() | currency}}
          </h4>
          <span>=SALDO PENDIENTE</span>
        </div>
      </div>

    </div>
  </div> -->

  <!-- pagos -->
  <!--   <div class="table-responsive">
    <table id="tablePagos" class="table table-striped table-hover table-align-middle mt-4">
      <thead>
        <tr>
          <th>Pago</th>
          <th>Monto</th>
          <th>Tipo</th>
          <th>Forma</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of cliente_selected.pagos">
          <td class="ws-nowrap">{{pago.fecha_pago| date:'mediumDate':'':'es'}}</td>
          <td>{{pago.monto|currency}}</td>
          <td>{{pago.tipo_pago}}</td>
          <td>{{pago.forma_pago}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <mat-tab-group>

    <!-- Datos Generales -->
    <mat-tab label="Cliente">
      <div class="container py-3">
        <form>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="nombre">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-form-label col-sm-3" for="fecha_nacimiento">Fecha de nacimiento</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="fecha_nacimiento" id="fecha_nacimiento" [matDatepicker]="dpFechaNacimiento">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="dpFechaNacimiento.open()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
              <mat-datepicker touchUi="true" #dpFechaNacimiento></mat-datepicker>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">CURP</label>
            <div class="col-sm-9">
              <input [textMask]="{mask: maskCURP}" type="text" class="form-control" name="curp">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">Número de celular</label>
            <div class="col-sm-9">
              <input [textMask]="{mask: maskPhone}" type="text" class="form-control" name="celular">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">Precio Venta</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">Vendedor</label>
            <div class="col-sm-9">
              <select class="form-control" name="">
                <option [value]="1">Vendedor 1</option>
                <option [value]="2">Vendedor 2</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3">Tipo Crédito</label>
            <div class="col-sm-9">
              <select class="form-control" name="">
                <option [value]="1">Crédito 1</option>
                <option [value]="2">Crédito 2</option>
              </select>
            </div>
          </div>


        </form>
      </div>

    </mat-tab>



    <!-- <Documentos> -->
    <mat-tab label="Documentos">
      <div class="container py-3">
        <mat-selection-list>
          <mat-list-option>IFE</mat-list-option>
          <mat-list-option>CURP</mat-list-option>
          <mat-list-option>ACTA DE NACIMIENTO</mat-list-option>
          <mat-list-option>COMPROBANTE DE DOMICILIO</mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>






  </mat-tab-group>



</div>
<div mat-dialog-actions>
  <button mat-button class="btn-block" [mat-dialog-close]="true">CERRAR</button>
</div>