<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoMapasAvances()">
        <mat-card-title class="mb-0">Mapas Avances</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">map</i>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoAvances()">
        <mat-card-title class="mb-0">Avances</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">show_chart</i>
      </mat-card>
    </div>

  </div>
</div>