<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/mapas-ventas',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Mapas Avances</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">map</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/avances',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Avances</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">show_chart</i>
        </mat-card>
      </a>
    </div>

  </div>
</div>