<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/usuarios">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Usuarios</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">group_add</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/obras">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Obras</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-cubes icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/prototipos',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Prototipos</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-tasks icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/estructura-obra',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Estructura Obra</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-sitemap icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/registro']">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Registro</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-paw icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/trabajadores',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Trabajadores</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">supervisor_account</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/asignar-trabajadores',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Asignar Trabajadores</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">library_add</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/pagos-trabajadores',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Pagos Trabajadores</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">attach_money</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/importar-prototipo']">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Importar Prototipo</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">description</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/proveedores']">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Proveedores</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">airport_shuttle</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/gastos-obras',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Gastos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">local_atm</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/arranque',obra_default]">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Arranque</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-flag-checkered icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <!-- <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/reporte',obra_default]">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Reportes</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">get_app</i>
        </mat-card>
      </a>
    </div> -->






  </div>
</div>