<h1 mat-dialog-title>Célula Fiscal</h1>
<div mat-dialog-content>

  <div class="row">
    <strong>{{cliente.persona_moral=='0'?'Nombre:': 'Razón Social:'}}</strong>
    <div class="pl-1">
      {{cliente.nombre}}
    </div>
  </div>

  <div class="row">
    <strong>RFC:</strong>
    <div class="pl-1">
      {{cliente.rfc}}
    </div>
  </div>
  <div class="row">
    <strong>Calle:</strong>
    <div class="pl-1">
      {{cliente.calle}}
    </div>
  </div>
  <div class="row">
    <strong>Núm. Exterior:</strong>
    <div class="pl-1">
      {{cliente.num_exterior}}
    </div>
  </div>
  <div class="row" *ngIf="cliente.num_interior">
    <strong>Núm. Interior:</strong>
    <div class="ml-1">
      {{cliente.num_interior}}
    </div>
  </div>
  <div class="row">
    <strong>Colonia:</strong>
    <div class="ml-1">
      {{cliente.colonia}}
    </div>
  </div>
  <div class="row">
    <strong>CP:</strong>
    <div class="ml-1">
      {{cliente.cp}}
    </div>
  </div>
  <div class="row">
    <strong>Localidad:</strong>
    <div class="ml-1">
      {{cliente.localidad}}
    </div>
  </div>
  <div class="row">
    <strong>Municipio:</strong>
    <div class="ml-1">
      {{cliente.municipio}}
    </div>
  </div>
  <div class="row">
    <strong>Estado:</strong>
    <div class="ml-1">
      {{cliente.estado}}
    </div>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button class="btn-block" [mat-dialog-close]="true">Cerrar</button>
</div>