<h1 mat-dialog-title>Cédula Fiscal</h1>
<div mat-dialog-content>

  <div class="mb-1">
    <div>
      <strong class="pr-1">{{cliente.persona_moral=='0'?'Nombre:': 'Razón Social:'}}</strong>{{cliente.nombre}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">RFC:</strong>{{cliente.rfc}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Calle:</strong>{{cliente.calle}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Núm. Exterior:</strong>{{cliente.num_exterior}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Núm. Interior:</strong>{{cliente.num_interior}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Colonia:</strong>{{cliente.colonia}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">CP:</strong>{{cliente.cp}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Localidad:</strong>{{cliente.localidad}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Municipio:</strong>{{cliente.municipio}}</div>
  </div>

  <div class="mb-1">
    <div>
      <strong class="pr-1">Estado:</strong>{{cliente.estado}}</div>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button class="btn-block" [mat-dialog-close]="true">CERRAR</button>
</div>