<h1 mat-dialog-title>{{data.lote.manzana||''}} {{data.lote.nombre||''}}</h1>
<div mat-dialog-content class="no-padding">



  <!-- clientes -->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-align-middle">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Activación</th>
          <th>Cancelación</th>
          <th class="text-right" style="width:66px">
            <!--             <button mat-icon-button tabindex="-1">
              <mat-icon>add</mat-icon>
            </button> -->
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of data.clientes" class="pointer" (click)="selectCliente(cliente)" [ngClass]="{'table-primary':selection.isSelected(cliente)}">

          <td>
            <mat-checkbox class="pl-2" (click)="$event.stopPropagation()" (change)="$event ? selectCliente(cliente) : null" [checked]="selection.isSelected(cliente)"></mat-checkbox>
          </td>

          <td class="ws-nowrap">{{cliente.nombre}}</td>
          <td>{{cliente.activo}}</td>
          <td class="ws-nowrap">{{cliente.fecha_activo| date:'mediumDate':'':'es'}}</td>
          <td class="ws-nowrap">{{cliente.fecha_cancelacion| date:'mediumDate':'':'es'}}</td>
          <td class="text-right">
            <button mat-icon-button (click)="$event.stopPropagation();reporteCliente(cliente)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-tab-group>

    <!-- Datos Generales -->
    <mat-tab label="Cliente">
      <div class="container py-3">
        <form [formGroup]="formGenerales" (ngSubmit)="guardar()" *ngIf="cliente_selected">

          <div class="form-group row mt-3">
            <label for="id_estado" class="col-form-label col-sm-3">Estado</label>
            <div class="col-sm-9">
              <select class="form-control" id="id_estado" name="id_estado" formControlName="id_estado" [(ngModel)]="estados_selected" [ngClass]="{'is-invalid':formGenerales.get('id_estado').invalid && (formGenerales.get('id_estado').dirty || formGenerales.get('id_estado').touched )}">
                <option [value]="1">Apartado</option>
                <option [value]="2">Checklist</option>
                <option [value]="3">Infonavit</option>
                <option [value]="4">Firma</option>
                <option [value]="5">Entrega</option>
              </select>
              <div *ngIf="formGenerales.get('id_estado').invalid && (formGenerales.get('id_estado').dirty || formGenerales.get('id_estado').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="estados_selected == '1'">
            <label for="fecha_apartado" class="col-form-label col-sm-3">Fecha Apartado</label>
            <div class="input-group col-sm-9">
              <input id="fecha_apartado" name="fecha_apartado" formControlName="fecha_apartado" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaApartado" [ngClass]="{'is-invalid':formGenerales.get('fecha_apartado').invalid && (formGenerales.get('fecha_apartado').dirty || formGenerales.get('fecha_apartado').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaApartado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_apartado').invalid && (formGenerales.get('fecha_apartado').dirty || formGenerales.get('fecha_apartado').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaApartado></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="estados_selected == '2'">
            <label for="fecha_checklist" class="col-form-label col-sm-3">Fecha Checklist</label>
            <div class="input-group col-sm-9">
              <input id="fecha_checklist" name="fecha_checklist" formControlName="fecha_checklist" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaDocumentos" [ngClass]="{'is-invalid':formGenerales.get('fecha_checklist').invalid && (formGenerales.get('fecha_checklist').dirty || formGenerales.get('fecha_checklist').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaDocumentos.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_checklist').invalid && (formGenerales.get('fecha_checklist').dirty || formGenerales.get('fecha_checklist').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaDocumentos></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="estados_selected == '3'">
            <label for="fecha_infonavit" class="col-form-label col-sm-3">Fecha Infonavit</label>
            <div class="input-group col-sm-9">
              <input id="fecha_infonavit" name="fecha_infonavit" formControlName="fecha_infonavit" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_infonavit').invalid && (formGenerales.get('fecha_infonavit').dirty || formGenerales.get('fecha_infonavit').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_infonavit').invalid && (formGenerales.get('fecha_infonavit').dirty || formGenerales.get('fecha_infonavit').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="estados_selected == '4'">
            <label for="fecha_firma" class="col-form-label col-sm-3">Fecha Firma</label>
            <div class="input-group col-sm-9">
              <input id="fecha_firma" name="fecha_firma" formControlName="fecha_firma" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_firma').invalid && (formGenerales.get('fecha_firma').dirty || formGenerales.get('fecha_firma').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_firma').invalid && (formGenerales.get('fecha_firma').dirty || formGenerales.get('fecha_firma').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>

          <div class="form-group row" *ngIf="estados_selected == '5'">
            <label for="fecha_entregado" class="col-form-label col-sm-3">Fecha Entregado</label>
            <div class="input-group col-sm-9">
              <input id="fecha_entregado" name="fecha_entregado" formControlName="fecha_entregado" class="form-control" placeholder="yyyy-mm-dd"
                type="text" placement="bottom-left" [matDatepicker]="dpFechaEscriturado" [ngClass]="{'is-invalid':formGenerales.get('fecha_entregado').invalid && (formGenerales.get('fecha_entregado').dirty || formGenerales.get('fecha_entregado').touched )}">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaEscriturado.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
              <div *ngIf="formGenerales.get('fecha_entregado').invalid && (formGenerales.get('fecha_entregado').dirty || formGenerales.get('fecha_entregado').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaEscriturado></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-3">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" [ngClass]="{'is-invalid':formGenerales.get('nombre').invalid && (formGenerales.get('nombre').dirty || formGenerales.get('nombre').touched )}">
              <div *ngIf="formGenerales.get('nombre').invalid && (formGenerales.get('nombre').dirty || formGenerales.get('nombre').touched )"
                class="visible invalid-feedback">
                Escriba el nombre del cliente
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-form-label col-sm-3" for="fecha_nacimiento">Fecha de nacimiento</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="fecha_nacimiento" formControlName="fecha_nacimiento"
                  id="fecha_nacimiento" [matDatepicker]="dpFechaNacimiento" [ngClass]="{'is-invalid':formGenerales.get('fecha_nacimiento').invalid && (formGenerales.get('fecha_nacimiento').dirty || formGenerales.get('fecha_nacimiento').touched )}">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="dpFechaNacimiento.open()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
              <div *ngIf="formGenerales.get('fecha_nacimiento').invalid && (formGenerales.get('fecha_nacimiento').dirty || formGenerales.get('fecha_nacimiento').touched )"
                class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaNacimiento></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="curp" class="col-form-label col-sm-3">CURP</label>
            <div class="col-sm-9">
              <input [textMask]="{mask: maskCURP}" type="text" class="form-control" id="curp" name="curp" formControlName="curp" [ngClass]="{'is-invalid':formGenerales.get('curp').invalid && (formGenerales.get('curp').dirty || formGenerales.get('curp').touched )}">
              <div *ngIf="formGenerales.get('curp').invalid && (formGenerales.get('curp').dirty || formGenerales.get('curp').touched )"
                class="visible invalid-feedback">
                Escriba la CURP del cliente
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="telefono" class="col-form-label col-sm-3">Teléfono</label>
            <div class="col-sm-9">
              <input [textMask]="{mask: maskPhone}" type="text" class="form-control" name="telefono" id="telefono" formControlName="telefono"
                [ngClass]="{'is-invalid':formGenerales.get('telefono').invalid && (formGenerales.get('telefono').dirty || formGenerales.get('telefono').touched )}">
              <div *ngIf="formGenerales.get('telefono').invalid && (formGenerales.get('telefono').dirty || formGenerales.get('telefono').touched )"
                class="visible invalid-feedback">
                Escriba el teléfono del cliente
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-3" for="dtu">DTU</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="dtu" formControlName="dtu" id="dtu" [matDatepicker]="dpFechaDtu"
                  [ngClass]="{'is-invalid':formGenerales.get('dtu').invalid && (formGenerales.get('dtu').dirty || formGenerales.get('dtu').touched )}">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="dpFechaDtu.open()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
              <div *ngIf="formGenerales.get('dtu').invalid && (formGenerales.get('dtu').dirty || formGenerales.get('dtu').touched )" class="visible invalid-feedback">
                Seleccione una fecha
              </div>
            </div>
            <mat-datepicker touchUi="true" #dpFechaDtu></mat-datepicker>
          </div>

          <div class="form-group row">
            <label for="precio_venta" class="col-form-label col-sm-3">Precio Venta</label>
            <div class="col-sm-9">
              <input [textMask]="{mask: numbermask}" type="text" class="form-control" id="precio_venta" name="precio_venta" formControlName="precio_venta"
                [ngClass]="{'is-invalid':formGenerales.get('precio_venta').invalid && (formGenerales.get('precio_venta').dirty || formGenerales.get('precio_venta').touched )}">
              <div *ngIf="formGenerales.get('precio_venta').invalid && (formGenerales.get('precio_venta').dirty || formGenerales.get('precio_venta').touched )"
                class="visible invalid-feedback">
                Indique precio venta
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_vendedor" class="col-form-label col-sm-3">Vendedor</label>
            <div class="col-sm-9">
              <select class="form-control" id="id_vendedor" name="id_vendedor" formControlName="id_vendedor" [ngClass]="{'is-invalid':formGenerales.get('id_vendedor').invalid && (formGenerales.get('id_vendedor').dirty || formGenerales.get('id_vendedor').touched )}">
                <option [value]="1">Vendedor 1</option>
                <option [value]="2">Vendedor 2</option>
              </select>
              <div *ngIf="formGenerales.get('id_vendedor').invalid && (formGenerales.get('id_vendedor').dirty || formGenerales.get('id_vendedor').touched )"
                class="visible invalid-feedback">
                Indique el vendedor
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_tipo_credito" class="col-form-label col-sm-3">Tipo Crédito</label>
            <div class="col-sm-9">
              <select class="form-control" id="id_tipo_credito" name="id_tipo_credito" formControlName="id_tipo_credito" [ngClass]="{'is-invalid':formGenerales.get('id_tipo_credito').invalid && (formGenerales.get('id_tipo_credito').dirty || formGenerales.get('id_tipo_credito').touched )}">
                <option [value]="1">Crédito 1</option>
                <option [value]="2">Crédito 2</option>
              </select>
              <div *ngIf="formGenerales.get('id_tipo_credito').invalid && (formGenerales.get('id_tipo_credito').dirty || formGenerales.get('id_tipo_credito').touched )"
                class="visible invalid-feedback">
                Indique el vendedor
              </div>
            </div>
          </div>


        </form>
      </div>

    </mat-tab>



    <!-- <Documentos> -->
    <mat-tab label="Documentos">
      <div class="container py-3">
        <form [formGroup]="formDocumentos" (ngSubmit)="guardar()" *ngIf="cliente_selected">
          <mat-selection-list>
            <mat-list-option>IFE</mat-list-option>
            <mat-list-option>CURP</mat-list-option>
            <mat-list-option>ACTA DE NACIMIENTO</mat-list-option>
            <mat-list-option>COMPROBANTE DE DOMICILIO</mat-list-option>
          </mat-selection-list>
        </form>
      </div>
    </mat-tab>






  </mat-tab-group>



</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
  <button type="submit" mat-button color="primary">GUARDAR</button>
</div>