<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-admin">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Administración</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">folder_shared</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-ventas">
        <mat-card class="d-flex align-items-center card-pointer">
          <mat-card-title class="mb-0">Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">assignment_returned</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-avances">
      <mat-card class="d-flex align-items-center text-muted">
        <mat-card-title class="mb-0">Avances</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero text-muted">show_chart</i>
      </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-2">
      <a class="no-decoration" routerLink="/tablero-almacen">
      <mat-card class="d-flex align-items-center text-muted">
        <mat-card-title class="mb-0">Almacén</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero text-muted">description</i>
      </mat-card>
      </a>
    </div>









    <!-- 
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoClientes()">
        <mat-card-title class="mb-0">Clientes</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">contacts</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoTrabajadores()">
        <mat-card-title class="mb-0">Trabajadores</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">supervisor_account</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoUsuarios()">
        <mat-card-title class="mb-0">Usuarios</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">group_add</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoObras()">
        <mat-card-title class="mb-0">Obras</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">list</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoPrototipo()">
        <mat-card-title class="mb-0">Prototipos</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">donut_large</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoDesarrollos()">
        <mat-card-title class="mb-0">Desarrollos</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">assignment_turned_in</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoEstructura()">
        <mat-card-title class="mb-0">Estructura Obra</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">business</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoAlertaClientes()">
        <mat-card-title class="mb-0">Alerta Clientes</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">notifications</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoClienteSinLote()">
        <mat-card-title class="mb-0">Clientes Sin Lote</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">person_outline</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoMapas()">
        <mat-card-title class="mb-0">Mapas Ventas</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">map</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoEstadisticas()">
        <mat-card-title class="mb-0">Estadisticas Ventas</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">assessment</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoAvances()">
        <mat-card-title class="mb-0">Avances</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">show_chart</i>
      </mat-card>
    </div>


    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoMapasAvances()">
        <mat-card-title class="mb-0">Mapas Avances</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">map</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoSalidas()">
        <mat-card-title class="mb-0">Salidas</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">unarchive</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoEntradas()">
        <mat-card-title class="mb-0">Entradas</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">archive</i>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <mat-card class="d-flex align-items-center card-pointer" (click)="gotoInventario()">
        <mat-card-title class="mb-0">Inventario</mat-card-title>
        <span class="spacer"></span>
        <i class="material-icons icono-tablero">line_weight</i>
      </mat-card>
    </div> -->




  </div>


</div>