<div class="container">
  
  
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoEntradas()">
              <md-card-title class="mb-0">Entradas</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">archive</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoSalidas()">
              <md-card-title class="mb-0">Salidas</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">unarchive</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoOrdenes()">
              <md-card-title class="mb-0">Ordenes</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">assignment</i>
            </md-card>
          </div>
        
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoReportes()">
              <md-card-title class="mb-0">Reportes</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">insert_chart</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoInventario()">
              <md-card-title class="mb-0">Inventario</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">assignment_turned_in</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoOrden()">
              <md-card-title class="mb-0">Orden de compra</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">business_center</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoClientes()">
              <md-card-title class="mb-0">Clientes</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">business</i>
            </md-card>
          </div>
  
        </div>
  
    
  </div>