<div class="container py15px">
  
  
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoClientes()">
              <md-card-title class="mb-0">Clientes</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">contacts</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoUsuarios()">
              <md-card-title class="mb-0">Usuarios</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">group_add</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoObras()">
              <md-card-title class="mb-0">Obras</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">list</i>
            </md-card>
          </div>
        
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoPrototipo()">
              <md-card-title class="mb-0">Prototipo</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">donut_large</i>
            </md-card>
          </div>
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoDesarrollos()">
              <md-card-title class="mb-0">Desarrollos</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">assignment_turned_in</i>
            </md-card>
          </div>  
  
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoEstructura()">
              <md-card-title class="mb-0">Estructura Obra</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">business</i>
            </md-card>
          </div>

          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoMapas()">
              <md-card-title class="mb-0">Mapas Ventas</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">map</i>
            </md-card>
          </div>

          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoAvances()">
              <md-card-title class="mb-0">Avances</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">show_chart</i>
            </md-card>
          </div>

          
          <div class="col-12 col-md-6 col-xl-4 p-2">
            <md-card class="d-flex align-items-center card-pointer" (click)="gotoMapasAvances()">
              <md-card-title class="mb-0">Mapas Avances</md-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">map</i>
            </md-card>
          </div>
          
  
        </div>
  
    
  </div>