


/*********funciona cuando  pantalla > 600px **********/
//height: 100%;
//position: relative;
/**************************************************/
.content {
    //3rem del pb-5, .5rem del pt-2
    min-height: calc(100vh - 64px);
}

/********** aplicar cuando pantalla < 600 px *****/
//height toolbar = pantalla < 600px? 56px: 64px
//height: calc(100vh - 64px);
/***************************/
@media only screen and (max-width: 600px) {
    .content{
        //3rem del pb-5, .5rem del pt-2
        min-height: calc(100vh - 56px);
    }

    .fab-t1 {
      
        top:59px !important; 
        right:4px !important; 
      
    }
    .fab-t2 {
      
        top:59px !important; 
        right:66px !important; 
      
    }
    .fab-t3 {
      
        top:59px !important; 
        right:128px !important; 
      
    }
    .fab-t4 {
      
        top:59px !important; 
        right:190px !important; 
      
    }
    .fab-t5 {
      
        top:59px !important; 
        right:252px !important; 
      
    }

    
}

.fab-t1 {
    position:fixed; 
    top:67px; 
    right:20px; 
    z-index:100;
}
.fab-t2 {
    position:fixed; 
    top:67px; 
    right:85px; 
    z-index:100;
}
.fab-t3 {
    position:fixed; 
    top:67px; 
    right:150px; 
    z-index:100;
}
.fab-t4 {
    position:fixed; 
    top:67px; 
    right:215px; 
    z-index:100;
}
.fab-t5 {
    position:fixed; 
    top:67px; 
    right:280px; 
    z-index:100;
}



