<div class="container">
    <div class="row">
        <div class="col-4">
            <md-card>
                <div class="mb-2">
                    <select class="form-control" [(ngModel)]="obra_selected" > <!-- (change)="cargarObra(obra_selected)" -->
                              <option value="">Seleccionar...</option>
                              <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>                                     
                    </select>
                </div>
                <div class="d-flex">
                    <!-- <span><i class="fa fa-share"></i></span> -->
                    <span>{{obra?.obra?.nombre || ""}}</span>
                    <div class="spacer"></div>
                    <span class="badge badge-pill badge-warning align-self-center mr-2">{{obra?.manzanas?.length || "0"}}</span>
                </div>
            </md-card>

            <md-accordion>
                <md-expansion-panel *ngFor="let manzana of obra?.manzanas" [hideToggle]="false">
                    <md-expansion-panel-header>
                        <span>{{manzana.nombre}}</span>
                        <div class="spacer"></div>
                        <span class="badge badge-pill badge-primary align-self-center mr-2">{{manzana.lotes?.length || "0"}}</span>

                    </md-expansion-panel-header>
                    <ul class="list-group" *ngFor="let lote of manzana.lotes">
                        <li class="list-group-item">({{lote.prototipos?.length || "0"}}) {{lote.nombre}}</li>
                    </ul>
                </md-expansion-panel>
            </md-accordion>

        </div>
        <div class="col-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <button class="btn btn-light" type="submit">Terminar</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-light" type="submit">Liberar</button>
                        </li>
                        <li class="nav-item">
                            <button md-button [mdMenuTriggerFor]="menu">
                              <md-icon>delete</md-icon>
                            </button>
                            <md-menu #menu="mdMenu" xPosition="before" [overlapTrigger]="false">
                                <button md-menu-item>Avance</button>
                                <button md-menu-item>Liberación</button>
                            </md-menu>
                        </li>
                        <li class="nav-item">
                            <button md-icon-button (click)="comentarioAvances()">
                              <md-icon>chat_bubble</md-icon>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            <ol class="breadcrumb colorBread">
                <li class="breadcrumb-item"><a href="#">{{lote?.lote.obra}}</a></li>
                <li class="breadcrumb-item"><a href="#">{{lote?.lote.manzana}}</a></li>
                <li class="breadcrumb-item active">{{lote?.lote.nombre}}</li>
            </ol>
            <md-accordion>

                <md-expansion-panel *ngFor="let partida of lote?.acordeon" [hideToggle]="true">
                    <md-expansion-panel-header [ngClass]="{'bg-info text-white': partidaFinalizada(partida)}">
                        <span>{{partida.nombre}}</span>
                        <div class="spacer"></div>
                        <div class="collapse-header-btns">
                            <small class="pull-right">{{numSubpartidasFinalizadas(partida)}} <span class="hidden-xs">de  {{partida.subpartidas.length || "1"}}</span>                        
                            </small>
                        </div>
                    </md-expansion-panel-header>
                    <div *ngIf="partida.subpartidas.length>0">
                        <ul class="list-group" *ngFor="let subpartida of partida?.subpartidas">
                            <li class="list-group-item">
                                <div class="d-flex">
                                    <md-checkbox>{{subpartida.nombre}}
                                        <div style="font-size: 15px;">
                                            <span class="badge" [ngClass]="{'badge-secondary':!subpartida.fecha_fin, 'badge-primary':subpartida.fecha_fin}"><i class="fa fa-legal"></i>{{subpartida.fecha_fin|| "No terminada"}}</span>
                                            <span class="badge" [ngClass]="{'badge-secondary':!subpartida.fecha_liberacion, 'badge-success':subpartida.fecha_liberacion}"><i class="fa fa-usd"></i>{{subpartida.fecha_liberacion|| "No liberada"}}</span>
                                        </div>
                                    </md-checkbox>
                                    <div class="spacer"></div>
                                    <div>
                                        <button md-icon-button>
                                      <md-icon>camera_alt</md-icon>
                                  </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="partida.subpartidas.length===0">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="d-flex">
                                    <md-checkbox>
                                        <div style="font-size: 15px;">
                                            <span class="badge badge-secondary" [ngClass]="{'badge-secondary':!partida.fecha_fin, 'badge-primary':partida.fecha_fin}"><i class="fa fa-legal"></i>{{partida.fecha_fin || "No terminada"}}</span>
                                            <span class="badge badge-secondary" [ngClass]="{'badge-secundary':!partida.fecha_liberacion, 'badge-success':partida.fecha_liberacion}"><i class="fa fa-usd"></i>{{partida.fecha_liberacion || "No liberada"}}</span>
                                        </div>
                                    </md-checkbox>
                                    <div class="spacer"></div>
                                    <div>
                                        <button md-icon-button>
                                          <md-icon>camera_alt</md-icon>
                                      </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </md-expansion-panel>



            </md-accordion>
        </div>
    </div>
</div>