<div class="content">
  <div class="map-header">
    <select class="form-control" name="" id="">
      <option value="">Seleccionar...</option>
      <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
    </select>
  </div>


  <div id="map" class="map"></div>

  <mat-toolbar color="primary" class="map-footer">

    <div class="map-toolbar">

      <button mat-button (click)="getMapa()">          
        <mat-icon>map</mat-icon> MAPA
      </button>

      <button mat-button>          
        <mat-icon>contacts</mat-icon> CLIENTE
      </button>

      <button mat-button>          
        <mat-icon>domain</mat-icon> LOTE
      </button>

      <button mat-button>          
        <mat-icon>assignment_turned_in</mat-icon> ESTADO
      </button>

      <button mat-icon-button>          
        <mat-icon>person</mat-icon>
      </button>    

      <mat-slide-toggle class="toolbar-slide-toogle">LEYENDA</mat-slide-toggle>

    </div>
  </mat-toolbar>

</div>