.content {
    display: flex;
    flex-direction: column;
    //64px = toolbar
    height: calc(100vh - 64px);
}



.map {
    display: flex;
    flex-direction: column;
    //background-color: #61076A;
    flex-grow: 1;
    //position: absolute;
    //top: 64px;
    //bottom: 0;
    //left: 0;
    //right: 0;
}

/* .map-header {
    background-color: yellow;
}
 */
.map-toolbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.toolbar-slide-toogle {
    align-self: center;
    height: unset;    

}

:host /deep/ label.mat-slide-toggle-label {
    margin-bottom: 0 !important;
}



