<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Salidas de Almacén</h5>

          <form [formGroup]="form" (ngSubmit)="getReporteSalidas()" id="id_formReporteSalidas">

            <div class="form-group">
              <label for="obra" class="form-label">Obra</label>
              <select class="form-control" [(ngModel)]="obra_selected" (change)="getManzanasMateriales(obra_selected)" formControlName="id_obra"
                [ngClass]="{'is-invalid': form.get('id_obra').invalid  && (form.get('id_obra').dirty || form.get('id_obra').touched )}">
                <option value="">Seleccionar...</option>
                <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
              </select>
              <div class="invalid-feedback">Seleccione una obra</div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <mat-checkbox formControlName="all_obra">Toda la obra</mat-checkbox>
                <select [(ngModel)]="lote_selected" class="form-control" formControlName="id_lote" [ngClass]="{'is-invalid': form.get('id_lote').invalid  && (form.get('id_lote').dirty || form.get('id_lote').touched )}">
                  <option value="">Seleccionar...</option>
                  <ng-container *ngFor="let manzana of manzanas">
                    <option *ngFor="let lote of manzana.lotes" [value]="lote.id_lote">{{manzana.nombre + ' - ' + lote.nombre}}</option>
                  </ng-container>
                </select>
                <div class="invalid-feedback">Seleccione un lote</div>
              </div>

              <!-- <div>all_obra: {{form.get('all_obra').value|json}}</div> -->

              <div class="form-group col-md-6">
                <mat-checkbox formControlName="all_insumos">Todos los insumos</mat-checkbox>
                <select [(ngModel)]="insumo_selected" class="form-control" formControlName="id_insumo" [ngClass]="{'is-invalid': form.get('id_insumo').invalid  && (form.get('id_insumo').dirty || form.get('id_insumo').touched )}">
                  <option value="">Seleccionar...</option>
                  <option *ngFor="let insumo of insumos" [value]="insumo.id_insumo">{{insumo.insumo}}</option>
                </select>
                <div class="invalid-feedback">Seleccione un insumo</div>
              </div>
            </div>

            <mat-checkbox formControlName="inicio">Inicio Obra</mat-checkbox>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fecha_ini">Fecha Inicio</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha_ini" placement="bottom-left" [matDatepicker]="dpFechaInicio"
                    formControlName="fecha_ini" [ngClass]="{'is-invalid':form.get('fecha_ini').invalid && (form.get('fecha_ini').dirty || form.get('fecha_ini').touched )}">
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="dpFechaInicio.open()">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
                <div *ngIf="form.get('fecha_ini').invalid && (form.get('fecha_ini').dirty || form.get('fecha_ini').touched )" class="visible invalid-feedback">
                  Seleccione una fecha
                </div>
                <mat-datepicker touchUi="true" #dpFechaInicio></mat-datepicker>
              </div>
              <div class="form-group col-md-6">
                <label for="fecha_fin">Fecha Fin</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha_fin" placement="bottom-left" [matDatepicker]="dpFechaFin"
                    formControlName="fecha_fin" [ngClass]="{'is-invalid':form.get('fecha_fin').invalid && (form.get('fecha_fin').dirty || form.get('fecha_fin').touched )}">
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="dpFechaFin.open()">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
                <div *ngIf="form.get('fecha_fin').invalid && (form.get('fecha_fin').dirty || form.get('fecha_fin').touched )" class="visible invalid-feedback">
                  Seleccione una fecha
                </div>
                <mat-datepicker touchUi="true" #dpFechaFin></mat-datepicker>
              </div>
            </div>

          </form>

        </div>
        <div class="card-footer text-center">
          <button mat-raised-button class="btn" type="submit" color="primary" form="id_formReporteSalidas" [disabled]="form.invalid">REPORTE</button>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <mat-tab-group>
            <mat-tab label="Consumido">

              <div *ngIf="partidas.length && !form.get('all_obra').value">
                <h5 class="text-center pt-3">CONSUMIDO EN LOTE</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Insumo</th>
                        <th>Unidad</th>
                        <th>Programado</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let insumo of partidas" [ngClass]="{'table-danger': +insumo.consumido>+insumo.programado}">
                        <td>{{insumo.insumo}}</td>
                        <td>{{insumo.unidad}}</td>
                        <td>{{insumo.programado|number:'.2-6'}}</td>
                        <td>{{insumo.consumido|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="partidas.length && form.get('all_obra').value">
                <h5 class="text-center pt-3">CONSUMIDO EN OBRA</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Insumo</th>
                        <th>Unidad</th>
                        <th>Programado</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let insumo of partidas" [ngClass]="{'table-danger': +insumo.consumido>+insumo.programado}">
                        <td>{{insumo.insumo}}</td>
                        <td>{{insumo.unidad}}</td>
                        <td>{{insumo.programado|number:'.2-6'}}</td>
                        <td>{{insumo.consumido|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="paquetes.length && !form.get('all_obra').value">
                <h5 class="text-center pt-3">CONSUMIDO EN PAQUETES</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Prototipo</th>
                        <th>Partida</th>
                        <th>Subpartida</th>
                        <th>Programado</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let salida of paquetes" [ngClass]="{'table-danger': +salida.consumido>+salida.programado}">
                        <td class="ws-nowrap">{{salida.prototipo}}</td>
                        <td>{{salida.partida}}</td>
                        <td>{{salida.subpartida}}</td>
                        <td>{{salida.programado|number:'.2-6'}}</td>
                        <td>{{salida.consumido|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="paquetes.length && form.get('all_obra').value">
                <h5 class="text-center pt-3">CONSUMIDO EN PAQUETES</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Manzana</th>
                        <th>Lote</th>
                        <th>Prototipo</th>
                        <th>Partida</th>
                        <th>Subpartida</th>
                        <th>Programado</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let salida of paquetes" [ngClass]="{'table-danger': +salida.consumido>+salida.programado}">
                        <td class="ws-nowrap">{{salida.manzana}}</td>
                        <td class="ws-nowrap">{{salida.lote}}</td>
                        <td class="ws-nowrap">{{salida.prototipo}}</td>
                        <td>{{salida.partida}}</td>
                        <td>{{salida.subpartida}}</td>
                        <td>{{salida.programado|number:'.2-6'}}</td>
                        <td>{{salida.consumido|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="urbanizacion.length">
                <h5 class="text-center pt-3">CONSUMIDO EN URBANIZACIÓN</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Partida</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let partida of urbanizacion">
                        <td>{{partida.nombre}}</td>
                        <td>{{partida.cantidad|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="otras_obras.length">
                <h5 class="text-center pt-3">CONSUMIDO EN OTRAS OBRAS</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th>Insumo</th>
                        <th>Consumido</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let obra of otras_obras">
                        <td>{{obra.destino}}</td>
                        <td>{{obra.cantidad|number:'.2-6'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </mat-tab>
            <mat-tab label="Salidas">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-align-middle">
                  <thead>
                    <tr>
                      <th>Núm.Vale</th>
                      <th>Fecha</th>
                      <th>Tipo</th>
                      <th>Partida</th>
                      <th>Subpartida</th>
                      <th>Alerta</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let salida of salidas">
                      <td>{{salida.num_vale}}</td>
                      <td>{{salida.fecha}}</td>
                      <td>{{salida.tipo_salida}}</td>
                      <td>{{salida.partida}}</td>
                      <td>{{salida.subpartida}}</td>
                      <td>{{salida.tiene_alerta}}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-dark">
                          <i class="fa fa-check"></i>
                        </button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>
</div>