<h1 mat-dialog-title>Editar Insumo</h1>
<div mat-dialog-content>


  <form name="formEditInsumo" id="formEditInsumo" novalidate>
    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" class="form-control" name="insumo" readonly [(ngModel)]="insumo.insumo">
    </div>
    <div class="form-group">
      <label class="control-label">Unidad</label>
      <input type="text" class="form-control" name="unidad" readonly [(ngModel)]="insumo.unidad">
    </div>
    <div class="form-group">
      <label class="control-label">Cantidad</label>
      <input [textMask]="{mask: numberMask}" type="text" name="cantidad" class="form-control" required [(ngModel)]="insumo.cantidad">
      <div>
        <span class="help-block">La cantidad debe ser mayor a 0</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Precio</label>
      <input [textMask]="{mask: currencyMask}" type="text" name="precio" class="form-control" name="precio" required [(ngModel)]="insumo.precio">
      <div>
        <span class="help-block">El precio debe ser mayor a 0</span>
      </div>
    </div>

    <div class="checkbox">
      <label>
      <input type="checkbox" name="cambiar_precios"> Cambiar precio en todas las partidas
      </label>
    </div>



  </form>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button [mat-dialog-close]="true">EDITAR</button>
</div>