<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (selectionChange)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <div class="text-right">
            <span>SALDO: </span>
            <span class="ml-1 h5">{{totalSaldo() | currency}}</span>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Saldo Proveedores</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="nuevoMovimiento()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cargo</th>
                  <th>Abono</th>
                  <th>Nota</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let movimiento of movimientos">
                  <td class="ws-nowrap">{{movimiento.fecha| date:'mediumDate':'':'es'}}</td>
                  <td>
                    <span *ngIf="movimiento.es_cargo=='1'">{{movimiento.monto|currency}}</span>
                  </td>
                  <td>
                    <span *ngIf="movimiento.es_cargo=='0'">{{movimiento.monto|currency}}</span>
                  </td>
                  <td>{{movimiento.nota}}</td>
                  <td class="text-right">
                    <button mat-button class="no-min" matTooltip="Editar" (click)="editarMovimiento(movimiento)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button mat-button class="no-min" matTooltip="Eliminar" (click)="delMovimiento(movimiento)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr class="">
                  <th>TOTALES</th>
                  <th>{{totalCargos() | currency}}</th>
                  <th>{{totalAbonos() | currency}}</th>
                  <th></th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>