<h1 md-dialog-title>Agregar Subpartida</h1>
<div md-dialog-content>

<!--   <div class="modal fade" id="modalAddSubPartida" tabindex="-1" role="dialog" aria-labelledby="myModaAddSubPartidalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModaAddSubPartidalLabel">Agregar Subpartida</h4>
        </div>
        <form name="formAddSubPartida" id="formAddPartida" ng-submit="formAddSubPartida.$valid && ctrl.addSubpartida(formAddSubPartida)"
          novalidate>
          <div class="modal-body">

            <div class="form-group" ng-class="{
                                'has-error'
                                :(formAddSubPartida.$submitted || formAddSubPartida.codigo.$touched) && formAddSubPartida.codigo.$error.required }">
              <label class="control-label">Código</label>
              <input type="text" name="codigo" class="form-control" ng-model="ctrl.nuevaSubpartida.codigo" required>
              <div ng-show="formAddSubPartida.$submitted || formAddSubPartida.codigo.$touched">
                <span ng-show="formAddSubPartida.codigo.$error.required" class="help-block">Escriba un código</span>
              </div>
            </div>

            <div class="form-group" ng-class="{
                                'has-error'
                                :(formAddSubPartida.$submitted || formAddSubPartida.nombre.$touched) && formAddSubPartida.nombre.$error.required }">
              <label class="control-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" ng-model="ctrl.nuevaSubpartida.nombre" required>
              <div ng-show="formAddSubPartida.$submitted || formAddSubPartida.nombre.$touched">
                <span ng-show="formAddSubPartida.nombre.$error.required" class="help-block">Escriba un nombre</span>
              </div>
            </div>
            <div>valid: {{formAddSubPartida.$valid}}</div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div> -->
<div md-dialog-actions>
  <button md-button [md-dialog-close]="false">CANCELAR</button>
  <button md-button [md-dialog-close]="true">CREAR</button>
</div>