<h1 mat-dialog-title>Configuración</h1>
<div mat-dialog-content>

  <div class="form-group">
    <mat-slide-toggle [checked]="verLeyenda" (change)="toggleVerLeyenda($event)">Leyenda</mat-slide-toggle>
  </div>
  <button mat-raised-button color="primary" class="btn-block" (click)="escalaPrototipos()">Prototipos</button>
  <button mat-raised-button color="primary" class="btn-block" (click)="escalaEstados()">Lotes</button>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" class="btn-block">CERRAR</button>
</div>