<div class="container-fluid  drawer-content  pt-2 pb-5" style="display: flex; flex-direction: column">

  
  <div class="row">
    <div class="col-12">

        <div>
            <mat-form-field class="w-100">
              <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (selectionChange)="cargarObra(obra_selected)">
                <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

    </div>

  </div>


  <div class="row" style="flex-grow: 1" >

    <div class="col-12 col-lg-8">

      <div class="d-flex flex-column" style="height: 99%;">
          <h6 class="align-self-center">Ventas Mensuales</h6>
          <div class="card mat-elevation-z5 flex-grow-1">

            <ngx-charts-bar-vertical 
            [view]="view" 
            [scheme]="colorSchemeYear" 
            [results]="year" 
            [gradient]="gradient" 
            [xAxis]="showXAxis" 
            [yAxis]="showYAxis"
            [legend]="showLegend" 
            [showXAxisLabel]="showXAxisLabel" 
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelYear"
            [yAxisLabel]="yAxisLabelYear" 
            (select)="onSelect($event)">
            <ng-template #tooltipTemplate let-model="model">
              <span class="tooltip-label">{{model.name}}</span>
              <span class="tooltip-val">{{model.value|currency}}</span>
            </ng-template>
            </ngx-charts-bar-vertical>
          </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column" style="height: 99%;">
        <h6 class="align-self-center">Ventas Anuales</h6>
        <div class="card mat-elevation-z5 flex-grow-1">

          <ngx-charts-bar-vertical 
          [view]="view" 
          [scheme]="colorSchemeTotales" 
          [results]="totales" 
          [gradient]="gradient" 
          [xAxis]="showXAxis" 
          [yAxis]="showYAxis"
          [legend]="showLegend" 
          [showXAxisLabel]="showXAxisLabel" 
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabelTotales"
          [yAxisLabel]="yAxisLabelTotales" 
          (select)="selectYear($event)">
          <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{model.name}}</span>
            <span class="tooltip-val">{{model.value|currency}}</span>
          </ng-template>
          </ngx-charts-bar-vertical>
        </div>
      </div>      
    </div>

  </div>

</div>