<div class="container-fluid  drawer-content  pt-2 pb-5" style="display: flex; flex-direction: column">
  <!--   mt-2 mb-5 -->
  
  <div class="row">
    <div class="col-12">

        <div>
            <mat-form-field class="w-100">
              <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (selectionChange)="cargarObra(obra_selected)">
                <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

    </div>

  </div>

 <!--  style="height: 400px;" -->
  <div class="row" style="flex-grow: 1" >

    <div class="col-12 col-lg-8" style="">

      <div class="card mat-elevation-z5" style="height: 99%;">

      <ngx-charts-bar-vertical 
      [view]="view" 
      [scheme]="colorScheme" 
      [results]="year" 
      [gradient]="gradient" 
      [xAxis]="showXAxis" 
      [yAxis]="showYAxis"
      [legend]="showLegend" 
      [showXAxisLabel]="showXAxisLabel" 
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabelYear"
      [yAxisLabel]="yAxisLabelYear" 
      (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
        <span class="tooltip-label">{{model.name}}</span>
        <span class="tooltip-val">{{model.value|currency}}</span>
      </ng-template>
      </ngx-charts-bar-vertical>
      </div>

    </div>

    <div class="col-12 col-lg-4">

      <div class="card mat-elevation-z5" style="height: 99%;">

        <ngx-charts-bar-vertical 
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="totales" 
        [gradient]="gradient" 
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis"
        [legend]="showLegend" 
        [showXAxisLabel]="showXAxisLabel" 
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabelTotales"
        [yAxisLabel]="yAxisLabelTotales" 
        (select)="selectYear($event)">
        <ng-template #tooltipTemplate let-model="model">
          <span class="tooltip-label">{{model.name}}</span>
          <span class="tooltip-val">{{model.value|currency}}</span>
        </ng-template>
        </ngx-charts-bar-vertical>
      </div>

      </div>

  </div>

</div>