<h1 mat-dialog-title>Editar Pago</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

      <div class="form-group">
          <label for="id_trabajador" class="form-label">Trabajador</label>
          <select class="form-control" id="id_trabajador" name="id_trabajador" formControlName="id_trabajador"
            [ngClass]="{'is-invalid': form.get('id_trabajador').invalid  && (form.get('id_trabajador').dirty || form.get('id_trabajador').touched )}">
            <option [value]="trabajador.id_trabajador" *ngFor="let trabajador of data.trabajadores">{{trabajador.nombre}} ({{trabajador.especialidad}})</option>
          </select>
          <div class="invalid-feedback">Seleccione un trabajador</div>
        </div>


    <div class="form-group">
      <label for="pago" class="form-label">Monto</label>
      <input [textMask]="{mask: numberMask}" class="form-control" type="text" id="pago" name="pago" formControlName="pagado" [ngClass]="{'is-invalid': form.get('pagado').invalid  && (form.get('pagado').dirty || form.get('pagado').touched )}">
      <div class="invalid-feedback">Proporcione un monto válido</div>
    </div>

    <div class="form-group">
      <label for="fecha_pago" class="form-label">Fecha Pago</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha_pago" placement="bottom-left" [matDatepicker]="dpFechaPago"
          formControlName="fecha_pago" [ngClass]="{'is-invalid':form.get('fecha_pago').invalid && (form.get('fecha_pago').dirty || form.get('fecha_pago').touched )}">
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="dpFechaPago.open()">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
      <div *ngIf="form.get('fecha_pago').invalid && (form.get('fecha_pago').dirty || form.get('fecha_pago').touched )" class="visible invalid-feedback">
        Seleccione una fecha
      </div>
      <mat-datepicker touchUi="true" #dpFechaPago></mat-datepicker>
    </div>

    <div class="form-group">
      <label for="id_tipo_pago" class="form-label">Tipo pago</label>
      <select class="form-control" id="id_tipo_pago" name="id_tipo_pago" formControlName="id_tipo_pago" [ngClass]="{'is-invalid': form.get('id_tipo_pago').invalid  && (form.get('id_tipo_pago').dirty || form.get('id_tipo_pago').touched )}">
        <option value="">Seleccionar...</option>
        <option *ngFor="let tipo of data.tipos" [value]="tipo.id_tipo_pago">{{tipo.tipo}}</option>
      </select>
      <div class="invalid-feedback">Seleccione un tipo</div>
    </div>

    <div class="form-group">
      <label for="notas" class="col-form-label">Nota</label>
      <input type="text" class="form-control" id="notas" name="notas" formControlName="notas">
    </div>


  </form>


</div>
<div mat-dialog-actions>
  <button mat-button type="button" [mat-dialog-close]="false">CERRAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>