<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Archivo</div>
            <div class="spacer"></div>
            <div>
              <button mat-button (click)="verFormato()">
                Formato ?
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" #inputFile ng2FileSelect [uploader]="uploader" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
              </div>
              <small class="form-text text-muted">Extensiones de Excel válidas (xls, xlsx)</small>
            </div>

            <div class="form-group" *ngFor="let item of uploader.queue">
              <div class="">{{item.file.name}}</div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="button" mat-raised-button color="secondary" (click)="reset()">Reset</button>
          <button type="button" mat-raised-button color="primary" (click)="uploader.uploadAll()">Procesar</button>
        </div>
      </div>

      <!-- Filas ignoradas -->
      <div class="card mt-2" *ngIf="ignored.length>0">
        <div class="card-header">
          Filas Ignoradas
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-align-middle">
              <thead>
                <tr>
                  <th>#</th>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                  <th>E</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ignorado of ignored">
                  <td>{{ignorado.num_fila}}</td>
                  <td>{{ignorado.A}}</td>
                  <td>{{ignorado.B}}</td>
                  <td>{{ignorado.C}}</td>
                  <td>{{ignorado.D}}</td>
                  <td>{{ignorado.E}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card mt-2" *ngIf="partidas.length>0">
        <div class="card-header">
          Prototipo
        </div>

        <!-- partidas -->
        <mat-accordion [displayMode]="'default'">

          <mat-expansion-panel [hideToggle]="true" *ngFor="let partida of partidas" #par>
            <mat-expansion-panel-header class="align-items-center" [ngClass]="{'bg-primary text-white':par.expanded}">
              <span class="font-weight-bold align-self-center mr-1 d-none d-md-inline-block">
                {{partida.codigo}}
              </span>
              <span class="align-self-center">
                {{partida.descripcion}}
              </span>
              <div class="spacer"></div>
              <div class="collapse-header-btns">
                <span class="badge badge-pill badge-primary d-none d-md-inline-block" *ngIf="partida.subpartidas.length>0">
                  {{partida.subpartidas.length}}
                </span>
                <span class="badge badge-pill badge-dark d-none d-md-inline-block" *ngIf="partida.insumos.length>0">
                  {{partida.insumos.length}}
                </span>
              </div>
            </mat-expansion-panel-header>


            <!-- subpartidas -->
            <mat-accordion [displayMode]="'default'" *ngIf="partida.subpartidas.length>0">

              <mat-expansion-panel [hideToggle]="true" *ngFor="let subpartida of partida.subpartidas" #sub>

                <mat-expansion-panel-header [ngClass]="{'bg-secondary text-white':sub.expanded}">
                  <span class="font-weight-bold align-self-center mr-1 d-none d-md-inline-block">
                    {{subpartida.codigo}}
                  </span>
                  <span class="align-self-center">
                    {{subpartida.descripcion}}
                  </span>
                  <div class="spacer"></div>
                  <div class="collapse-header-btns">
                    <span class="badge badge-pill badge-primary d-none d-md-inline-block">{{subpartida.insumos.length}}</span>
                  </div>
                </mat-expansion-panel-header>

                <!-- insumos -->
                <div class="table-responsive" *ngIf="subpartida.insumos.length">

                  <table class="table table-striped table-align-middle">
                    <thead>
                      <tr>
                        <th class="d-none d-md-table-cell">Código</th>
                        <th>Insumo</th>
                        <th>Unidad</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let insumo of subpartida.insumos">
                        <td class="d-none d-md-table-cell">
                          {{insumo.codigo}}
                        </td>
                        <td>
                          {{insumo.descripcion}}
                        </td>
                        <td>
                          {{insumo.unidad}}
                        </td>
                        <td class="text-right">
                          {{insumo.cantidad}}
                        </td>
                        <td class="text-right">
                          {{insumo.precio|currency}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </mat-expansion-panel>

            </mat-accordion>

            <!-- insumos -->
            <div class="table-responsive" *ngIf="partida.insumos.length>0">



              <table class="table table-striped table-align-middle">
                <thead>
                  <tr>
                    <th class="d-none d-md-table-cell">Código</th>
                    <th>Insumo</th>
                    <th>Unidad</th>
                    <th class="text-right">Cantidad</th>
                    <th class="text-right">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let insumo of partida.insumos">
                    <td class="d-none d-md-table-cell">
                      {{insumo.codigo}}
                    </td>
                    <td>
                      {{insumo.descripcion}}
                    </td>
                    <td>
                      {{insumo.unidad}}
                    </td>
                    <td class="text-right">
                      {{insumo.cantidad}}
                    </td>
                    <td class="text-right">
                      {{insumo.precio|currency}}
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>


          </mat-expansion-panel>

        </mat-accordion>

      </div>





      <div class="card mt-2">
        <div class="card-header">
          Crear Prototipo
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

            <div class="form-group">
              <label for="nombre_prototipo">Nombre del Prototipo</label>
              <input type="email" class="form-control" id="nombre_prototipo" formControlName="nombre_prototipo" [ngClass]="{'is-invalid': form.get('nombre_prototipo').invalid  && (form.get('nombre_prototipo').dirty || form.get('nombre_prototipo').touched )}">
              <div *ngIf="form.get('nombre_prototipo').errors?.pattern" class="invalid-feedback">El nombre sólo puede contener letras y números, con una longitud máxima de 30 caracteres</div>
              <div *ngIf="form.get('nombre_prototipo').errors?.required" class="invalid-feedback">Proporcione nombre del prototipo</div>
            </div>


            <div class="form-group">
              <label for="obra" class="form-label">Obra</label>
              <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)" formControlName="obra" [ngClass]="{'is-invalid': form.get('obra').invalid  && (form.get('obra').dirty || form.get('obra').touched )}">
                <option value="">Seleccionar...</option>
                <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
              </select>
              <div class="invalid-feedback">Seleccione una obra</div>
            </div>

          </form>
        </div>
        <div class="card-footer">       
          <button type="submit" mat-raised-button color="primary" form="id_form" [disabled]="form.invalid || !filename">Crear Prototipo</button>
        </div>
      </div>

    </div>
  </div>
</div>