<div class="container mt-2 mb-5">
    <div class="row">
      <div class="col-12">
  
        <div class="card">
          <div class="card-header">
            Historial Ventas
          </div>
          <div>
            <div class="table-responsive">
              <table class="table table-striped table-align-middle">
                <thead>
                  <tr>
                    <th>Manzana</th>
                    <th>Lote</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>F. Estado</th>
                    <th style="width: 40px"></th>
                    <th style="width: 50px"></th>
  
                  </tr>
                  <tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ws-nowrap"></td>
                    <td class="ws-nowrap"></td>
                    <td></td>
                    <td></td>
                    <td class="ws-nowrap"></td>
                    <td></td>
                    <td class="text-right">
                      <button mat-button class="no-min">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>