<div>
  <!--    <md-toolbar color="primary">

    <a md-icon-button (click)="snLeft.toggle()">
      <md-icon>menu</md-icon>
    </a>

    <md-icon class="icon-20">pets</md-icon>
    <span> Aréchar Software</span>
    <span class="spacer"></span>
    <a md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>person</md-icon>
    </a>
    <button md-icon-button (click)="snRight.toggle()">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>-->

  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Perfil </button>
    <button md-menu-item> Cerrar sesión </button>
  </md-menu>

  <md-sidenav-container>
    <md-sidenav #navLeft class="sidenav-start" mode="over" align="start" opened="false">
      <md-nav-list>
        <h3 md-subheader>Navegación</h3>

        <a md-list-item href="" (click)="navLeft.toggle()" [routerLink]="['/obras']" routerLinkActive="active">Obras</a>

        <a md-list-item href="" (click)="navLeft.toggle()" [routerLink]="['/desarrollos']" routerLinkActive="active">Desarrollos</a>

        <a md-list-item href="" (click)="navLeft.toggle()" [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>

        <a md-list-item href="" (click)="navLeft.toggle()" [routerLink]="['/nuevo-cliente']" routerLinkActive="active">Nuevo Cliente</a>

        <a md-list-item href="" (click)="navLeft.toggle()" [routerLink]="['/cliente']" routerLinkActive="active">Cliente</a>

      </md-nav-list>
    </md-sidenav>

    <md-sidenav #navRight class="sidenav-end" mode="over" align="end" opened="false">
      <md-tab-group>
        <md-tab label="One">
          <h3>Uno</h3>
          <p>Contenido uno</p>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <!-- <md-icon>thumb_down</md-icon> -->Nop
          </ng-template>
          <h3>Encabezado</h3>
          <p>Contenido dos</p>
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <div class="my-content">


      <md-toolbar color="primary">

        <button md-icon-button (click)="navLeft.toggle()">
          <md-icon>menu</md-icon>
        </button>

        <md-icon class="icon-20">pets</md-icon>

        <span> Aréchar Software</span>

        <span class="spacer"></span>

        <button md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>person</md-icon>
        </button>

        <button md-icon-button (click)="navRight.toggle()">
          <md-icon>more_vert</md-icon>
        </button>

      </md-toolbar>

      <router-outlet></router-outlet>


    </div>

  </md-sidenav-container>
</div>