<h1 mat-dialog-title>Cambiar Contraseña</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Usuario</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" [value]="data.usuario.nombre">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" [value]="data.usuario.email">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nueva contraseña</label>
      <div class="col-sm-9">
        <input class="form-control" type="password" formControlName="password"
        [ngClass]="{'is-invalid': form.get('password').invalid  && (form.get('password').dirty || form.get('password').touched) }">
        <div class="invalid-feedback">Proporcione una contraseña</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Confirmar</label>
      <div class="col-sm-9">
        <input class="form-control" type="password" formControlName="confirmar"
        [ngClass]="{'is-invalid': form.get('confirmar').errors?.notEqual  && (form.get('confirmar').dirty || form.get('confirmar').touched) }">
        <div class="invalid-feedback">No coincide con la contraseña</div>
      </div>
    </div>


  </form>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>