<!-- <div >
  <mat-spinner class="loading"></mat-spinner>
</div>
 -->
<div class="loading" *ngIf="loading">
  <i class="fa fa-spinner fa-spin fa-4x" style="position:fixed; top:calc(50% - 0.5em); left:calc(50% - 0.5em); color:#3f51b5;"></i>
</div>

<div class="login-container">

  <div class="row">
    <div class="col-12">

      <form class="form-signin" (ngSubmit)="login(usuario)">

        <h4 class="form-signin-heading">CTRL + INMOBILIARIO</h4>

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="usuario.email" required
          autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="usuario.password"
          required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>

      </form>

      <div class="text-danger text-center" *ngIf="alert">{{alert}}</div>

    </div>
  </div>

</div>