<button mat-fab [disabled]="!lote_selected" style="position:fixed; bottom:20px; right:20px; z-index:100" (click)="verClientes()">
  <!-- <mat-icon aria-label="fab-button">person</mat-icon> -->
  <small>{{lote_selected?.code}}</small>
</button>
<button mat-fab style="position:fixed; bottom:85px; right:20px; z-index:100" (click)="configMapa()">
  <mat-icon aria-label="fab-button">settings</mat-icon>
</button>

<div class="content p-2">

  <mat-form-field class="w-100">
    <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
      <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>


  <div class="map no-gutters" style="position:relative">

    <!-- mapa -->
    <div id="map" class="col-12 col-lg-9"></div>

    <!-- datos -->
    <div class="d-none d-lg-block col-lg-3">

      <mat-card>

        <div class="form-group">
          <label for="nombre" class="text-muted">Lote</label>
          <div class="texto">{{lote_selected?.manzana}} {{lote_selected?.nombre}}</div>
        </div>

        <div class="form-group">
          <label for="prototipos" class="text-muted">Prototipos</label>
          <div class="texto">{{lote_selected?.prototipos|prototiposToString}}</div>
        </div>

        <div class="form-group">
          <label for="valor_base" class="text-muted">Partidas Terminadas</label>
          <div class="texto" *ngIf="lote_selected?.num_partidas">{{lote_selected?.num_partidas_fin}} de {{lote_selected?.num_partidas||0}}</div>
        </div>

        <div class="form-group">
          <label for="valor_ampliacion" class="text-muted">Porcentaje</label>
          <div class="texto">{{lote_selected?.valor|percent:'1.2-2'}}</div>
        </div>

        <div class="form-group">
          <label for="fecha" class="text-muted">Responsable Abañilería</label>
          <div class="texto" *ngIf="lote_selected">{{ (lote_selected?.responsable||'No Asignado')}}</div>
        </div>


        <button mat-raised-button color="primary" class="btn-block" (click)="verImagenes()" [disabled]="!lote_selected">Imágenes</button>
        <button mat-raised-button color="primary" class="btn-block" (click)="verAvances()">Avances</button>


      </mat-card>

    </div>



  </div>

</div>