<div class="container mt-3 mb-5">
  <div>
    <mat-form-field class="w-100">
      <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
        <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-3 p-2">
      <mat-card>
        <div class="d-flex align-items-start">
          <div>
            <mat-card-title>0</mat-card-title>
            <mat-card-subtitle>Libre</mat-card-subtitle>
          </div>
          <div>
            <i class="material-icons icono-tablero">contacts</i>
          </div>
        </div>
        <mat-card-footer>
          <button mat-button class="btn-block">
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-3 p-2">
      <mat-card class="bg-success text-white">
        <h3>89</h3>
        <p>Libre</p>
        <i class="material-icons" style="font-size: 90px; position:absolute; right:0; top:0;">pie_chart</i>
        <mat-card-footer>
          <button mat-button class="btn-block">
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-12 col-md-6 col-lg-3 p-2">
      <mat-card class="d-flex flex-column justify-content-start card-pointer">
        <mat-card-title>0</mat-card-title>
        <mat-card-subtitle>Libre</mat-card-subtitle>
        <mat-card-footer>
          <button mat-button class="btn-block">
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-12 col-md-6 col-lg-3 p-2">
      <div class="d-flex flex-column mat-elevation-z6 bg-primary text-white">
        <div class="d-flex justify-content-between p-2">
          <div>
            <h3>19</h3>
            <p>Apartados</p>
          </div>
          <div>
              <i class="material-icons" style="font-size: 90px; color:rgba(0, 0, 0, 0.15)">pie_chart</i>
          </div>
        </div>
        <div class="text-center">
          Más info
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>





  </div>


</div>