<div class="container mt-3 mb-5">
  <div>
    <mat-form-field class="w-100">
      <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
        <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-2 p-2">
      <mat-card>
        <div class="d-flex align-items-start">
          <div>
            <mat-card-title>0</mat-card-title>
            <mat-card-subtitle>Libre</mat-card-subtitle>
          </div>
          <div>
            <i class="material-icons icono-tablero">contacts</i>
          </div>
        </div>
        <mat-card-footer class="d-flex justify-content-center">
          <button mat-button>
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-2 p-2">
      <mat-card class="d-flex flex-column justify-content-start card-pointer">
        <mat-card-title>0</mat-card-title>
        <mat-card-subtitle>Libre</mat-card-subtitle>
        <mat-card-footer class="d-flex justify-content-center">
          <button mat-button>
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-12 col-md-6 col-lg-2 p-2">
      <mat-card class="d-flex flex-column justify-content-start card-pointer">
        <mat-card-title>0</mat-card-title>
        <mat-card-subtitle>Libre</mat-card-subtitle>
        <mat-card-footer class="d-flex justify-content-center">
          <button mat-button>
            <span>Mas Información</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>





  </div>


</div>