<h1 mat-dialog-title>Editar Proveedor</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()"  id="id_form">


    <div class="form-group row">
      <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="nombre" id="nombre" formControlName="nombre"
          [ngClass]="{'is-invalid': form.get('nombre').invalid  && (form.get('nombre').dirty || form.get('nombre').touched )}">
        <div class="invalid-feedback">Proporcione un nombre</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="contacto" class="col-form-label col-sm-3">Contacto</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="contacto" name="contacto" formControlName="contacto">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-form-label col-sm-3">Email</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="email" name="email" formControlName="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="telefono" class="col-form-label col-sm-3">Teléfono</label>
      <div class="col-sm-9">
        <input [textMask]="{mask: maskPhone}" type="text" class="form-control" id="telefono" name="telefono" formControlName="telefono">
      </div>
    </div>

    <div class="form-group row">
      <label for="rfc" class="col-form-label col-sm-3">RFC</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="rfc" name="rfc" formControlName="rfc">
      </div>
    </div>

    <div class="form-group row">
      <label for="direccion" class="col-form-label col-sm-3">Domicilio</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="direccion" name="direccion" formControlName="direccion">
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-form-label col-sm-3">Nota</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="nota" name="nota" formControlName="nota">
      </div>
    </div>


  </form>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">GUARDAR</button>
</div>