<div class="container mt-3 mb-5">
  <div class="row">

      <div class="col-12 col-md-6 col-lg-4 p-2">
          <a class="no-decoration" [routerLink]="['/graficas-ventas', obra_default]">
            <mat-card class="d-flex align-items-center card-tablero">
              <mat-card-title class="mb-0">Ventas Anuales</mat-card-title>
              <span class="spacer"></span>
              <i class="material-icons icono-tablero">attach_money</i>
            </mat-card>
          </a>
        </div>

<!--         <div class="col-12 col-md-6 col-lg-4 p-2">
          <a class="no-decoration" [routerLink]="['/graficas-ventas-vendedor', obra_default]">
            <mat-card class="d-flex align-items-center card-tablero">
              <mat-card-title class="mb-0">Ventas por Vendedor</mat-card-title>
              <span class="spacer"></span>
              <i class="fa fa-bar-chart icono-tablero"></i>
            </mat-card>
          </a>
        </div> -->

     <!--    <div class="col-12 col-md-6 col-lg-4 p-2">
          <a class="no-decoration" [routerLink]="['/graficas-ventas', obra_default]">
            <mat-card class="d-flex align-items-center card-tablero">
              <mat-card-title class="mb-0">Ventas por Vendedor</mat-card-title>
              <span class="spacer"></span>
              <i class="fa fa-bar-chart icono-tablero"></i>
            </mat-card>
          </a>
        </div> -->
    

  </div>
</div>