<div class="container py15px">

  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div clas="card-header">
          <div class="d-flex padding-header">
            <div class="align-self-center">Obras</div>
            <div class="spacer"></div>
            <div>
              <button md-icon-button (click)="agregarObra()">
              <md-icon>add</md-icon>
            </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obra of obras">
                <td>{{obra.nombre}}</td>
                <td class="text-right">
                  <button md-icon-button [mdMenuTriggerFor]="menu">
                        <md-icon>more_vert</md-icon>
                      </button>
                  <md-menu #menu="mdMenu">
                    <button md-menu-item (click)="estructuraObra()">
                          <md-icon>create</md-icon>
                          <span>Estructura</span>
                        </button>
                    <button md-menu-item (click)="delObra(obra)">
                          <md-icon>delete</md-icon>
                          <span>Eliminar</span>
                        </button>
                  </md-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>