<div class="container py15px">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div clas="card-header">
          <div class="d-flex padding-header">
            <div class="align-self-center">Obras</div>
            <div class="spacer"></div>
            <div>
              <button md-icon-button (click)="agregarCategoria()">
              <md-icon>add</md-icon>
            </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obra of obras">
                <td>{{obra.nombre}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>