<h1 mat-dialog-title>Agregar Imagen</h1>
<div mat-dialog-content>

  <h6>
    <span *ngIf="data.partida.nombre_partida">{{data.partida.nombre_partida + "/"}}</span> {{data.partida.nombre}}</h6>

  <form>

    <div class="form-group">
      <div class="custom-file">
        <!-- <input type="file" #inputFile ng2FileSelect [uploader]="uploader" class="custom-file-input" id="customFileLang" lang="es"> -->
        <input type="file" accept="image/*;capture=camera" #inputFile class="custom-file-input" id="customFileLang" lang="es" (change)="changeImage($event, inputFile.files)">
        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
      </div>
      <small class="form-text text-muted">Extensiones permitidas: png, jpg, jpeg</small>
    </div>

    <div class="form-group">
      <div class="">{{currentFile?.name}}</div>
    </div>


    <div class="form-group" *ngFor="let item of uploader.queue">
      <div class="">{{item.file.name}}</div>
    </div>

    <div class="form-group">
      <textarea rows="3" class="form-control" placeholder="Descripción" name="descripcion" [(ngModel)]="descripcion"></textarea>
    </div>


    <div class="form-group row" *ngIf="uploader.queue.length">
      <div class="col-12">
        <div>
          <div>
            Progreso:
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">{{ (uploader.progress) + '%'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </form>

</div>

<div mat-dialog-actions>

  <button mat-button type="button" [mat-dialog-close]="false">CERRAR</button>
  <!-- <button mat-button type="button" (click)="uploader.uploadAll()" color="primary" [disabled]="!uploader.getNotUploadedItems().length">GUARDAR</button> -->
  <button mat-button type="button" (click)="uploadImage()" color="primary" [disabled]="!currentFile">GUARDAR</button>

</div>