<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="align-self-center">Registro</div>
            <div class="spacer"></div>
            <div>
              <div class="input-group d-none d-sm-flex">
                <select class="form-control" id="usuario" name="usuario" [(ngModel)]="id_usuario_selected" (change)="registroUsuario(id_usuario_selected)">
                  <option value="">Todos</option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.id_usuario">{{usuario.nombre}}</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="container-fluid d-block d-sm-none">
          <div class="row py-1 justify-content-center">
            <div class="col-12">
              <div class="input-group">
                <select class="form-control" id="usuario" name="usuario" [(ngModel)]="id_usuario_selected" (change)="registroUsuario(id_usuario_selected)">
                  <option value="">Todos</option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.id_usuario">{{usuario.nombre}}</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div>
          <div class="table-responsive">
            <!-- matSort (matSortChange)="ordenarDatos($event)" -->
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <!-- mat-sort-header="nombre" -->
                  <th>Fecha</th>
                  <!-- mat-sort-header="email" -->
                  <th>Usuario</th>
                  <!-- mat-sort-header="rol" -->
                  <th>Controller</th>
                  <th>Function</th>
                  <th>Actividad</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of registro">
                  <!--   | date:'medium':'':'es' -->
                  <td class="ws-nowrap">{{item.fecha|dateToIso| date:'EEEE, d \'de\' MMMM \'de\' y h:mm:ss a':'':'es'}}</td>
                  <td>{{item.usuario}}</td>
                  <td>{{item.controller}}</td>
                  <td>{{item.function}}</td>
                  <td>{{item.actividad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>