<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header">Registro</div>

        <div>
          <div class="table-responsive">
            <!-- matSort (matSortChange)="ordenarDatos($event)" -->
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <!-- mat-sort-header="nombre" -->
                  <th>Fecha</th>
                  <!-- mat-sort-header="email" -->
                  <th>Usuario</th>
                  <!-- mat-sort-header="rol" -->
                <!--   <th>Controller</th>
                  <th>Function</th> -->
                  <th>Actividad</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of registro">
                  <!--   | date:'medium':'':'es' -->
                  <td class="ws-nowrap">{{item.fecha}}</td>
                  <td>{{item.usuario}}</td>
             <!--      <td>{{item.controller}}</td>
                  <td>{{item.function}}</td> -->
                  <td>{{item.actividad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>