<h1 mat-dialog-title>Editar Manzana</h1>
<div mat-dialog-content>



  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">
    <div class="form-group">
      <label for="nombre" class="col-form-label">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre" 
      [ngClass]="{'is-invalid': form.get('nombre').invalid  && (form.get('nombre').dirty || form.get('nombre').touched )}">
      <span class="invalid-feedback">El nombre no puede estar vacío</span>
    </div>
  </form>

</div>

<div mat-dialog-actions>
    <button mat-button type="button" [mat-dialog-close]="false">CANCELAR</button>
    <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">EDITAR</button>
</div>