<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100">
  <mat-icon aria-label="toggle side drawer">check</mat-icon>
</button>
<button mat-fab style="position:fixed; top:75px; right:80px; z-index:100">
  <mat-icon aria-label="toggle side drawer">clear</mat-icon>
</button>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="card mt-2">

        <div class="card-header">
          Tareas Pendientes
        </div>

        <mat-list>
          <mat-list-item>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Emilio Sol</p>
            <p mat-line>29.JUN.2018</p>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Ramiro Arechar</p>
            <p mat-line>29.JUN.2018</p>
          </mat-list-item>
        </mat-list>

      </div>

      <div class="card mt-2">

        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Tareas Asignadas</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="asignarTarea()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="list-group">

<!--           <div class="list-group-item" *ngFor="let tarea of tareas">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column flex-grow-1">
                <p class="mb-1">{{tarea.mensaje_tarea}}</p>
                <small>{{tarea.usuario}}</small>
                <small class="text-muted">{{tarea.fecha}}</small>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-between">
                <mat-checkbox></mat-checkbox>
                <button mat-icon-button (click)="editarTarea($event, tarea)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div> -->

          <div class="list-group-item">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column flex-grow-1">
                <p class="mb-1">Entregar cotizaciones de la obra "Tres Marias" con el Ing. Pedro Almodovar y llamarme cuando este se entregue
                  para darte las siguientes cotizaciones.</p>
                <small>Emilio Sol</small>
                <small class="text-muted">29.JUN.2018</small>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-between">
                <mat-checkbox></mat-checkbox>
                <button mat-icon-button (click)="editarTarea($event)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column flex-grow-1">
                <p class="mb-1">Entregar cotizaciones de la obra "Tres Marias".</p>
                <small>Emilio Sol</small>
                <small class="text-muted">29.JUN.2018</small>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-between">
                <mat-checkbox></mat-checkbox>
                <button mat-icon-button (click)="editarTarea($event)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column flex-grow-1">
                <p class="mb-1">Entregar cotizaciones de la obra "Tres Marias" con el Ing. Pedro Almodovar y llamarme cuando este se entregue
                  para darte las siguientes cotizaciones. Subir al sistema los prototipos de la nueva obra y agregar los
                  nuevos créditos. Relizar los pagos pendientes. Todo se tiene que realizar el dia de hoy o hasta mañana
                  hasta las 12 de dia.</p>
                <small>Emilio Sol</small>
                <small class="text-muted">29.JUN.2018</small>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-between">
                <mat-checkbox></mat-checkbox>
                <button mat-icon-button (click)="editarTarea($event)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div>

        </div>



        <div class="card-footer text-center">
          <button mat-raised-button (click)="delTarea()">Eliminar</button>
          <button mat-raised-button color="primary">Finalizar</button>
        </div>

      </div>


    </div>
  </div>
</div>