<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="card mt-2">
        <div class="card-header">
          Tareas Pendientes
        </div>

        <mat-list>
          <mat-list-item>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Emilio Sol</p>
            <p mat-line>29.JUN.2018</p>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Ramiro Arechar</p>
            <p mat-line>29.JUN.2018</p>
          </mat-list-item>
        </mat-list>

      </div>

      <div class="card mt-2">
        <div class="card-header padding-card-header">
          <div class="d-flex">
            <div class="align-self-center">Tareas Asignadas</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="asignarTarea()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-selection-list>
          <mat-list-option>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Emilio Sol</p>
            <p mat-line>29.JUN.2018</p>
            <button type="button" class="btn btn-link align-self-start" (click)="editarTarea($event)">Editar</button>
            <!--   <mat-divider></mat-divider> -->
            <hr>
          </mat-list-option>
      
          <mat-list-option>
            <h4 mat-line>
              Entregar cotizaciones de la obra "Tres Marias"
            </h4>
            <p mat-line>Ramiro Arechar</p>
            <p mat-line>29.JUN.2018</p>
            <button type="button" class="btn btn-link align-self-start" (click)="editarTarea($event)">Editar</button>
          </mat-list-option>
        </mat-selection-list>



        <div class="card-footer text-center">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
        </div>

      </div>


    </div>
  </div>
</div>