<h1 mat-dialog-title>Editar Pago</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()" id="id_form">
    <div class=" form-group ">
      <label for="monto">Monto</label>
      <div>
        <input [textMask]="{mask: numberMask}" class="form-control" type="text" id="nombre" name="monto" formControlName="monto">
      </div>
    </div>

    <div class="form-group">
      <label for="fecha_programada">Fecha Programada</label>
      <div>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="fecha_programada" id="fecha_programada" [matDatepicker]="dpFechaProgramada" formControlName="fecha_programada">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="dpFechaProgramada.open()">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
        <mat-datepicker touchUi="true" #dpFechaProgramada></mat-datepicker>
      </div>
    </div>

    <div class="form-group">
      <label for="fecha_pago ">Fecha Pago</label>
      <div>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="fecha_pago" id="fecha_pago" [matDatepicker]="dpFechaPago" formControlName="fecha_pago">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="dpFechaPago.open()">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
        <mat-datepicker touchUi="true" #dpFechaPago></mat-datepicker>
      </div>
    </div>

    <div class="form-group">
      <label for="tipo_pago">Tipo</label>
      <div class="input-group">
        <select class="form-control" name="tipo_pago" formControlName="tipo_pago">
          <option>Seleccionar</option>
          <option>Apartado</option>
          <option>Enganche</option>
          <option>Parcialidad</option>
          <option>Finiquito</option>
          <option>Contrato Agua</option>
          <option>Devolución</option>
          <option>Otros</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="forma_pago">Forma</label>
      <div class="input-group">
        <select class="form-control" name="forma_pago" formControlName="forma_pago">
          <option>Seleccionar</option>
          <option>Efectivo</option>
          <option>Transferencia</option>
          <option>Cheque</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="nota">Nota</label>
      <div>
        <input class="form-control" type="text" id="nombre" name="nota" formControlName="nota">
      </div>
    </div>

  </form>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCELAR</button>
  <button mat-button type="submit" form="id_form" [disabled]="form.invalid" color="primary">ACEPTAR</button>
</div>