<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col-12">


      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          Ventas Pagos
        </div>

        <!--  filtros -->
        <div class="form-row mt-1">

          <!-- fecha ini -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="input-group px-2 pb-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Del</span>
              </div>
              <input class="form-control" placeholder="yyyy-mm-dd" type="text" #del [matDatepicker]="dpFechaDel" (dateChange)="filtro(del, al, tipo_pago_selected)">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaDel.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <mat-datepicker touchUi="true" #dpFechaDel></mat-datepicker>

          <!-- fecha fin -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="input-group px-2 pb-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Al</span>
              </div>
              <input class="form-control" placeholder="yyyy-mm-dd" type="text" #al [matDatepicker]="dpFechaAl" (dateChange)="filtro(del, al, tipo_pago_selected)">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="dpFechaAl.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <mat-datepicker touchUi="true" #dpFechaAl></mat-datepicker>

          <!-- tipo pago -->
          <div class="col-12 col-lg-4">
            <div class="px-2 pb-1">
              <select class="form-control" [(ngModel)]="tipo_pago_selected" (change)="filtro(del, al, tipo_pago_selected)">
                <option value="">Todos</option>
                <option [value]="tipo.id_tipo_pago" *ngFor="let tipo of tipos">{{tipo.descripcion}}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col py-3">
            <div class="text-center">
              <h5 class="text-dark">
                {{sumaPagos()|currency}}
              </h5>
              <span>TOTAL</span>
            </div>
          </div>
        </div>

        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Monto</th>
                  <th>Fecha</th>
                  <th>Forma</th>
                  <th>Tipo</th>
                  <th>Validado</th>
                  <th>Nota</th>
                  <th>
                    <i class="fa fa-file-o"></i>
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let pago of pagosFiltrados">
                  <td>{{pago.cliente}}</td>
                  <td class="ws-nowrap">{{pago.manzana}}</td>
                  <td class="ws-nowrap">{{pago.lote}}</td>
                  <td>{{pago.monto|currency}}</td>
                  <td class="ws-nowrap">{{pago.fecha_pago| date:'mediumDate':'':'es'}}</td>
                  <td>{{pago.forma_pago}}</td>
                  <td class="ws-nowrap">{{pago.tipo_pago}}</td>
                  <td>
                    <span class="badge" [ngClass]="pago.validado=='1'?'badge-success':'badge-secondary'">
                      {{pago.validado|numberToYesNo:'VAL'}}
                    </span>
                  </td>
                  <td>{{pago.nota}}</td>
                  <td>
                    <a target="_blank" [href]="pago.url" *ngIf="pago.url">
                      <i class="fa fa-file-o"></i>
                    </a>
                  </td>
                  <td class="text-right ws-nowrap">
                    <button mat-button class="no-min" (click)="setValidacionPago(pago)">
                      <i class="fa" [ngClass]="{'fa-check':pago.validado=='0','fa-ban':pago.validado=='1'}"></i>
                    </button>
                    <button mat-button class="no-min" (click)="editarCliente(pago)">
                      <i class="fa fa-user"></i>
                    </button>
                    <button mat-button class="no-min" (click)="resumenVenta(pago.id_compra)">
                      <i class="fa fa-exclamation-circle"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>