<div class="container mt-2 mb-5">

  <div *ngIf="loading">
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div class="row">
    <div class="col-12">


      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          Ventas Pagos
        </div>

        <div>

   <!--        <div class="input-group col-3 mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Del</span>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" [matDatepicker]="dpFechaNacimientoPF">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFechaNacimientoPF.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
            <mat-datepicker touchUi="true" #dpFechaNacimientoPF></mat-datepicker>
          </div> -->




          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Manzana</th>
                  <th>Lote</th>
                  <th>Monto</th>
                  <th>F.Pago</th>
                  <th>Validado</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let pago of pagos">
                  <td>{{pago.cliente}}</td>
                  <td class="ws-nowrap">{{pago.manzana}}</td>
                  <td class="ws-nowrap">{{pago.lote}}</td>
                  <td>{{pago.monto|currency}}</td>
                  <td class="ws-nowrap">{{pago.fecha_pago| date:'mediumDate':'':'es'}}</td>
                  <td>
                    <span class="badge" [ngClass]="pago.validado=='1'?'badge-success':'badge-secondary'">
                      {{pago.validado|numberToYesNo:'VAL'}}
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>