<div class="container">
  <div class="row">
    <div class="col-12">

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="align-self-center">Gastos</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="nuevoGasto()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Tipo Gasto</th>
                  <th>Monto</th>
                  <th>Fecha</th>
                  <th>Nota</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let gasto of gastos">
                  <td>{{gasto.tipo_gasto}}</td>
                  <td>{{gasto.monto|currency}}</td>
                  <td>{{gasto.fecha | date:'mediumDate':'':'es'}}</td>
                  <td>{{gasto.nota}}</td>
                  <td class="text-right ws-nowrap">
                    <button mat-button class="no-min" (click)="editarGasto(gasto)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button mat-button class="no-min" (click)="delGasto(gasto)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>