<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12">

      <div>
        <mat-form-field class="w-100">
          <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
            <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-inline mt-1">

          <!-- fecha ini -->
          <div class="input-group mx-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Del</span>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" #del [matDatepicker]="dpFechaDel" (dateChange)="filtro(del, al, tipo_gasto_selected)">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFechaDel.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <mat-datepicker touchUi="true" #dpFechaDel></mat-datepicker>

          <!-- fecha fin -->
          <div class="input-group mx-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Al</span>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" #al [matDatepicker]="dpFechaAl" (dateChange)="filtro(del, al, tipo_gasto_selected)">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFechaAl.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <mat-datepicker touchUi="true" #dpFechaAl></mat-datepicker>

          <!-- tipo gasto -->
          <div class="form-group mx-2 mb-1">
            <select class="form-control" [(ngModel)]="tipo_gasto_selected" (change)="filtro(del, al, tipo_gasto_selected)">
              <option value="">Todos</option>
              <option [value]="tipo.id_tipo_gasto" *ngFor="let tipo of tipos">{{tipo.descripcion}}</option>
            </select>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-sm-3 py-3">
            <div class="text-center">
              <h5 class="text-dark">
                {{sumaGastos()|currency}}
              </h5>
              <span>TOTAL</span>
            </div>
          </div>
        </div>

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="align-self-center">Gastos</div>
            <div class="spacer"></div>
            <div>
              <button mat-icon-button (click)="nuevoGasto()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Tipo Gasto</th>
                  <th>Monto</th>
                  <th>Fecha</th>
                  <th>Nota</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let gasto of gastosFiltrados">
                  <td>{{gasto.tipo_gasto}}</td>
                  <td>{{gasto.monto|currency}}</td>
                  <td>{{gasto.fecha | date:'mediumDate':'':'es'}}</td>
                  <td>{{gasto.nota}}</td>
                  <td class="text-right ws-nowrap">
                    <button mat-button class="no-min" (click)="editarGasto(gasto)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button mat-button class="no-min" (click)="delGasto(gasto)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>