/* .collapse-header{
    display: flex;
    color: white;
    text-decoration: none;
}

.spacer {
    flex:1  0 auto;
}

.mt5px {
    margin-top: 0px !important;

}


.form-container > * {
    width: 100%;
}
 */

.drawer-container{
    height: 100%;
}

/*********funciona cuando  pantalla > 600px **********/
//height: 100%;
//position: relative;
/**************************************************/
.content {
    //3rem del pb-5, .5rem del pt-2
    min-height: calc(100vh - 64px);
}

/********** aplicar cuando pantalla < 600 px *****/
//height toolbar = pantalla < 600px? 56px: 64px
//height: calc(100vh - 64px);
/***************************/
@media only screen and (max-width: 600px) {
    .content{
        //3rem del pb-5, .5rem del pt-2
        min-height: calc(100vh - 56px);
    }
}

