<section class="container py15px">
    <div class="row">
        <div class="col-12 col-md-8">

            <!-- Seleccionar Obra -->
            <div class="mb-2">
                <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
                        <option value="">Seleccionar...</option>
                        <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>                                     
                    </select>
            </div>

            <!-- Manzanas y Lotes -->

            <h4>{{obra.datos?.nombre|uppercase}}</h4>

            <mat-accordion [displayMode]="'default'">
                <mat-expansion-panel [hideToggle]="true" *ngFor="let manzana of obra.manzanas">
                    <mat-expansion-panel-header>
                        <span>{{manzana.nombre}}</span>
                        <div class="spacer"></div>
                        <div class="collapse-header-btns">
                            <i class="fa fa-pencil"></i>
                            <i class="fa fa-times"></i>
                            <span class="badge badge-pill badge-primary">5</span>
                        </div>
                    </mat-expansion-panel-header>

                    <div id="manzana{{manzana.id_manzana}}">

                        <div class="table-responsive">
                            <table id="idTablaManzana{{manzana.id_manzana}}" class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th (click)="selectAllLotes(manzana)" style="cursor: pointer; width:30px;"><span [ngClass]="{
                                                      'fa fa-check-square-o'
                                                      :manzana.selected, 'fa fa-square-o': !manzana.selected}"></span></th>
                                        <th>Lote</th>
                                        <th class="hidden-xs hidden-sm hidden-mat">Código</th>
                                        <th>Prototipo</th>
                                        <th>Base</th>
                                        <th>Ampliación</th>
                                        <th>En Venta</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lote of manzana.lotes" (click)="toggleSelectionLote(manzana, lote)" style="cursor: pointer;" [ngClass]="{
                                                  'bg-primary text-white'
                                                  :lote.selected}">
                                        <td><i class="fa" [ngClass]="{
                                                      'fa-check-square-o'
                                                      :lote.selected, 'fa-square-o': !lote.selected}"></i></td>
                                        <td>{{ lote.nombre}}</td>
                                        <td class="hidden-xs hidden-sm hidden-mat">{{lote.code}}</td>
                                        <td>
                                            <span *ngFor="let prototipo of lote.prototipos"><a class="link-del-prototipo" (click)="pre_delPrototipo(lote, prototipo, $event)">{{prototipo.nombre}}</a> <br></span>
                                        </td>
                                        <td>{{lote.valor_base|currency:'USD':true}}</td>
                                        <td>{{lote.valor_ampliacion|currency :'USD':true}}</td>
                                        <td>{{lote.en_venta}}</td>
                                        <td>
                                            <button class="btn btn-outline-dark btn-sm" (click)="pre_editLote(manzana, lote, $event)"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-outline-dark btn-sm" (click)="pre_delLote(manzana, lote, $event)"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>


        </div>

        <div class="col-12 col-md-4">
            <!-- Datos Obra -->
            <mat-expansion-panel>
                <mat-expansion-panel-header class="bg-info text-white">
                    Datos Obra
                </mat-expansion-panel-header>
                <form name="formDatosObra" id="formDatosObra" (ngSubmit)="obra && !residentesRepetidos() && !controlAlmacenRepetidos() && formDatosObra.$valid && cambiarDatosObra(formDatosObra)"
                    novalidate>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group" [ngClass]="{
                                          'has-danger'
                                          :( nombre.invalid && (nombre.dirty || nombre.touched ))}">
                                    <label class="col-form-label">Nombre</label>
                                    <input #nombre="ngModel" type="text" class="form-control" name="nombre" [(ngModel)]="obra.datos.nombre" required>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group" [ngClass]="{
                                          'has-danger'
                                          :( fecha.invalid && (fecha.dirty || fecha.touched ))}">
                                    <label class="col-form-label">Fecha Inicio</label>
                                    <input #fecha="ngModel" type="text" class="form-control" id="fecha_ini" name="fecha" [(ngModel)]="obra.datos.fecha_ini" date-picker
                                        required>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <label class="col-form-label col-12 col-sm-12">Fecha Inicio</label>
                            <div class="col-12 col-sm-12">
                              <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="text" name="fecha" id="fecha_ini" placement="bottom-left"
                                  [(ngModel)]="obra.datos.fecha_ini" [matDatepicker]="dpFechaInicio" (ngModelChange)="onFechaChange()">
                                <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button" (click)="dpFechaInicio.open()">                          
                                    <i class="fa fa-calendar"></i>  
                                  </button>                 
                                </span>
                              </div>
                              <mat-datepicker touchUi="true" #dpFechaInicio></mat-datepicker>
                            </div>
                          </div>

                        <div class="checkbox">
                            <label>
                          <input type="checkbox" name="en_venta" ng-true-value="'1'" ng-false-value="'0'" [(ngModel)]="obra.datos.en_venta">
                          En Venta
                      </label>
                        </div>
                        <p class="help-block">Esta propiedad indica la visibilidad en el módulo de Ventas</p>

                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">Almacenista</label>
                                    <select name="id_almacenista" class="form-control" [(ngModel)]="obra.datos.id_almacenista">
                                  <option [value]="">Elegir almacenista</option>
                                  <option [value]="a.value" *ngFor="let a of almacenistas ">{{insumo.insumo}}</option>                                                 
                              </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" (click)="addResidente($event)"><i class="fa fa-plus" aria-hidden="true"></i> Residentes</button>
                        </div>

                        <div class="row" *ngFor="let residente of obra.residentes">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" name="res_{{$index}}" [(ngModel)]="residente.id_residente" selectval>
                                      <option value="0">Elegir residente</option>
                                              <option *ngFor="let res of residentes" [value]="res.value">{{res.text}}</option> 
                                          </select>
                                        <span class="input-group-btn">
                                              <button class="btn btn-default" (click)="delResidente($event, residente)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                            </span>
                                    </div>
                                    <p *ngIf="(residente.id_residente === '0' || !residente.id_residente)" class="text-danger">Selecciona un residente para poder guardar los cambios</p>
                                </div>
                            </div>
                        </div>
                        <p *ngIf="residentesRepetidos()" class="text-danger">Tiene algún residente repetido</p>
                        <div class="form-group">
                            <button class="btn btn-default" (click)="addControlAlmacen($event)"><i class="fa fa-plus" aria-hidden="true"></i> Control Almacén</button>
                        </div>

                        <div class="row" *ngFor="let encargado of obra.control_almacen">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" name="alm_{{$index}}" [(ngModel)]="encargado.id_usuario" selectval>
                                              <option value="0">Elegir encargado</option>
                                              <option *ngFor="let alm of control_almacen" value="{{alm.value}}">{{alm.text}}</option>
                                          </select>
                                        <span class="input-group-btn">
                                              <button class="btn btn-default" (click)="delControlAlmacen($event, encargado)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                            </span>
                                    </div>
                                    <p *ngIf="(encargado.id_usuario === '0' || !encargado.id_usuario)" class="text-danger">Selecciona un encargado para poder guardar los cambios</p>
                                </div>
                            </div>
                        </div>
                        <p *ngIf="controlAlmacenRepetidos()" class="text-danger">Tiene algún encargado de almacén repetido</p>
                    </div>
                </form>
                <mat-action-row>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <!--  <span *ngIf="formDatosObra.$dirty" class="text-muted"> <i class="fa fa-hand-o-left text-primary"></i> cambios pendientes</span> -->
                </mat-action-row>

            </mat-expansion-panel>

            <!-- Agregar Manzanas -->
            <mat-expansion-panel class="mt-3">
                <mat-expansion-panel-header class="bg-info text-white">
                    Agregar Manzanas
                </mat-expansion-panel-header>
                <form name="addManzanasForm" (ngSubmit)="obra_selected && obra && addManzanasForm.$valid && addManzana(addManzanasForm)"
                    novalidate>
                    <div class="card-block">
                        <div class="row">
                            <label class="col-form-label col-12">{{obra.datos.nombre}}</label>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="radio">
                                    <label>
                                          <input type="radio" name="tipo" [(ngModel)]="addManzanaOptions.by" value="nombre">                                        
                                          Por nombre
                                      </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group" [ngClass]="{
                                          'has-danger'
                                          : ( nombre_manzana.invalid && (nombre_manzana.dirty || nombre_manzana.touched ))}">
                                    <label class="col-form-label">Manzana (nombre)</label>
                                    <input #nombre_manzana="ngModel" type="text" placeholder="ej. Manzana 1" class="form-control" name="nombre_manzana" [(ngModel)]="nuevaManzana.nombre"
                                        maxlength="30" [disabled]="addManzanaOptions.by != 'nombre'" [required]="addManzanaOptions.by === 'nombre'">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="radio">
                                    <label>
                                          <input type="radio"  name="tipo" [(ngModel)]="addManzanaOptions.by" value="numero">
                                          Por número
                                      </label>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="row">
                                <fieldset [disabled]="addManzanaOptions.by == 'nombre'">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group" [ngClass]="{
                                              'has-error'
                                              : (addManzanasForm.$submitted || addManzanasForm.manzana_prefijo.$touched) && (addManzanasForm.manzana_prefijo.$error.required) }">
                                            <label class="col-form-label">Prefijo</label>
                                            <input type="text" class="form-control" name="manzana_prefijo" [(ngModel)]="addManzanaOptions.prefijo" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                        <div class="form-group" [ngClass]="{
                                              'has-error'
                                              : (addManzanasForm.$submitted || addManzanasForm.manzana_ini.$touched) && (addManzanasForm.manzana_ini.$error.required || addManzanasForm.manzana_ini.$error.min) }">
                                            <label class="col-form-label">Ini</label>
                                            <input type="number" class="form-control" name="manzana_ini" [(ngModel)]="addManzanaOptions.ini" min="0" [required]="addManzanaOptions.by === 'numero'">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                        <div class="form-group" [ngClass]="{
                                              'has-error'
                                              : (addManzanasForm.$submitted || addManzanasForm.manzana_fin.$touched) && (addManzanasForm.manzana_fin.$error.required || addManzanasForm.manzana_fin.$error.min || addManzanasForm.manzana_fin.$error.max) }">
                                            <label class="col-form-label">Fin</label>
                                            <input type="number" class="form-control" name="manzana_fin" [(ngModel)]="addManzanaOptions.fin" min="addManzanaOptions.ini"
                                                max="addManzanaOptions.ini+20" [required]="addManzanaOptions.by === 'numero'">
                                        </div>
                                    </div>
                                </fieldset>
                            </div> -->

                        <div class="form-row">
                            <div class="form-group col-12 col-sm-6" [ngClass]="{
                                            'has-danger'
                                            : (manzana_prefijo.invalid && (manzana_prefijo.dirty || manzana_prefijo.touched ))}">
                                <label class="col-form-label">Prefijo</label>
                                <input [textMask]="{mask: maskPreInFi}" #manzana_prefijo="ngModel" type="text" class="form-control" name="manzana_prefijo" [(ngModel)]="addManzanaOptions.prefijo"
                                    required>
                            </div>
                            <div class="form-group col-6 col-sm-3" [ngClass]="{
                                            'has-danger'
                                            : ( manzana_ini.invalid && (manzana_ini.dirty || manzana_ini.touched ))}">
                                <label class="col-form-label">Ini</label>
                                <input [textMask]="{mask: maskPreInFi}" #manzana_ini="ngModel" type="number" class="form-control" name="manzana_ini" [(ngModel)]="addManzanaOptions.ini" min="0"
                                    [required]="addManzanaOptions.by === 'numero'">
                            </div>
                            <div class="form-group col-6 col-sm-3" [ngClass]="{
                                            'has-danger'
                                            : (manzana_fin.invalid && (manzana_fin.dirty || manzana_fin.touched ))}">
                                <label class="col-form-label">Fin</label>
                                <input [textMask]="{mask: maskPreInFi}" type="number" #manzana_fin="ngModel" class="form-control" name="manzana_fin" [(ngModel)]="addManzanaOptions.fin" min="addManzanaOptions.ini"
                                    max="addManzanaOptions.ini+20" [required]="addManzanaOptions.by === 'numero'">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--  <p class="text-danger" *ngIf="addManzanasForm.manzana_ini.$error.min">El número inicial debe ser mayor o igual a 0.</p>
                                <p class="text-danger" *ngIf="addManzanasForm.manzana_fin.$error.min">El número final debe ser mayor o igual al número inicial.</p>
                                <p class="text-danger" *ngIf="addManzanasForm.manzana_fin.$error.max">Sólo puede agregar 20 manzanas a la vez.</p> -->
                        </div>
                    </div>
                </form>
                <mat-action-row>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </mat-action-row>

            </mat-expansion-panel>

            <!-- Agregar Lotes -->
            <mat-expansion-panel class="mt-3">
                <mat-expansion-panel-header class="bg-info text-white">
                    Agregar Lotes
                </mat-expansion-panel-header>
                <form name="addLotesForm" (ngSubmit)="addLotesForm.$valid && addLoteManzanaSelected(addLotesForm)" novalidate>
                    <div class="card-block">
                        <div class="row">
                            <label class="col-form-label col-12">{{manzanaSelected.nombre}}</label>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="radio">
                                    <label>
                                          <input type="radio" name="tipoLote" [(ngModel)]="addLoteOptions.by" value="nombre">
                                          Por nombre
                                      </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group" [ngClass]="{
                                          'has-danger'
                                          : (lote_nombre.invalid && ( lote_nombre.dirty || lote_nombre.touched ))}">
                                    <label class="col-form-label">Lote (nombre)</label>
                                    <input #lote_nombre="ngModel" type="text" placeholder="ej. Lote 1" [(ngModel)]="nuevoLote.nombre" name="lote_nombre" class="form-control"
                                        maxlength="30" [disabled]="addLoteOptions.by != 'nombre'" [required]="addLoteOptions.by === 'nombre'">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="radio">
                                    <label>
                                          <input type="radio" name="tipoLote" [(ngModel)]="addLoteOptions.by" value="numero">
                                          Por número
                                      </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <!-- <fieldset id="fieldLotePorNumero" [disabled]="addLoteOptions.by == 'nombre'"> -->
                            <div class="form-group col-12 col-sm-6" [ngClass]="{
                                              'has-danger'
                                              : (lote_prefijo.invalid && ( lote_prefijo.dirty || lote_prefijo.touched ))}">
                                <label class="col-form-label">Prefijo</label>
                                <input [textMask]="{mask: maskPreInFi}" #lote_prefijo="ngModel" type="text" class="form-control" name="lote_prefijo" [(ngModel)]="addLoteOptions.prefijo"
                                    required>
                            </div>


                            <div class="form-group col-6 col-sm-3" [ngClass]="{
                                              'has-danger'
                                              : (lote_ini.invalid && ( lote_ini.dirty || lote_ini.touched ))}">
                                <label class="col-form-label">Ini</label>
                                <input [textMask]="{mask: maskPreInFi}" #lote_ini="ngModel" type="number" class="form-control" name="lote_ini" [(ngModel)]="addLoteOptions.ini" min="0" [required]="addLoteOptions.by === 'numero'">
                            </div>



                            <div class="form-group col-6 col-sm-3" [ngClass]="{
                                                  'has-danger'
                                                  : (lote_fin.invalid && ( lote_fin.dirty || lote_fin.touched ))}">
                                <label class="col-form-label">Fin</label>
                                <input [textMask]="{mask: maskPreInFi}" #lote_fin="ngModel" type="number" class="form-control" name="lote_fin" [(ngModel)]="addLoteOptions.fin" min="addLoteOptions.ini"
                                    max="addLoteOptions.ini+20" [required]="addLoteOptions.by === 'numero'">
                            </div>


                            <!-- </fieldset> -->
                        </div>
                        <div class="form-group">
                            <!--  <p class="text-danger" *ngIf="addLotesForm.lote_ini.$error.min">El número inicial debe ser mayor o igual a 0.</p>
                                <p class="text-danger" *ngIf="addLotesForm.lote_fin.$error.min">El número final debe ser mayor o igual al número inicial.</p>
                                <p class="text-danger" *ngIf="addLotesForm.lote_fin.$error.max">Sólo puede agregar 20 lotes a la vez.</p> -->
                        </div>

                    </div>
                </form>
                <mat-action-row>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </mat-action-row>

            </mat-expansion-panel>

            <!-- Operaciones -->
            <mat-expansion-panel class="mt-3">
                <mat-expansion-panel-header class="bg-info text-white">
                    Operaciones
                </mat-expansion-panel-header>
                <form name="formOperaciones" novalidate>
                    <div class="card-blovk">
                        <label class="col-form-label">{{num_lotes_selected()}} lote<span *ngIf="num_lotes !== 1">s</span> seleccionado<span *ngIf="num_lotes !== 1">s</span></label>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">Prototipo</label>
                                    <div class="input-group">
                                        <select name="prototipo" class="form-control" [(ngModel)]="op.prototipo">
                                              <option value="" >Seleccionar...</option>     
                                              <option [value]="prototipo.id_prototipo" *ngFor="let prototipo of obra.prototipos">{{prototipo.nombre}}</option>                                         
                                          </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" (click)="updatePrototipo()">Asignar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">En venta</label>
                                    <div class="input-group">
                                        <select name="en_venta" class="form-control" [(ngModel)]="op.en_venta">
                                              <option value="">Seleccionar</option>
                                              <option value="1">Si</option>
                                              <option value="0">No</option>
                                          </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" (click)="updateEnVenta()">Asignar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">Valor Base</label>
                                    <div class="input-group">
                                        <input name="valor_base" type="text" class="form-control" [(ngModel)]="op.valor_base" ui-money-mask min="0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" (click)="updateValorBase()">Asignar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">Valor Ampliación</label>
                                    <div class="input-group">
                                        <input name="valor_ampliacion" type="text" class="form-control" [(ngModel)]="op.valor_ampliacion" ui-money-mask min="0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" (click)="updateValorAmpliacion()">Asignar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </mat-expansion-panel>

        </div>

    </div>
</section>



<!-- Modal Editar Lote-->

<!-- <div class="modal fade" id="modalEditLote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar Lote</h4>
          </div>
          <div class="modal-body">
              <form name="formEditLote" id="formEditLote" (ngSubmit)="formEditLote.$valid && editLote(formEditLote)" novalidate>
                  <div class="form-group" [ngClass]="{
                          'has-error'
                          :(formEditLote.$submitted || formEditLote.nombre.$touched) && formEditLote.nombre.$error.required }">
                      <label class="col-form-label">Lote</label>
                      <input type="text" name="nombre" class="form-control" [(ngModel)]="lote_edited.nombre" required>
                  </div>
                  <div class="form-group" [ngClass]="{
                          'has-error'
                          :(formEditLote.$submitted || formEditLote.code.$touched) && formEditLote.code.$error.required }">
                      <label class="col-form-label">Código</label>
                      <input type="text" name="code" class="form-control" [(ngModel)]="lote_edited.code" required>
                  </div>
                  <div class="form-group" [ngClass]="{
                          'has-error'
                          :(formEditLote.$submitted || formEditLote.valor_ampliacion.$touched) && formEditLote.valor_ampliacion.$error.required }">
                      <label class="col-form-label">Valor Ampliación</label>
                      <input type="text" name="valor_ampliacion" class="form-control" [(ngModel)]="lote_edited.valor_ampliacion" ui-money-mask
                             min="0">
                  </div>
                  <div class="form-group" [ngClass]="{
                          'has-error'
                          :(formEditLote.$submitted || formEditLote.valor_base.$touched) && formEditLote.valor_base.$error.required }">
                      <label class="col-form-label">Valor Base</label>
                      <input type="text" name="valor_base" class="form-control" [(ngModel)]="lote_edited.valor_base" ui-money-mask min="0">
                  </div>
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="en_venta" ng-true-value="'1'" ng-false-value="'0'" [(ngModel)]="lote_edited.en_venta">
                          En Venta
                      </label>
                  </div>
            
              </form>
              <div class="form-group">
                  <label class="col-form-label">Prototipo</label>
                  <div class="input-group">
                      <select class="form-control" [(ngModel)]="op.prototipo">                        
                          <option value="">Seleccionar...</option> 
                          <option [value]="prototipo.id_prototipo" *ngFor="let prototipo of obra.prototipos">{{prototipo.nombre}}</option>                                            
                      </select>
                      <div class="input-group-btn">
                          <button class="btn btn-primary" (click)=" op.prototipo && addPrototipo(lote_actual, op.prototipo)">Asignar</button>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-form-label">Prototipos Asignados</label>                  
                  <ul class="list-group">
                      <li class="list-group-item" *ngIf="(lote_actual.prototipos) && (lote_actual.prototipos.length > 0)">Ningún prototipo asignado</li>
                      <li *ngFor="let prototipo of lote_actual.prototipos" class="list-group-item">
                          {{prototipo.nombre}}
                          <a href="" (click)="pre_delPrototipo(lote_actual, prototipo, $event)" class="pull-right">Eliminar</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" form="formEditLote">Guardar</button>
          </div>
      </div>
  </div>
</div>
 -->
<!-- Modal Editar Manzana-->
<!-- <div class="modal fade" id="modalEditManzana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar Manzana</h4>
          </div>
          <form name="formEditManzana" id="formEditManzana" (ngSubmit)="formEditManzana.$valid && editManzana(formEditManzana)"
                novalidate>
              <div class="modal-body">
                  <div class="form-group" [ngClass]="{
                          'has-error'
                          :(formEditManzana.$submitted || formEditManzana.nombre.$touched) && formEditManzana.nombre.$error.required }">
                      <label class="col-form-label">Manzana</label>
                      <input type="text" name="nombre" class="form-control" [(ngModel)]="manzana_edited.nombre" required>
                      <div *ngIf="formEditManzana.$submitted || formEditManzana.nombre.$touched">
                          <span *ngIf="formEditManzana.nombre.$error.required" class="help-block">El nombre no puede estar vacío</span>
                      </div>
                  </div>                  
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
          </form>
      </div>

  </div>
</div> -->

<!-- Modal Alert-->
<!-- <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{alert.header}}</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <div class="" ng-bind-html="alert.message"></div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" style="width: 80px" data-dismiss="modal">Ok</button>
          </div>
      </div>

  </div>
</div> -->

<!-- Modal Confirmacion Eliminar Lote-->
<!-- <div class="modal fade" id="modalDelLote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Eliminar Lote</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <div class="" role="alert">
                      ¿Desea eliminar <strong>{{manzana_deleted.nombre}} - {{lote_deleted.nombre}}</strong>?
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="delLote()">Eliminar</button>
          </div>
      </div>

  </div>
</div>
 -->
<!-- Modal Confirmacion Eliminar Lote Prototipo-->
<!-- <div class="modal fade" id="modalDelLotePrototipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Eliminar Prototipo</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <div class="" role="alert">
                      ¿Desea eliminar <strong>{{prototipo_deleted.nombre}} </strong> de<strong> {{lote_deleted.nombre}}</strong>?
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="delPrototipo()">Eliminar</button>
          </div>
      </div>

  </div>
</div> -->

<!-- Modal Confirmacion Eliminar Manzana-->
<!-- <div class="modal fade" id="modalDelManzana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Eliminar Manzana</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <div class="" role="alert">
                      ¿Desea eliminar <strong>{{manzana_deleted.nombre}}</strong>?
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="delManzana()">Eliminar</button>
          </div>
      </div>

  </div>
</div> -->