<section class="container mt-2 mb-5">
    <div class="row">
        <div class="col-12 col-md-8">

            <!-- Seleccionar Obra -->
            <!--         <div class="mb-2">
                <select class="form-control" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
                    <option value="">Seleccionar...</option>
                    <option [value]="obra.id_obra" *ngFor="let obra of obras">{{obra.nombre}}</option>
                </select>

            </div> -->

            <div>
                <mat-form-field class="w-100">
                    <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
                        <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Manzanas y Lotes -->

            <div class="card">

                <div class="card-header padding-card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <span>Manzanas</span>
                        <button mat-icon-button (click)="addManzanas()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

                <!-- alerta cuando la obra aun no tiene manzanas -->
                <div *ngIf="obra.manzanas && obra.manzanas.length==0">
                    <div class="alert alert-primary text-center m-3" role="alert">
                        <strong>Agregue alguna manzana para continuar...</strong>
                        <hr>
                        <button type="button" class="btn btn-primary" (click)="addManzanas()">Agregar</button>
                    </div>
                </div>


                <!-- acordeon de manzanas -->
                <mat-accordion [displayMode]="'default'">
                    <mat-expansion-panel [hideToggle]="false" (opened)="selectManzana(i)" (closed)="onClosedManzana(i)"
                        *ngFor="let manzana of obra.manzanas; let i=index" #panel>
                        <mat-expansion-panel-header [ngClass]="{'bg-primary text-white':panel.expanded}">
                            <span class="align-self-center">{{manzana.nombre}}</span>
                            <div class="spacer"></div>
                            <div class="collapse-header-btns">
                                <span class="badge badge-pill badge-dark">{{manzana.lotes.length}}</span>
                                <button mat-icon-button [matMenuTriggerFor]="menu2" (click)="$event.stopPropagation()">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu2="matMenu">
                                    <button mat-menu-item (click)="editarManzana(manzana)">
                                        <mat-icon>create</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item (click)="addLotes(manzana)">
                                        <mat-icon>add_box</mat-icon>
                                        <span>Agregar lotes</span>
                                    </button>
                                    <button mat-menu-item (click)="delManzana(manzana)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-expansion-panel-header>


                        <div class="table-responsive">
                            <table class="table table-sm table-align-middle table-striped">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer; width:30px;">
                                            <!-- <mat-icon style="font-size: 20px">{{ manzana.selected?'check_box':'check_box_outline_blank'}}</mat-icon> -->
                                            <mat-checkbox color="accent" (change)="$event ? masterToggle(i) : null" [checked]="selection[i].hasValue() && isAllSelected(i)"
                                                [indeterminate]="selection[i].hasValue() && !isAllSelected(i)">
                                            </mat-checkbox>
                                        </th>
                                        <th>Lote</th>
                                        <th class="hidden-xs hidden-sm hidden-md">Código</th>
                                        <th>Prototipos</th>
                                        <th>Base</th>
                                        <th>Ampliación</th>
                                        <th>En Venta</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- (click)="toggleSelectionLote(manzana, lote)" class="pointer" [ngClass]="{'table-primary':lote.selected}" [ngClass]="{'bg-primary text-white':lote.selected}" -->
                                    <tr *ngFor="let lote of manzana.lotes" (click)="selection[i].toggle(lote)" class="pointer" [ngClass]="{'table-primary':selection[i].isSelected(lote)}">
                                        <td>
                                            <!-- <mat-icon style="font-size: 20px">{{ lote.selected?'check_box':'check_box_outline_blank'}}</mat-icon> -->
                                            <mat-checkbox color="accent" (click)="$event.stopPropagation()" (change)="$event ? selection[i].toggle(lote) : null" [checked]="selection[i].isSelected(lote)">
                                            </mat-checkbox>
                                        </td>
                                        <td>{{ lote.nombre}}</td>
                                        <td class="hidden-xs hidden-sm hidden-md">{{lote.code}}</td>
                                        <td>
                                            <span *ngFor="let prototipo of lote.prototipos">
                                                {{prototipo.nombre}}
                                                <br>
                                            </span>
                                        </td>
                                        <td>{{lote.valor_base|currency}}</td>
                                        <td>{{lote.valor_ampliacion|currency}}</td>
                                        <td>{{lote.en_venta| numberToYesNo}}</td>
                                        <td class="text-right">

                                            <button mat-button class="no-min" (click)="editarLote(manzana,lote, $event)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button mat-button class="no-min" (click)="delLote(manzana,lote, $event)">
                                                <i class="fa fa-times"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </mat-expansion-panel>
                </mat-accordion>
            </div>

        </div>

        <div class="col-12 col-md-4 mt-2">


            <!-- Operaciones -->
            <mat-expansion-panel class="mt-2" expanded="true">
                <mat-expansion-panel-header class="bg-info text-white">
                    Operaciones
                </mat-expansion-panel-header>

                <div class="">

                    <!--         <label class="col-form-label">{{num_lotes_selected()}} lote
                        <span *ngIf="num_lotes !== 1">s</span> seleccionado
                        <span *ngIf="num_lotes !== 1">s</span>
                    </label> -->

                    <!-- asignar prototipo -->
                    <div class="form-group">
                        <label>Prototipo</label>
                        <div class="input-group">
                            <select name="prototipo" class="form-control" [formControl]="opPrototipo">
                                <option value="">Seleccionar...</option>
                                <option [value]="prototipo.id_prototipo" *ngFor="let prototipo of obra.prototipos">{{prototipo.nombre}}</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" (click)="updatePrototipo()" [disabled]="opPrototipo.errors">Asignar</button>
                            </div>
                        </div>
                    </div>

                    <!--  asignar estado venta   -->
                    <div class="form-group">
                        <label>En venta</label>
                        <div class="input-group">
                            <select name="en_venta" class="form-control" [formControl]="opEnVenta">
                                <option value="">Seleccionar</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" (click)="updateEnVenta()" [disabled]="opEnVenta.errors">Asignar</button>
                            </div>
                        </div>
                    </div>


                    <!-- asignar valor base -->
                    <div class="form-group">
                        <label>Valor Base</label>
                        <div class="input-group">
                            <input name="valor_base" type="text" class="form-control" [formControl]="opValorBase">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" (click)="updateValorBase()" [disabled]="opValorBase.errors">Asignar</button>
                            </div>
                        </div>
                    </div>


                    <!-- asignar valor ampliacion -->
                    <div class="form-group">
                        <label>Valor Ampliación</label>
                        <div class="input-group">
                            <input name="valor_ampliacion" type="text" class="form-control" [formControl]="opValorAmpliacion">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" (click)="updateValorAmpliacion()" [disabled]="opValorAmpliacion.errors">Asignar</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{manzana_selected===null? 'Seleccione': obra.manzanas[manzana_selected].nombre}}</label>
                        <div>{{(manzana_selected===null?0:selection[manzana_selected].selected.length)|i18nPlural: lotesMapping}}</div>
                        <button type="button" class="btn btn-primary" (click)="debugSelection()">seleccionados</button>
                    </div>


                </div>

            </mat-expansion-panel>

        </div>

        <!-- test -->

        <!--         <button class="btn btn-primary" (click)="debugSelection()">selection</button>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <th>id</th>
                    <th>valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" class="pointer" (click)="selection.toggle(item)" [ngClass]="{'table-primary':selection.isSelected(item)}">
                    <td>
                        <mat-checkbox color="accent" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)">
                        </mat-checkbox>
                    </td>
                    <td>{{item.id}}</td>
                    <td>{{item.valor}}</td>
                </tr>
            </tbody>

        </table> -->

    </div>
</section>