<button mat-fab style="position:fixed; top:75px; right:20px; z-index:100" (click)="drawer.opened= !drawer.opened">
    <mat-icon aria-label="toggle side drawer">format_align_left</mat-icon>
</button>


<mat-drawer-container class="drawer-container">

    <mat-drawer class="" #drawer [mode]="mobileQuery.matches ? 'over':'side'" [opened]="!mobileQuery.matches" style="width:250px">

        <div class="p-3">
            <h4>Operaciones</h4>
            <hr>

            <div class="form-group">
                <h5>{{manzana_selected===null? 'Seleccione una manzana': obra.manzanas[manzana_selected].nombre}}</h5>
                <div>{{(manzana_selected===null?0:selection[manzana_selected].selected.length)|i18nPlural: lotesMapping}}</div>
            </div>

            <!-- asignar prototipo -->
            <div class="form-group">
                <label class="form-label">Prototipo</label>
                <div class="input-group">
                    <select name="prototipo" class="form-control" [formControl]="opPrototipo">
                        <option value="">Seleccionar...</option>
                        <option [ngValue]="prototipo" *ngFor="let prototipo of prototipos">{{prototipo.nombre}}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="addLotePrototipo()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opPrototipo.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <!--  asignar estado venta   -->
            <div class="form-group">
                <label class="form-label">En venta</label>
                <div class="input-group">
                    <select name="en_venta" class="form-control" [formControl]="opEnVenta">
                        <option value="">Seleccionar</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateEnVenta()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opEnVenta.errors ">Asignar</button>
                    </div>
                </div>
            </div>


            <!-- asignar valor base -->
            <div class="form-group">
                <label class="form-label">Valor Base</label>
                <div class="input-group">
                    <input name="valor_base" [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opValorBase">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateValorBase()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opValorBase.errors">Asignar</button>
                    </div>
                </div>
            </div>


            <!-- asignar valor ampliacion -->
            <div class="form-group">
                <label class="form-label">Valor Ampliación</label>
                <div class="input-group">
                    <input name="valor_ampliacion" [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opValorAmpliacion">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateValorAmpliacion()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opValorAmpliacion.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <!--  asignar tipo -->
            <div class="form-group">
                <label class="form-label">Tipo</label>
                <div class="input-group">
                    <select class="form-control" [formControl]="opTipo">
                        <option value="">Seleccionar</option>
                        <option value="0">Regular</option>
                        <option value="1">Irregular</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateTipo()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opTipo.errors ">Asignar</button>
                    </div>
                </div>
            </div>

            <!-- asignar metros excedente -->
            <div class="form-group">
                <label class="form-label">Metros Excedente</label>
                <div class="input-group">
                    <input [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opMetrosExcedente">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateMetrosExcedente()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opMetrosExcedente.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <!-- asignar valor ampliacion -->
            <div class="form-group">
                <label class="form-label">Precio Excedente</label>
                <div class="input-group">
                    <input [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opPrecioExcedente">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updatePrecioExcedente()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opPrecioExcedente.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Comisión Vendedor (%)</label>
                <div class="input-group">
                    <input [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opComisionVendedor">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateComisionVendedor()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opComisionVendedor.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Comisión Generente (%)</label>
                <div class="input-group">
                    <input [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opComisionGerente">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateComisionGerente()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opComisionGerente.errors">Asignar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Comisión Expediente (%)</label>
                <div class="input-group">
                    <input [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opComisionExpediente">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="updateComisionExpediente()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opComisionExpediente.errors">Asignar</button>
                    </div>
                </div>
            </div>



        </div>

    </mat-drawer>

    <mat-drawer-content>

        <!-- 100vh = alto del dispositivo -56 de la toolbar cuando está en modo mobile -3rem= pb-5 -.5 pt-2 -->
        <section class="container-fluid content pt-2 pb-5">

            <div class="row">
                <!-- -12 col-md-8 -->
                <div class="col">

                    <div>
                        <mat-form-field class="w-100">
                            <mat-select placeholder="Obra" [(ngModel)]="obra_selected" (change)="cargarObra(obra_selected)">
                                <mat-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Manzanas y Lotes -->

                    <div class="card">

                        <div class="card-header padding-card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Manzanas</span>
                                <button mat-icon-button (click)="addManzanas()" [disabled]="!obra.manzanas">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>

                        <!-- alerta cuando la obra aun no tiene manzanas -->
                        <div *ngIf="obra.manzanas && obra.manzanas.length==0">
                            <div class="alert alert-primary text-center m-3" role="alert">
                                <strong>Agregue alguna manzana para continuar...</strong>
                                <hr>
                                <button type="button" class="btn btn-primary" (click)="addManzanas()">Agregar</button>
                            </div>
                        </div>


                        <!-- acordeon de manzanas -->
                        <mat-accordion [displayMode]="'default'">
                            <mat-expansion-panel [hideToggle]="true" (opened)="selectManzana(i)" (closed)="onClosedManzana(i)" *ngFor="let manzana of obra.manzanas; let i=index"
                                #panel>
                                <mat-expansion-panel-header [ngClass]="{'bg-primary text-white':panel.expanded}">
                                    <span class="align-self-center">{{manzana.nombre}}</span>
                                    <div class="spacer"></div>
                                    <div class="collapse-header-btns">
                                        <span class="badge badge-pill badge-dark">{{manzana.lotes.length}}</span>
                                        <button mat-icon-button [matMenuTriggerFor]="menu2" (click)="$event.stopPropagation()">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu2="matMenu">
                                            <button mat-menu-item (click)="editarManzana(manzana)">
                                                <mat-icon>create</mat-icon>
                                                <span>Editar</span>
                                            </button>
                                            <button mat-menu-item (click)="addLotes(manzana)">
                                                <mat-icon>add_box</mat-icon>
                                                <span>Agregar lotes</span>
                                            </button>
                                            <button mat-menu-item (click)="delManzana(manzana)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Eliminar</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </mat-expansion-panel-header>


                                <div class="table-responsive">
                                    <table class="table table-sm table-align-middle table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <mat-checkbox class="pl-3" color="accent" (change)="$event ? masterToggle(i) : null" [checked]="selection[i].hasValue() && isAllSelected(i)"
                                                        [indeterminate]="selection[i].hasValue() && !isAllSelected(i)">
                                                    </mat-checkbox>
                                                </th>
                                                <th>Lote</th>
                                                <th class="d-none d-md-table-cell">Código</th>
                                                <th>Prototipos</th>
                                                <th>Base</th>
                                                <th>Ampliación</th>
                                                <th>EnVenta</th>
                                                <th>Tipo</th>
                                                <th>Excedente(m)</th>
                                                <th>Excedente($)</th>
                                                <th>%V</th>
                                                <th>%G</th>
                                                <th>%E</th>
                                                <th style="width: 90px"> </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let lote of manzana.lotes" (click)="selection[i].toggle(lote)" class="pointer" [ngClass]="{'table-primary':selection[i].isSelected(lote)}">
                                                <td>
                                                    <mat-checkbox class="pl-3" color="accent" (click)="$event.stopPropagation()" (change)="$event ? selection[i].toggle(lote) : null"
                                                        [checked]="selection[i].isSelected(lote)">
                                                    </mat-checkbox>
                                                </td>
                                                <td class="ws-nowrap">{{ lote.nombre}}</td>
                                                <td class="d-none d-md-table-cell">{{lote.code}}</td>
                                                <td>
                                                    <span *ngFor="let prototipo of lote.prototipos">
                                                        {{prototipo.nombre}}
                                                        <br>
                                                    </span>
                                                </td>
                                                <td>{{lote.valor_base|currency}}</td>
                                                <td>{{lote.valor_ampliacion|currency}}</td>
                                                <td>{{lote.en_venta| numberToYesNo}}</td>
                                                <td>{{lote.irregular| numberToYesNo:'RI'}}</td>
                                                <td>{{lote.metros_excedente| number}}</td>
                                                <td>{{lote.precio_excedente| currency}}</td>
                                                <td>{{lote.comision_vendedor}}</td>
                                                <td>{{lote.comision_gerente}}</td>
                                                <td>{{lote.comision_expediente}}</td>
                                                <td class="text-right ws-nowrap">

                                                    <button mat-button class="no-min" (click)="editarLote(manzana,lote, $event)">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button mat-button class="no-min" (click)="delLote(manzana,lote, $event)">
                                                        <i class="fa fa-times"></i>
                                                    </button>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </div>

                <!--  <div class="col-12 col-md-4 mt-2"> -->

                <!-- Operaciones -->
                <!--       <mat-expansion-panel class="mt-2" expanded="true">

                        <mat-expansion-panel-header class="bg-primary text-white">
                            Operaciones
                        </mat-expansion-panel-header>

                        <div class="pt-3"> -->

                <!--   <div class="form-group">
                                <h5>{{manzana_selected===null? 'Seleccione una manzana': obra.manzanas[manzana_selected].nombre}}</h5>
                                <div>{{(manzana_selected===null?0:selection[manzana_selected].selected.length)|i18nPlural: lotesMapping}}</div>
                            </div> -->

                <!-- asignar prototipo -->
                <!--    <div class="form-group">
                                <label class="form-label">Prototipo</label>
                                <div class="input-group">
                                    <select name="prototipo" class="form-control" [formControl]="opPrototipo">
                                        <option value="">Seleccionar...</option>
                                        <option [ngValue]="prototipo" *ngFor="let prototipo of prototipos">{{prototipo.nombre}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="addLotePrototipo()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opPrototipo.errors">Asignar</button>
                                    </div>
                                </div>
                            </div> -->

                <!--  asignar estado venta   -->
                <!--        <div class="form-group">
                                <label class="form-label">En venta</label>
                                <div class="input-group">
                                    <select name="en_venta" class="form-control" [formControl]="opEnVenta">
                                        <option value="">Seleccionar</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="updateEnVenta()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opEnVenta.errors ">Asignar</button>
                                    </div>
                                </div>
                            </div> -->


                <!-- asignar valor base -->
                <!--       <div class="form-group">
                                <label class="form-label">Valor Base</label>
                                <div class="input-group">
                                    <input name="valor_base" [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opValorBase">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="updateValorBase()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opValorBase.errors">Asignar</button>
                                    </div>
                                </div>
                            </div> -->


                <!-- asignar valor ampliacion -->
                <!--   <div class="form-group">
                                <label class="form-label">Valor Ampliación</label>
                                <div class="input-group">
                                    <input name="valor_ampliacion" [textMask]="{mask: numbermask}" type="text" class="form-control" [formControl]="opValorAmpliacion">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="updateValorAmpliacion()" [disabled]=" manzana_selected==null || !selection[manzana_selected].selected.length  || opValorAmpliacion.errors">Asignar</button>
                                    </div>
                                </div>
                            </div> -->


                <!--        </div>

                    </mat-expansion-panel>

                </div> -->

            </div>
        </section>

    </mat-drawer-content>

</mat-drawer-container>