<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12 mt-2">

      <h5 class="">Notificaciones</h5>
      <hr>

      <form [formGroup]="form" (ngSubmit)="guardar()">

        <div class="form-group row">
          <label for="etapa_uno" class="col-form-label col-sm-6">Apartado
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Checklist</label>
          <div class="input-group col-sm-6">
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="etapa_uno" name="etapa_uno" placement="bottom-left"
              [matDatepicker]="dpApartado" formControlName="etapa_uno">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpApartado.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
          <mat-datepicker touchUi="true" #dpApartado></mat-datepicker>
        </div>

        <div class="form-group row">
          <label for="etapa_dos" class="col-form-label col-sm-6">Checklist
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Infonavit</label>
          <div class="input-group col-sm-6">
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="etapa_dos" name="etapa_dos" placement="bottom-left"
              [matDatepicker]="dpChecklist" formControlName="etapa_dos">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpChecklist.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
          <mat-datepicker touchUi="true" #dpChecklist></mat-datepicker>
        </div>

        <div class="form-group row">
          <label for="etapa_tres" class="col-form-label col-sm-6">Infonavit
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Firma</label>
          <div class="input-group col-sm-6">
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="etapa_tres" name="etapa_tres" placement="bottom-left"
              [matDatepicker]="dpInfonavit" formControlName="etapa_tres">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpInfonavit.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
          <mat-datepicker touchUi="true" #dpInfonavit></mat-datepicker>
        </div>

        <div class="form-group row">
          <label for="etapa_tres" class="col-form-label col-sm-6">Firma
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Entrega</label>
          <div class="input-group col-sm-6">
            <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="etapa_tres" name="etapa_tres" placement="bottom-left"
              [matDatepicker]="dpFirma" formControlName="etapa_tres">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="dpFirma.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
          <mat-datepicker touchUi="true" #dpFirma></mat-datepicker>
        </div>


        <button type="button" class="btn btn-primary">Guardar</button>

      </form>



    </div>
  </div>
</div>