<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-6 mt-2">

      <mat-card class="mt-3">

        <mat-card-title>
          Estados Infonavit
        </mat-card-title>

        <form [formGroup]="formInfonavit" (ngSubmit)="guardarInfonavit()" id="id_formInfonavit">
          <div class="form-group row" *ngFor="let estado_infonavit of estados.infonavit">
            <label class="col-form-label col-sm-5">{{estado_infonavit.nombre}}</label>
            <div class="col-sm-7">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">días</span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group">
          <div>
            <button mat-raised-button class="btn-block" type="submit" color="primary" form="id_formInfonavit">GUARDAR</button>
          </div>
        </div>

      </mat-card>

      <mat-card class="mt-3">

        <mat-card-title>
          Estados Contado
        </mat-card-title>

        <form [formGroup]="formContado" (ngSubmit)="guardarContado()" id="id_formContado">
          <div class="form-group row" *ngFor="let estado_contado of estados.contado">
            <label class="col-form-label col-sm-5">{{estado_contado.nombre}}</label>
            <div class="col-sm-7">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">días</span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group">
          <div>
            <button mat-raised-button class="btn-block" type="submit" color="primary" form="id_formContado">GUARDAR</button>
          </div>
        </div>

      </mat-card>

      <mat-card class="mt-3">

        <mat-card-title>
          Estados Fovisste
        </mat-card-title>

        <form [formGroup]="formFovissste" (ngSubmit)="guardarFovissste()" id="id_formFovissste">
          <div class="form-group row" *ngFor="let estado_fovissste of estados.fovissste">
            <label class="col-form-label col-sm-5">{{estado_fovissste.nombre}}</label>
            <div class="col-sm-7">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">días</span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group">
          <div>
            <button mat-raised-button class="btn-block" type="submit" color="primary" form="id_formFovissste">GUARDAR</button>
          </div>
        </div>

      </mat-card>

    </div>

    <div class="col-6 mt-2">

      <mat-card class="mt-3">

        <mat-card-title>
          Estados Bancos
        </mat-card-title>

        <form [formGroup]="formBancos" (ngSubmit)="guardarBancos()" id="id_formBancos">
          <div class="form-group row" *ngFor="let estado_banco of estados.banco">
            <label class="col-form-label col-sm-5">{{estado_banco.nombre}}</label>
            <div class="col-sm-7">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">días</span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group">
          <div>
            <button mat-raised-button class="btn-block" type="submit" color="primary" form="id_formBancos">GUARDAR</button>
          </div>
        </div>

      </mat-card>

      <mat-card class="mt-3">

        <mat-card-title>
          Estados Cofinanciamiento
        </mat-card-title>

        <form [formGroup]="formConfinanciamiento" (ngSubmit)="guardarCofinanciamiento()" id="id_formConfinanciamiento">
          <div class="form-group row" *ngFor="let estado_cofinanciamiento of estados.cofinanciamiento">
            <label class="col-form-label col-sm-5">{{estado_cofinanciamiento.nombre}}</label>
            <div class="col-sm-7">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">días</span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-group">
          <div>
            <button mat-raised-button class="btn-block" type="submit" color="primary" form="id_formConfinanciamiento">GUARDAR</button>
          </div>
        </div>

      </mat-card>

    </div>
  </div>
</div>