
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
@import "variables";


.badge-apartado {
    color:white;
    background-color: $apartado; 
  
  }
  
  .badge-libre {
    color:white;
    background-color: $libre; 
  
  }
  
  .badge-bloqueado {
    color:white;
    background-color: $bloqueado; 
  
  }
  
  .badge-contrato {
    color:white;
    background-color: $contrato; 
  
  }
  
  .badge-escriturado {
    color:white;
    background-color: $escriturado; 
  
  }
  
  .badge-cancelado {
    color:white;
    background-color: $cancelado; 
  
  }


html, body, app-root, md-sidenav-container, .my-content {
    margin:0;
    //width: 100%;
    //height: 100%;
}

//fix bootstrap
/* button:focus{
    outline: none;
} */


body {
    font-family:Roboto, sans-serif;
}



/* Absolute Center Spinner */
.loading {
    position: fixed !important;
    z-index: 999;
    //height: 2em;
    //width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //opacity: .48;
    //background-color: rgba(0,0,0,0.6);
  }

.spacer{
    flex: 1 1 auto;
}


table.table-align-middle  {
    td {
        vertical-align: middle;
    }

    th {
        vertical-align: middle;
    }
}
.padding-card-header {
    padding: 0.25rem 1.25rem;
}


.avances .mat-expansion-panel-body {
    padding-right: 5px !important;
    padding-left: 5px !important;
}


.visible.invalid-feedback {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.no-min {
    &.mat-button {
        min-width: unset !important;
        padding: 0 12px !important;
    }
    &.mat-raised-button {
        min-width: unset !important;
        padding: 0 12px !important;
    }
   
}

