
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
@import "variables";




.bg-apartado {
    background-color: $apartado;   
  }
  
  .bg-libre {
    background-color: $libre;   
  }
  
  .bg-bloqueado {
    background-color: $bloqueado;   
  }
  
  .bg-contrato {
    background-color: $contrato;   
  }
  
  .bg-escriturado {
    background-color: $escriturado;   
  }
  

  .badge-apartado {
    color:white;
    background-color: $apartado; 
  
  }
  
  .badge-libre {
    color:white;
    background-color: $libre; 
  
  }
  
  .badge-bloqueado {
    color:white;
    background-color: $bloqueado; 
  
  }
  
  .badge-contrato {
    color:white;
    background-color: $contrato; 
  
  }
  
  .badge-escriturado {
    color:white;
    background-color: $escriturado; 
  
  }
  
  .badge-cancelado {
    color:white;
    background-color: $cancelado; 
  
  }


html, body, app-root, md-sidenav-container, .my-content {
    margin:0;
    //width: 100%;
    //height: 100%;
}

//fix bootstrap
/* button:focus{
    outline: none;
} */


body {
    font-family:Roboto, sans-serif;
}



/* Absolute Center Spinner */
.loading {
    position: fixed !important;
    z-index: 2000;
    //height: 2em;
    //width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //opacity: .48;
    //background-color: rgba(0,0,0,0.4);
  }

.spacer {
    flex: 1 1 auto;
}


table.table-align-middle  {
    td {
        vertical-align: middle;
    }

    th {
        vertical-align: middle;
    }
}
.padding-card-header {
    padding: 0.25rem 1.25rem;
}


.avances .mat-expansion-panel-body {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.avances .list-group-item {
    padding-left: 0 !important;
    /* padding-left: 5px !important; */
    padding-right: 0 !important;
}

.acordeon-prototipo .mat-expansion-panel-body {
    padding: 0 0px 0px;
}


.visible.invalid-feedback {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.ws-nowrap {
    white-space: nowrap;
}

.no-decoration {
    text-decoration: unset !important;
}

.col-form-label, .form-label {
    font-weight: 500;
}

.no-min {
    &.mat-button {
        min-width: unset !important;
        padding: 0 12px !important;
    }
    &.mat-raised-button {
        min-width: unset !important;
        padding: 0 12px !important;
    }
   
}

.mat-dialog-content {
    padding-top: 0.25rem !important;
}

.bg-active {
    background-color: #b8daff !important;
}


.drawer-container {
    height: 100%;
}

/*********funciona cuando  pantalla > 600px **********/
//height: 100%;
//position: relative;
/**************************************************/
.drawer-content {
    //64px del toolbar
    min-height: calc(100vh - 64px);
}

/********** aplicar cuando pantalla < 600 px *****/
//height toolbar = pantalla < 600px? 56px: 64px
//height: calc(100vh - 56px);
/***************************/
@media only screen and (max-width: 600px) {
    .drawer-content {
        //56px del toolbar
        min-height: calc(100vh - 56px);
    }
    
    
    //dialogo imagenes en mapa avances
    .no-padding.mat-dialog-content {
        padding: 0 5px;
    } 

    .jvectormap-zoomin, .jvectormap-zoomout {
        display: none !important;
    }

}


//fab button en mapa avances
.img-btn.mat-fab .mat-button-wrapper {
    line-height: 12px;
}

//dialogo imagenes en mapa avances
/* .no-padding.mat-dialog-content {
    padding: 0 5px;
} */




//acordeon de obra lateral
.manzanas {
    background-color: #2c3b41;
    color:#8aa4af;

    .list-group-item.list-group-item-action {
        background-color: #2c3b41;
        color:#8aa4af;
        cursor: pointer;
    
        &:hover {
            color:white;
        }
    }
}

//acordeon de obra lateral
.estructura {
    background-color: #222d32;
}

//acordeon de obra lateral
/* .manzanas .list-group-item {
    background-color: #2c3b41;
    color:#8aa4af;
    cursor: pointer;

    &:hover {
        background-color: #2c3b41;
        color:white !important;
    }
} */

.icono-tablero{
    font-size: 70px;//80px;
    margin: 0 0px 0px 20px;
    color:  #3f51b5;
    
}