<div class="container">
  
    <div class="row">
  
      <div class="col-12">
  
        <div class="card my-5">
          <div class="card-header">
            Editar Prototipo
          </div>
          <div class="card-body">
  
      
  
          </div>
          <div class="card-footer">
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary" >Aceptar</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>