<h1 mat-dialog-title>Nuevo Cliente</h1>
<div mat-dialog-content class="no-padding">




  <!-- Datos Generales -->

  <div class="container py-3">

    <form [formGroup]="form" id="id_form" (ngSubmit)="guardar()">


      <div class="form-group">
        <label class="col-form-label">Nombre completo</label>
        <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid':( form.get('nombre').invalid )}">
        <div class="invalid-feedback">Escriba un nombre</div>
      </div>

      <div class="form-group">
        <label class="col-form-label">Valor de operación</label>
        <input [textMask]="{mask: numberMask}" type="text" class="form-control" formControlName="valor_operacion">
      </div>

      <div class="form-group">
        <label class="col-form-label">Fecha entrega</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="fecha_entrega" placement="bottom-left" [matDatepicker]="dpFechaEntrega"
            formControlName="fecha_entrega">
          <span class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="dpFechaEntrega.open()">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
        <mat-datepicker touchUi="true" #dpFechaEntrega></mat-datepicker>
      </div>



    </form>

  </div>








</div>
<div mat-dialog-actions>
  <div class="text-center">
    <button type="button" mat-button class="" [mat-dialog-close]="true">CANCELAR</button>
    <button type="submit" form="id_form" mat-button color="primary" [disabled]="form.invalid">GUARDAR</button>
  </div>
</div>