<h1 mat-dialog-title>{{data.lote.manzana + ' ' + data.lote.nombre}}</h1>
<div mat-dialog-content class="no-padding">



    <div class="avances">

        <div class="text-right pb-2">
            <span>{{data.num_partidas_finalizadas||0}} de {{data.num_partidas||0}} partidas</span>
            <span class="ml-1 h5">{{ data.num_partidas_finalizadas/data.num_partidas |percent:'.2-2'}}</span>
        </div>


        <mat-accordion>




            <mat-expansion-panel *ngFor="let partida of data.acordeon" [hideToggle]="true">

                <mat-expansion-panel-header [ngClass]="{'bg-info text-white': partida.subpartidas.length==0? (partida.fecha_fin != null) : (partida.subpartidas.length - partida.num_subpartidas_finalizadas==0)}">
                    <span>{{partida.nombre}}</span>
                    <div class="spacer"></div>
                    <div class="collapse-header-btns">
                        <small class="d-none d-md-inline-block">{{partida.subpartidas.length==0? (partida.fecha_fin? 1:0) : partida.num_subpartidas_finalizadas}}
                            <span class="">de {{partida.subpartidas.length || "1"}}</span>
                        </small>
                        <small class="d-md-none">{{ partida.subpartidas.length==0? (partida.fecha_fin? 0:1) : partida.subpartidas.length - partida.num_subpartidas_finalizadas}}</small>
                    </div>
                </mat-expansion-panel-header>

                <!-- subpartidas -->
                <div *ngIf="partida.subpartidas.length>0">
                    <ul class="list-group">

                        <li class="list-group-item" *ngFor="let subpartida of partida?.subpartidas">
                            <div class="d-flex align-items-center px-2">

                                <div class="d-flex flex-column">
                                    <div style="font-size:0.91rem">{{subpartida.nombre}}</div>
                                    <div style="font-size: 0.91rem;">
                                        <span class="badge" [ngClass]="{'badge-secondary':!subpartida.fecha_fin, 'badge-primary':subpartida.fecha_fin}">
                                            <i class="fa fa-legal"></i>{{subpartida.fecha_fin|| "No terminada"}}</span>
                                        <span class="badge" [ngClass]="{'badge-secondary':!subpartida.fecha_liberacion, 'badge-success':subpartida.fecha_liberacion}">
                                            <i class="fa fa-usd"></i>{{subpartida.fecha_liberacion|| "No liberada"}}</span>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <!-- no tiene subpartidas -->
                <div *ngIf="partida.subpartidas.length===0">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex align-items-center px-2">

                                <div class="d-flex flex-column">
                                    <div style="font-size:0.91rem">
                                        <span class="badge badge-secondary" [ngClass]="{'badge-secondary':!partida.fecha_fin, 'badge-primary':partida.fecha_fin}">
                                            <i class="fa fa-legal"></i>{{partida.fecha_fin || "No terminada"}}</span>
                                        <span class="badge badge-secondary" [ngClass]="{'badge-secundary':!partida.fecha_liberacion, 'badge-success':partida.fecha_liberacion}">
                                            <i class="fa fa-usd"></i>{{partida.fecha_liberacion || "No liberada"}}</span>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

            </mat-expansion-panel>

        </mat-accordion>

    </div>

</div>
<div mat-dialog-actions>
    <button class="btn-block" mat-button [mat-dialog-close]="false">CERRAR</button>
</div>