<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/clientes',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-address-book icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/ventas-pagos',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Ventas Pagos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">attach_money</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/credito-puente',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Crédito Puente</mat-card-title>
          <span class="spacer"></span>
          <i class="icono-tablero fa fa-calculator"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/gastos-obras',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Gastos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">local_atm</i>
        </mat-card>
      </a>
    </div>



  </div>
</div>