<div class="container mt-3 mb-5">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['mapas', obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Mapas Escrituración</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">map</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['clientes']">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-address-book icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['lotes']">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Lotes</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-home icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['configuracion']">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Configuración</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">notifications</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['equipos']">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Equipos Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-user-circle-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <!--    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/alerta-clientes']">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Alerta Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">notifications</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/prospectos">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Prospectos</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-id-badge icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a routerLink="/nuevo-cliente" class="no-decoration">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Nuevo Cliente</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">person_add</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/estadisticas-ventas',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Estadísticas Ventas</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-bar-chart icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/ventas-pagos',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Ventas Pagos</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">attach_money</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" routerLink="/instituciones-credito">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Instituciones Crédito</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero">account_balance</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/vendedores',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Vendedores</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-user-circle-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/historial-apartados',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Historial Apartados</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-calendar icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/comisiones',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Comisiones</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-handshake-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
      <a class="no-decoration" [routerLink]="['/reportes',obra_default]">
        <mat-card class="d-flex align-items-center card-tablero">
          <mat-card-title class="mb-0">Reportes</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-download icono-tablero"></i>
        </mat-card>
      </a>
    </div>
 -->
  </div>
</div>